app-orglogin{
    height:100%;
}
.main{
    
    background:  linear-gradient(
  rgba(216, 222, 223, 0.747), 
  rgba(148, 150, 150, 0.45));
    .row{
        .left{
          
            height:100vh !important;
            padding-left:10px !important;
            
        }
        .right{
            padding-top:20px;
            background: transparent;
            .form-create{
                padding:20px !important;
            }
        }
    }
}