<section>
    <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" routerLink="/login">
                    <img src="assets/icon1.png" alt="" style="height:35px; margin-left:20px;">                
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">About ImukaAccess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/create_organisation">How it Woks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid"  [ngStyle]="{'background-image':'url(' + imageUrl + ')'}">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div>
                            <h1 class="display-4">Entrepreneur Support Organization</h1>
                            <h4 class="lead">Access Entrepreneur Clients to Benefit from your Support Programs.</h4>
                            <p  class="lead">Be intentional about reaching more Entrepreneurs…..Join Imuka Access today. </p>                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card text-white bg-primary mb-3" style="max-width: 100% ;">
                            <div class="card-header">Join Imuka Access today.</div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Organisation Name</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="name" id="exampleInputEmail1"  placeholder="Enter organisation name">
                                    </div>
                        
                                    <div class="form-group">
                                        <label f for="exampleInputPassword1">What services do you offer to enteprenuers?</label>
                                        <select class="form-control" multiple  name="services" [(ngModel)]="services" id="exampleInputPassword1" >
                                            <option value="Mentorship/Feedback">Mentorship/Feedback</option>
                                            <option value="Expertise/Know-How/Coaching(Online | hands-on  | both)">Expertise/Know-How/Coaching(Online | hands-on  | both)</option>
                                            <option value="Business Networking">Business Networking</option>
                                            <option value="Financing for my Business">Financing for my Business</option>
                                            <option value="Office/Space/Prestige">Office/Space/Prestige</option>
                                            <option value="Training Programs/Workshops">Training Programs/Workshops</option>
                                            <option value="Product development and refinement">Product development and refinement</option>
                                            <option value="Business management and strategy skills">Business management and strategy skills</option>
                                            <option value="Sales and Marketing skills">Sales and Marketing skills</option>
                                            <option value="Financial Management skills">Financial Management skills</option>
                                            <option value="Customized training services">Customized training services</option>
                                            <option value="Online Presence & Visibility(Online Brand)">Online Presence & Visibility(Online Brand)</option>
                                        </select>
                                        <small id="emailHelp" class="form-text text-muted">Press Ctrl / Command and then select all that apply.</small>
                                    </div>
                
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Website Link</label>
                                        <input type="link" class="form-control"  name="website" [(ngModel)]="website"/>
                                    </div>
               
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Organisation Email</label>
                                            <input type="email" name="s_email" [(ngModel)]="s_email" class="form-control">
                                        </div>
                    
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">Contact Number</label>
                                            <input type="tell" name="contact" [(ngModel)]="contact" class="form-control">
                                        </div>
                            
                                    </div>
                                    
                                    <button type="submit" class="btn btn-outline-warning btn-block" (click)="create_organisation()"> Next </button>
                                </form>
                            </div>
                            <div class="card-footer">
                                <a style="color:#eee;" routerLink="/login">Already has account? Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section style="background: #eee; padding:40px;" class="text-center">
    <div class="container">
        <h1>As an entrepreneur support organization; </h1>
        <h3>the progress and growth of your member participants is critical to your success story and uptake of more members. Your success will also attract more stakeholders  partners and funding opportunities.</h3>
    </div>
</section>
<section  style="background: #fff; padding:40px; ">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h4>Broaden your Networks</h4><p>Connect with a wider entrepreneurial network.</p></div>
            <div class="col-md-4"><h4>Organization Visibility</h4><p>Allow your organization and its services to be visible to a wider entrepreneurial network.</p></div>
            <div class="col-md-4"><h4>Share your Events and Opportunities</h4><p>Share your opportunities and events to a wider entrepreneurial network.</p></div>
            <div class="col-md-4"><h4>More traction</h4><p>Allow your entrepreneur clients to benefit to wider ecosystem opportunities for better success stories.</p></div>
            <div class="col-md-4"><h4>Visibility/Progress insights</h4><p>Visibility and progress insights of your entrepreneur clients.</p></div>
        </div>
    </div>
</section>
    
    
      