<div class="main">
  <div class="row">
      <div class="col-md-6 left">
          <div>
              <h1><i class="fa fa-users"></i></h1>
              <h1>Support organisations</h1>
              <p>Lets strengthen employers’ and entrepreneurs’ organisations in emerging markets to enhance the enabling environment for entrepreneurs and to promote the membership of entrepreneurs to those organisations. </p>
              <button type="submit" class="btn btn-primary" routerLink="/login">Login to organisation</button>
            </div>

      </div>
      <div class="col-md-6 right">
        <div class="forms">
         
              <div class="form-create">
                  <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Organisation name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="name" id="exampleInputEmail1"  placeholder="Enter email">
                      </div>
         \
                      <div class="form-group">
                        <label f for="exampleInputPassword1">What services do you offer to enteprenuers?</label>
                        <select class="form-control" multiple  name="services" [(ngModel)]="services" id="exampleInputPassword1" >
                            <option value="Mentorship/Feedback">Mentorship/Feedback</option>
                            <option value="Expertise/Know-How/Coaching(Online | hands-on  | both)">Expertise/Know-How/Coaching(Online | hands-on  | both)</option>
                            <option value="Business Networking">Business Networking</option>
                            <option value="Financing for my Business">Financing for my Business</option>
                            <option value="Office/Space/Prestige">Office/Space/Prestige</option>
                            <option value="Training Programs/Workshops">Training Programs/Workshops</option>
                            <option value="Product development and refinement">Product development and refinement</option>
                            <option value="Business management and strategy skills">Business management and strategy skills</option>
                            <option value="Sales and Marketing skills">Sales and Marketing skills</option>
                            <option value="Financial Management skills">Financial Management skills</option>
                            <option value="Customized training services">Customized training services</option>
                            <option value="Online Presence & Visibility(Online Brand)">Online Presence & Visibility(Online Brand)</option>
                        </select>
                        <small id="emailHelp" class="form-text text-muted">Press Ctrl / Command and then select all that apply.</small>
                      </div>

                      <div class="form-group">
                          <label for="exampleInputPassword1">Organisation website</label>
                          <input type="link" class="form-control" name="website" [(ngModel)]="website" id="exampleInputPassword1">
                      </div>

                      <div class="row">
                          <div class="form-group col-md-6">
                              <label for="exampleInputPassword1">Organisation Email</label>
                              <input type="email" name="s_email" [(ngModel)]="s_email" class="form-control">
                          </div>
    
                          <div class="form-group col-md-6">
                              <label for="exampleInputPassword1">contact phone number</label>
                              <input type="password" name="contact" [(ngModel)]="contact" class="form-control">
                          </div>
                      </div>
                      
                      <button type="submit" class="btn btn-primary" (click)="create_organisation()">Create you Account</button>
                  </form>
                  <ng4-loading-spinner  [timeout]="10000" [zIndex]="9999"></ng4-loading-spinner>   
              </div>
            
        </div>
      </div>
  </div>
</div>