<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="banner">My Businesses</div>
        <div class="content row">
          <div class="col-md-6 carddata" *ngFor="let business of businesses">
            <div class="card">
              <img
                class="card-img-top"
                src="assets/v.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Business name</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a routerLink="pitch_book">Pitch book</a> 
                </li>
                <li class="list-group-item">
                    <a routerLink="documents">Documents </a>
                </li>
                <li class="list-group-item">
                    <a routerLink="pitch_book">Daily Updates</a>
                </li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">12 Follows</a>
                <a href="#" class="card-link"></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 add">
              <a routerLink="/add_business">
                <i class="fa fa-plus add_btn"></i>
              </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 feeds">
        <div class="feeds"><app-feeds></app-feeds></div>
      </div>
    </div>
  </div>
</div>
