<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="mainmenu">
              <app-mainmenu></app-mainmenu>
          </div>
      </div>
      <div class="col-md-9">
        <div class="jumbotron">
        <h1 class="display-4">My Businesses</h1>
        <p>Find upcoming networking and training events in your sector and region, including ImukaAccess Series events.</p>
        <button class="btn btn-warning btn-sm" (click)="openModal(add, 'k')">Add Business / contract</button>
        </div>

        <div class="content row">
          <div class="col-md-12 carddata" *ngFor="let business of businesses">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-5 bg_image" [ngStyle]="{'background-image':'url(' + business.business_cover + ')'}" >

                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <div class="media">
                        <img [src]="business.business_logo" style="height:70px; width:70px; margin-right:10px; " (error)="img.src = 'https://via.placeholder.com/150'" #img>
                      <div class="media-body">
                        <h5 class="mt-0">{{business?.business_name}} <small class="text-muted">({{business.legal_entity}})</small></h5>
                        <p class="card-text">{{business.sectors | stringArray}}</p>
                        <p class="card-text">{{business.country}} <small>({{business.region}})</small></p>

                        <button class="btn btn-danger  btn-sm" *ngIf="business.on_program==='N' && business.prop_type === 'business'" (click)="openModal(Join, business)" style="margin-right:10px;">Apply For Program</button>
                          <button class="btn btn-primary btn-sm" routerLink="/business/{{business.business_id}}" >View Profile</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<ng-template #Join style="padding:0px">
    <div class="modal-header">
      <h4 class="modal-title pull-left" style="color:#fff;">Choose the best package that suites your business</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="padding:5px">
    <div>
        <div style="padding:10px;">
            <div class="row">
                <div class="col-md-6" *ngFor="let package of packages; let i=index">
                    <div class="card" style="width: 100%; text-align: center;">
                        <img src="{{package.img}}" class="card-img-top" style="width:60%; margin:auto;">
                        <div class="card-body">
                          <h6 class="card-title">{{package.name}}</h6>
                          <p class="card-text">For a period of {{package.period}}</p>
                        </div>
                        <p>{{package.description}}</p>
                        <h3>{{package.price}}</h3>
                        <div class="card-body">
                          <button class="btn-b-block btn btn-primary card-link"  (click)="joinProgram(i)">Choose program </button>
                        </div>
                      </div>
                </div>
              </div>
        </div>
    </div>
  </div>
</ng-template>

<ng-template #add style="padding:0px">
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="color:#fff;">Add your Business to Imuka</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="padding:20px">
  <div>
      <form id="add_businessform">
          <div class="row">
            <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Type</label>
              <select class="form-control" [(ngModel)]="type" name="type" (change)="selecttype($event)">
                  <option value="business">Business</option>
                  <option value="contract">Contract</option>
              </select>
              </div></div>
         <div class="col-md-6"> <div class="form-group" >
          <label for="exampleInputEmail1"><span>{{type}}</span> name</label>
          <input type="text" class="form-control" [(ngModel)]="business_name" name="business_name" placeholder="Enter Name">
          </div>

        </div>
        </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Select Country</label>
                    <select class="form-control" [(ngModel)]="country" name="country">
                      <option value="Algeria">Algeria</option>
                      <option value="Angola">Angola</option>
                      <option value="Benin">Benin</option>
                      <option value="Botswana">Botswana</option>
                      <option value="Burkina Faso">Burkina Faso</option>
                      <option value="Burundi">Burundi</option>
                      <option value="Cameroon">Cameroon</option>
                      <option value="Cape Verde">Cape Verde</option>
                      <option value="Central African Republic"
                        >Central African Republic</option
                      >
                      <option value="Chad">Chad</option>
                      <option value="Comoros">Comoros</option>
                      <option value="Congo - Brazzaville"
                        >Congo - Brazzaville</option
                      >
                      <option value="Congo - Kinshasa">Congo - Kinshasa</option>
                      <option value="Côte d’Ivoire">Côte d’Ivoire</option>
                      <option value="Djibouti">Djibouti</option>
                      <option value="Egypt">Egypt</option>
                      <option value="Equatorial Guinea"
                        >Equatorial Guinea</option
                      >
                      <option value="Eritrea">Eritrea</option>
                      <option value="Ethiopia">Ethiopia</option>
                      <option value="Gabon">Gabon</option>
                      <option value="Gambia">Gambia</option>
                      <option value="Ghana">Ghana</option>
                      <option value="Guinea">Guinea</option>
                      <option value="Guinea-Bissau">Guinea-Bissau</option>
                      <option value="Kenya">Kenya</option>
                      <option value="Lesotho">Lesotho</option>
                      <option value="Liberia">Liberia</option>
                      <option value="Libya">Libya</option>
                      <option value="Madagascar">Madagascar</option>
                      <option value="Malawi">Malawi</option>
                      <option value="Mali">Mali</option>
                      <option value="Mauritania">Mauritania</option>
                      <option value="Mauritius">Mauritius</option>
                      <option value="Mayotte">Mayotte</option>
                      <option value="Morocco">Morocco</option>
                      <option value="Mozambique">Mozambique</option>
                      <option value="Namibia">Namibia</option>
                      <option value="Niger">Niger</option>
                      <option value="Nigeria">Nigeria</option>
                      <option value="Rwanda">Rwanda</option>
                      <option value="Réunion">Réunion</option>
                      <option value="Saint Helena">Saint Helena</option>
                      <option value="Senegal">Senegal</option>
                      <option value="Seychelles">Seychelles</option>
                      <option value="Sierra Leone">Sierra Leone</option>
                      <option value="Somalia">Somalia</option>
                      <option value="South Africa">South Africa</option>
                      <option value="Sudan">Sudan</option>
                      <option value="Swaziland">Swaziland</option>
                      <option value="Tanzania">Tanzania</option>
                      <option value="Togo">Togo</option>
                      <option value="Tunisia">Tunisia</option>
                      <option value="Uganda">Uganda</option>
                      <option value="Zambia">Zambia</option>
                      <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label >Select region</label>
                    <select class="form-control" [(ngModel)]="region" name="region">
                        <option value="Northern">Northern</option>
                        <option value="Western">Western</option>
                        <option value="Central">Central</option>
                        <option value="Eastern">Eastern</option>
                        <option value="Southern">Southern</option>
                    </select>
                  </div>
            </div>
          </div>


          <div class="form-group">
            <label >Legal status of entity </label>
            <select  class="form-control" [(ngModel)]="legal_status" name="legal_status">
              <option value="Not registered">Not registered</option>
              <option value="Sole proprietor business">Sole proprietor business</option>
              <option value="Partnership">Partnership</option>
              <option value="Company limited by shares">Company (limited by shares)</option>
              <option value="Company limited by guarantee">Company (limited by guarantee)</option>
              <option value="Association">Association</option>
              <option value="cooperative">cooperative</option>
              </select>
          </div>

          <div class="form-group" *ngIf="type === 'business'">
            <label >Stage of business growth</label>
            <select class="form-control" [(ngModel)]="business_stage" name="business_stage" >
                <option value="Business idea">Business idea</option>
                <option value="Start up">Start up</option>
                <option value="Early growth">Early growth</option>
                <option value="Expansion">Expansion</option>
                <option value="Project">Project</option>
                <option value="Contract">Contract</option>
            </select>
          </div>


          <div class="form-group" data-toggle="tooltip" title="click Ctrl and select">
            <label>Select all sectors that apply to your business.</label>
            <select  class="form-control" multiple  [(ngModel)]="sectors" name="sectors">
                <option value="Agriculture/Agribusiness/ Value-addition ">Agriculture/Agribusiness/ Value-addition
                </option>
                <option value="Clean Energy/Recycling/Upcycling and Environmental Conservation ">Clean Energy/Recycling/Upcycling and Environmental Conservation
                </option>
                <option value="Technology/ ICT and IT-Enabled Services">Technology/ ICT and IT-Enabled Services</option>
                <option value="Tourism and Hospitality">Tourism and Hospitality</option>
                <option value="Healthcare and Pharmaceuticals">Healthcare and Pharmaceuticals</option>
                <option value="Education">Education</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Trade(Retail and Wholesale)" >Trade(Retail and Wholesale)</option>
                <option value="Transport and Logistics">Transport and Logistics</option>
                <option value="Services">Services</option>
            </select>

          </div>

          <div class="row" *ngIf="type === 'business'">
            <div class="col-md-6" >
                <div class="form-group">
                <label for="exampleInputEmail1">start date of operations </label>
                <input type="date" class="form-control"   [(ngModel)]="start_of_operation" name="start_of_operation">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Date of registrations </label>
                    <input type="date" class="form-control"   [(ngModel)]="date_of_reg" name="date_of_reg">
                </div>
            </div>
          </div>
          <div class="row" *ngIf="type === 'contract'">
              <div class="col-md-6" >
                  <div class="form-group">
                  <label for="exampleInputEmail1">start date of Contract </label>
                  <input type="date" class="form-control"   [(ngModel)]="start_contract" name="start_contract">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="exampleInputEmail1">End date of contract </label>
                      <input type="date" class="form-control"   [(ngModel)]="end_contract" name="end_contract">
                  </div>
              </div>
            </div>

          <div class="row">
            <div class="col-md-9">
              <p style="color:red;" *ngIf="error">{{msg}}</p>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-block" (click)="add_business()">{{btnText}}</button>
            </div>
          </div>

          </form>
  </div>
</div>
</ng-template>
