<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="mainmenu"><app-mainmenu></app-mainmenu></div>
      </div>
      <div class="col-md-6">
        <div class="banner">
          My Businesses
          
        </div>
        <div class="content">
            
        </div>
      </div>
      <div class="col-md-3 feeds">
        <div class="feeds"><app-feeds></app-feeds></div>
      </div>
    </div>
  </div>
</div>
