  <div class="">
    <div class="row">
      <div class="col-md-8">
         <div style="text-align:center; padding:20px">
            <h3>Forgot Your Password ?</h3>
            <p>Enter the E-mail address or phone number attached to your account and we send the instructions to change you password.
         </div>
      </div>
      <div class="col-md-4">
         <div style="text-align:center; padding:50px">Login into your Account today.</div>
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address / Phone number</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email or phone number">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Reset My Password</button>
          </form>

       <div style="text-align:center; padding:50px; font-size:12px;">
      <b><a routerLink="/">Back to login</a></b>
    </div>
      </div>
    </div>
</div>
