<div class="myrow">
    <div class="tutorials">
      <h2>Forgot Your Password ?</h2>
      <p>Enter the E-mail address attached to your account and we send the instructions to change you password.
    </p>
    </div>
    <div class="forms row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Reset My Password</button>
          </form>
      </div>
      <div class="col-md-4"></div> 
    </div>
  </div>
  