
.col-md-8{
background:red;
height:100vh !important;
}


.col-md-4{
  background:#fff;
  height:100vh !important;
  }

body{
  height: 100vh !important;
}



@media only screen and (max-width: 768px) {

  
.col-md-8{
  background:red;
  height:50vh !important;
  text-align: center;
  padding:20px;

  }
  
  
  .col-md-4{
    background:#fff;
    height:50vh !important;
  text-align: center;
   padding:20px;
    }

    

}