<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="jumbotron" style="padding-top:0">
              <button class="btn btn-outline-primary btn-sm" style="width:100px; margin-top:20px; margin-bottom: 10px;" (click)="goback()"><i class="fa fa-chevron-left"></i> back</button><br/>
              <b style="font-size:14px">{{business?.business_name}} Pitch Book</b>
              <p *ngIf="user?.user_type=='entrepreneur'">Details of your business' pitch book are here edit to update by changing the mode</p>
              <button class="btn btn-primary btn-sm" style="margin-bottom:20px" (click)="openModal(template, $event)">Generate Pitchbook</button><br/>
              <div *ngIf="user?.user_type=='entrepreneur'">
                <button class="btn btn-warning btn-sm" (click)="save_changes()" *ngIf="edit">Save Changes</button><br/>
                <button class="btn btn-warning btn-sm" (click)="edit_mode()" *ngIf="!edit">Enable Editing Mode</button>
              </div>
          </div>
      </div>
      <div class="col-md-8">
        <div class="content">
            <section>
                <b style="text-transform: capitalize">{{business?.business_name}}</b><br/>
                <span>{{business?.legal_entity}}</span>
            </section>

            <section>
                <b>Company purpose</b><br/>
                <p>{{pitch?.purpose}}</p>
                <textarea *ngIf="edit" class="form-control" name="pitch.purpose" [(ngModel)]="pitch.purpose" cols="30" rows="6"></textarea>
            </section>

            <section>
                <b>Problem or opportunity</b><br/>
                <p>{{pitch?.problem}} </p>
                <textarea *ngIf="edit" class="form-control" name="pitch.problem" [(ngModel)]="pitch.problem" cols="30" rows="6"></textarea>
            </section>

            <section>
                <b>Solution</b><br/>
                <p>{{pitch?.solution}}</p>
                <textarea *ngIf="edit" class="form-control" name="pitch.solution" [(ngModel)]="pitch.solution" cols="30" rows="6"></textarea>
            </section>

            <section>
                <b>Why now</b><br/>
                <p>{{pitch?.why_now}}</p>
                <textarea *ngIf="edit" class="form-control" name="pitch.why_now" [(ngModel)]="pitch.why_now" cols="30" rows="6"></textarea>
            </section>

            <section>
                <b>Product or service</b><br/>
                <div class="media" *ngFor="let product of products" style="margin-bottom:30px; margin-top:18px">
                  <img src="{{product.images}}" class="mr-3" alt="..." style="height:150px; width:150px"/>
                  <div class="media-body">
                    <h5 class="mt-0" >{{product?.name}}</h5>
                    <p style="color:gray; font-size:14px">{{product?.description}}</p>
                   <div class="row">
                        <div class="col">
                          <span style="font-size: 12px; ">price</span>
                        </div>
                           <div class="col">
                             <span style="font-size: 12px">{{product?.price}}</span>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col">
                                <span style="font-size: 12px">Quantities</span>
                            </div>
                            <div class="col">
                                <span style="font-size: 12px">Kilograms / grams</span>
                            </div>
                        </div>


                          </div>

              </div>

            </section>

            <section>
                <b>Market size</b><br/>
                <div>
                <div style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto" [chart]="piechart"></div>

                    <div>
                        <p>Available Markert : <b>{{pitch?.available}}</b></p>
                        <p>Potential Markert : <b>{{pitch?.potetinal}}</b></p>
                        <p>Served Markert : <b>{{pitch?.served}}</b></p>
                    </div>
                </div>
                <div *ngIf="edit">
                    <div>
                        <label for="">Available Markert</label>
                        <input type="number" class="form-control" name="pitch.available" [(ngModel)]="pitch.available" placeholder=""/>
                    </div>

                    <div>
                        <label for="">Potential Markert </label>
                        <input type="number" class="form-control"  name="pitch.potetinal" [(ngModel)]="pitch.potetinal" placeholder=""/>
                    </div>

                    <div>
                        <label for="">Served Markert</label>
                        <input type="number" class="form-control"  name="pitch.served" [(ngModel)]="pitch.served" placeholder=""/>
                    </div>
                </div>
            </section>

            <section>
                <b>Competitive Advantage</b><br/>
                <div style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto" [chart]="barchart"></div>
                <div *ngIf="edit">

                            <div padding *ngIf="factors">

                            <div class="multiselect">
                              <label floating>Select only three factors.></label> &nbsp;<span class="multiclick"  style="color:gray">Ctrl + Click</span>
                              <select multiple="true" [(ngModel)]="comp_factors" style="width:100%">
                                <option value="Price"> Price</option>
                                <option value="Product"> Product</option>
                                <option value="Reliability"> Reliability</option>
                                <option value="Quality"> Quality</option>
                                <option value="Durability"> Durability</option>
                                <option value="Image or style"> Image or style </option>
                                <option value="Value"> Value</option>
                                <option value="Name Recognition"> Name Recognition </option>
                                <option value="customer Service"> customer Service</option>
                                <option value="Customer Relations"> Customer Relations</option>
                                <option value="Convenience"> Convenience</option>
                                <option value="Speed">Speed</option>
                                <option value="Friendly service"> Friendly service</option>
                                <option value="On time">On time</option>
                                <option value="Service">Service</option>
                                <option value="Selection or Variety"> Selection/Variety</option>
                                <option value="Stability">Stability</option>
                                <option value="Expertise">Expertise</option>
                                <option value="Reputation or Image"> Reputation or Image</option>
                                <option value="Location">Location</option>
                                <option value="Appearance">Appearance</option>
                                <option value="Sales Method">Sales Method</option>
                                <option value="Credit policies">Credit policies</option>
                                <option value="Distribution or Channel">Distribution or Channel</option>
                                <option value="targeted customers">targeted customers</option>
                                <option value="Positioning"> Positioning</option>
                                <option value="Superior quality">Superior quality</option>
                                <option value="Low price">Low price</option>
                                <option value="Customizable products">Customizable products</option>
                                <option value="Unique Features">Unique Features</option>
                                <option value="Rapid Delivery">Rapid Delivery</option>
                              </select> </div>




                                <button block  class="btn btn-primary btn-sm" (click)="editcompetitive()">Next</button>

                            </div>

                            <div *ngIf="competitors">
                                Rate yourself on the scale of 5

                                    <div class="form-group">
                                    <label floating>{{comp_factors[0]}}</label>
                                    <select class="form-control" type="number" [(ngModel)]="competitor1_info.comparison.factor1">
                                    <option value=1 >1</option>
                                    <option value=2 >2</option>
                                    <option value=3 >3</option>
                                    <option value=4 >4</option>
                                    <option value=5>5</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <label floating>{{comp_factors[1]}}</label>
                                        <select class="form-control" [(ngModel)]="competitor1_info.comparison.factor2">
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        </select>
                                        </div>
                                        <div class="form-group" >
                                            <label floating>{{comp_factors[2]}}</label>
                                            <select class="form-control" [(ngModel)]="competitor1_info.comparison.factor3">
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                            <option value=4>4</option>
                                            <option value=5>5</option>
                                            </select>
                                        </div>

                                        <button type="button" (click)="editcompetitive()" class="btn btn-secondary btn-sm">Next</button>


                            </div>
                            <div *ngIf="competitor1">
                                Rate your self on the scale of 5

                                    <div class="form-group">
                                    <input type="text" class="form-control" name="competitor2_info.name" [(ngModel)]="competitor2_info.name" placeholder="Enter competitor 1">
                                    </div>

                                        <div class="form-group">
                                            <label floating>{{comp_factors[0]}}</label>
                                            <select class="form-control" [(ngModel)]="competitor2_info.comparison.factor1">
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                            <option value=4>4</option>
                                            <option value=5>5</option>
                                            </select>
                                            </div>
                                            <div class="form-group">
                                                <label floating>{{comp_factors[1]}}</label>
                                                <select class="form-control" [(ngModel)]="competitor2_info.comparison.factor2">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                                </select>
                                                </div>
                                                <div class="form-group" >
                                                    <label floating>{{comp_factors[2]}}</label>
                                                    <select class="form-control" [(ngModel)]="competitor2_info.comparison.factor3">
                                                    <option value=1>1</option>
                                                    <option value=2>2</option>
                                                    <option value=3>3</option>
                                                    <option value=4>4</option>
                                                    <option value=5>5</option>
                                                    </select>
                                                </div>

                                    <button type="submit" (click)="editcompetitive()" class="btn btn-primary">Next</button>


                            </div>
                            <div *ngIf="competitor2">
                                        Rate your self on the scale of 5

                                            <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Enter competitor 2" name="competitor3_info.name" [(ngModel)]="competitor3_info.name">
                                            </div>
                                            <div class="form-group">
                                                <label floating>{{comp_factors[0]}}</label>
                                                <select class="form-control" [(ngModel)]="competitor3_info.comparison.factor1">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                                </select>
                                                </div>
                                                <div class="form-group">
                                                    <label floating>{{comp_factors[1]}}</label>
                                                    <select class="form-control" [(ngModel)]="competitor3_info.comparison.factor2">
                                                    <option value=1>1</option>
                                                    <option value=2>2</option>
                                                    <option value=3>3</option>
                                                    <option value=4>4</option>
                                                    <option value=5>5</option>
                                                    </select>
                                                    </div>
                                                    <div class="form-group" >
                                                        <label floating>{{comp_factors[2]}}</label>
                                                        <select class="form-control" [(ngModel)]="competitor3_info.comparison.factor3">
                                                        <option value=1>1</option>
                                                        <option value=2>2</option>
                                                        <option value=3>3</option>
                                                        <option value=4>4</option>
                                                        <option value=5>5</option>
                                                        </select>
                                                    </div>
                                                <button type="submit" (click)="editcompetitive()" class="btn btn-primary">Next</button>


                            </div>
                            <div *ngIf="competitor3">
                        Rate your self on the scale of 5

                            <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter competitor 3" name="competitor4_info.name" [(ngModel)]="competitor4_info.name">
                            </div>
                            <div class="form-group">
                                <label floating>{{comp_factors[0]}}</label>
                                <select class="form-control" [(ngModel)]="competitor4_info.comparison.factor1">
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <label floating>{{comp_factors[1]}}</label>
                                    <select class="form-control" [(ngModel)]="competitor4_info.comparison.factor2">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    </select>
                                    </div>
                                    <div class="form-group" >
                                        <label floating>{{comp_factors[2]}}</label>
                                        <select class="form-control" [(ngModel)]="competitor4_info.comparison.factor3">
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>
                                        </select>
                                    </div>
                                     <button type="submit" (click)="editcompetitive()" class="btn btn-primary">Finish</button>
                            </div>
                            <button type="submit" *ngIf="savechanges" (click)="save_changes()" class="btn btn-secondary">Save changes</button>

            </div>
            </section>


            <section>
                <b>business Model</b> <br/><span>{{pitch?.business_model}}</span><br/>
                <p>Revenue</p><br/><span>{{pitch?.revenue}}</span><br/>
                <b>Pricing</b><br/><span>{{pitch?.pricing}}</span><br/>
                <b>Average accont size / Lifetime value</b><br/><span>{{pitch?.lifetime_value}}</span><br/>
                <b>Distribution model</b><br/><span>{{pitch?.distribution_model}}</span><br/>
                <div  *ngIf="edit">
                    <b>business Model</b>
                    <textarea class="form-control" name="pitch.business_model" [(ngModel)]="pitch.business_model"></textarea>
                    <p>Revenue</p>
                    <textarea class="form-control" name="pitch.revenue" [(ngModel)]="pitch.revenue" cols="30" rows="6"></textarea>
                    <b>Pricing</b>
                    <textarea class="form-control" name="pitch.pricing" [(ngModel)]="pitch.pricing" cols="30" rows="6"></textarea>
                    <b>Average accont size / Lifetime value</b>
                    <textarea class="form-control" name="pitch.lifetime_value" [(ngModel)]="pitch.lifetime_value" cols="30" rows="6"></textarea>
                    <b>Distribution model</b>
                    <textarea class="form-control" name="pitch.distribution_model" [(ngModel)]="pitch.distribution_model" cols="30" rows="6"></textarea>
                </div>
            </section>

            <section>
                <b>business Financials</b><br/>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Year</th>
                      <th scope="col">Return on sales</th>
                      <th scope="col">Return on Investment</th>
                      <th scope="col">Return on equity</th>
                      <th scope="col">Debt-Equity Ratio</th>
                      <th scope="col">Internal Rate of Return</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let financial of financials">
                      <td style="font-size:12px">{{financial.period_from}} - {{financial.period_to}}</td>
                      <td>{{financial.ros}}</td>
                      <td>{{financial.roi}}</td>
                      <td>{{financial.roe}}</td>
                      <td>{{financial.der}}</td>
                      <td>{{financial.irr}}</td>
                    </tr>
                  </tbody>
                </table>
            </section>

            <section>
                <b>Investment Request</b><br/><br/>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Cash Need (USD)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Marketing</td>
                      <td>{{investimentNeed.marketing}}</td>
                    </tr>

                    <tr>
                      <td>Operations and Administration</td>
                      <td>{{investimentNeed.operations}}</td>
                    </tr>

                    <tr>
                      <td>Machinery and Equipment</td>
                      <td>{{investimentNeed.machinery}}</td>
                    </tr>

                    <tr>
                      <td>Stock and Inventory</td>
                      <td>{{investimentNeed.stock}}</td>
                    </tr>

                    <tr>
                      <td>Raw material</td>
                      <td>{{investimentNeed.raw_material}}</td>
                    </tr>

                    <tr>
                      <td>Total</td>
                      <td>{{investimentNeed.total_needed}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="edit">
                        <b>Let us know the  type of investment you're interested in, the specific purpose of the fund, and the amout required. Type of investment.</b>
                        <p>For the fields below enter the amount you'll allocate to the respective sections. <b>All amounts should be in US Dollars ($) </b></p>
                        <div class="row">
                                <div class="col col-content">
                                  <label>Marketing</label>
                                  <input type="number" class="form-control" placeholder="marketing" [(ngModel)]="investimentNeed.marketing" name="marketing">
                                </div>
                                <div class="col col-content">
                                  <label>Operations</label>
                                  <input type="number" class="form-control" placeholder="operations" [(ngModel)]="investimentNeed.operations" name="operations">
                                </div>
                              </div>

                              <div class="row">
                                    <div class="col col-content">
                                      <label>Machinery</label>
                                      <input type="number" class="form-control" placeholder="machinery" [(ngModel)]="investimentNeed.machinery" name="machinery">
                                    </div>
                                    <div class="col col-content">
                                      <label>Stock</label>
                                      <input type="number" class="form-control" placeholder="stock" [(ngModel)]="investimentNeed.stock" name="stock">
                                    </div>
                                  </div>
                                  <div class="row">
                                        <div class="col col-content">
                                         <label>Raw_material</label>
                                          <input type="number" class="form-control" placeholder="raw_material" [(ngModel)]="investimentNeed.raw_material" name="raw_material">
                                        </div>

                                      </div>
                                      <div class="row">
                                          <div class="col col-content"><div class="form-group">
                                            <label>Type of investiment</label>
                                            <select [(ngModel)]="investimentNeed.investiment_type"  name="investiment_type" class="form-control" (change)="onchanged_value($event)">
                                               <option value="Equity Financing">Equity Financing</option>
                                               <option value="Debt Financing">Debt Financing</option>
                                               <option value="Mezzanine financing">Mezzanine financing</option>
                                               <option value="Islamic Finance">Islamic Finance</option>
                                               <option value="Open to discussion">Open to discussion</option>
                                               <option value="Not sure">Not sure</option>
                                             </select>
                                         </div>
                                        </div>
                                        <div class="col col-content">
                                                <div class="alert alert-success" role="alert">
                                                        <h4 class="alert-heading" style="font-size: 13px"><i class="fa fa-info-circle" style="font-size:18px"></i> {{heading}}</h4>

                                                        <hr>
                                                        <p class="mb-0"  style="font-size: 12px">{{message}}</p>
                                                      </div>

                                        </div>
                                        </div>
                    </div>

            </section>

            <section>
                <b>The sustainable Development Goals</b><br/>
                <ol>
                    <li *ngFor="let sdg of sdgs">{{sdg |json}}</li>
                </ol>
                  <div *ngIf="edit">
                      <ng-multiselect-dropdown-angular7
                      [placeholder]="'custom placeholder'"
                      [data]="sdg"
                      [(ngModel)]="sdgs"
                      [settings]="socialSettings"
                      (onSelect)="addsdg($event)"
                      (onSelectAll)="onSelectAll($event)"
                    ></ng-multiselect-dropdown-angular7>

                  </div>
            </section>

            <section>
                <b>Social Impact</b><br/>
                <ol>
                    <li *ngFor="let social of social_impact">{{social}}</li>
                </ol>
                <div *ngIf="edit">

                <ng-multiselect-dropdown-angular7
                [placeholder]="'social impacts'"
                [data]="social_impacts"
                [(ngModel)]="social_impact"
                [settings]="socialSettings"
                (onSelect)="onSelected($event)"
                (onSelectAll)="onSelectAll($event)"
              ></ng-multiselect-dropdown-angular7>
              </div>
            </section>

            <section>
                <b>Economic impact</b><br/>
                <ol>
                   <li *ngFor = "let economic of economic_impacts">{{economic}}</li>
                </ol>
                <div *ngIf="edit">

                <ng-multiselect-dropdown-angular7
                [placeholder]="'custom placeholder'"
                [data]="economic_impact"
                [(ngModel)]="economic_impacts"
                [settings]="socialSettings"
                (onSelect)="addeconomic($event)"
                (onSelectAll)="onSelectAll($event)"
              ></ng-multiselect-dropdown-angular7>

              </div>
            </section>

            <section>
                <b>Environmental impacts</b><br/>
                <ol >
                    <li *ngFor="let env of enviroment_impact; let i = index">{{env}}</li>
                </ol>
                <div *ngIf="edit">


                 <ng-multiselect-dropdown-angular7
                [placeholder]="'custom placeholder'"
                [data]="env_impact"
                [(ngModel)]="env_impacts"
                [settings]="socialSettings"
                (onSelect)="addenviroment($event)"
                (onSelectAll)="onSelectAll($event)"
              ></ng-multiselect-dropdown-angular7>
                  </div>
            </section>
            <section>
              <b>Our Team</b><br/>
              <div class="row">
                  <div class="col-md-4 team" *ngFor="let member of team">
                      <img src="asstes/user.png" alt=""><br/>
                      <b>Katende Iva</b><br/>
                      <b>CEO and founder</b>
                  </div>
              </div>
              <div *ngIf="edit">
                <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="team.name" (ngModelChange)="team.name=$event" placeholder=""/>
                </div>
                <div class="form-group">
                  <label>Position:</label>
                  <input type="text" class="form-control" name="team.position" (ngModelChange)="team.position=$event" placeholder=""/>
                </div>
                <div class="form-group">
                  <label>Image:</label>
                  <!-- <input type="text" class="form-control" name="team.position" [(ngModel)]="team.position" placeholder=""/> -->

                  <!-- add image of the team member -->
                </div>
              </div>
          </section>
            <button class="btn btn-warning btn-sm" (click)="save_changes()" *ngIf="edit">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  </div>


  <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> Pitch Book</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <section>
            <b>{{business?.business_name}}</b><br/>

        </section>

        <section>
            <b>Company purpose</b><br/>
            <p>{{pitch?.purpose}}</p>
        </section>

        <section>
            <b>Problem or opportunity</b><br/>
            <p>{{pitch?.problem}}</p>
        </section>

        <section>
            <b>Solution</b><br/>
            <p>{{pitch?.solution}}</p>
        </section>

        <section>
            <b>Why now</b><br/>
            <p>{{pitch?.why_now}}</p>
        </section>

        <section>
            <b>Product or service</b><br/>

            <div class="media" *ngFor="let product of products" style="margin-bottom:30px; margin-top:18px">
                <img src="{{product.images}}" class="mr-3" alt="..." style="height:150px; width:150px"/>
                <div class="media-body">
                  <h5 class="mt-0" >{{product?.name}}</h5>
                  <p style="color:gray; font-size:14px">{{product?.description}}</p>
                 <div class="row">
                      <div class="col">
                        <span style="font-size: 12px; ">price</span>
                      </div>
                         <div class="col">
                           <span style="font-size: 12px">{{product?.price}}</span>
                          </div>
                        </div>
                      <div class="row">
                          <div class="col">
                              <span style="font-size: 12px">Quantities</span>
                          </div>
                          <div class="col">
                              <span style="font-size: 12px">Kilograms / grams</span>
                          </div>
                      </div>


                        </div>

            </div>



            <div>
                <b>Service name</b>
                <p></p>
                <p></p>
            </div>
        </section>

        <section>
            <b>Market size</b><br/>
            <div>
                <div>
                    <div style=""></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <p>Available Market : <b>{{pitch?.purpose}}</b></p>
                    <p>Potetinal Market : <b>{{pitch?.purpose}}</b></p>
                    <p>Served Market    : <b>{{pitch?.purpose}}</b></p>
                </div>
            </div>
        </section>

        <section>
            <b>Competitive Advantage</b><br/>


        <div style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto" [chart]="barchart"></div>
        </section>

        <section>
            <p><b>business Model</b> </p>
            <br/><span>{{pitch?.business_model}}</span><br/>
            <p>Revenue</p><br/><span>{{pitch?.revenue}}</span><br/>
            <b>Pricing</b><br/><span>{{pitch?.pricing}}</span><br/>
            <b>Average accont size / Lifetime value</b><br/><span>{{pitch?.lifetime_value}}</span><br/>
            <b>Distribution model</b><br/><span>{{pitch?.distribution_model}}</span><br/>

        </section>

        <section>
            <b>Financials</b><br/>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Return on sales</th>
                    <th scope="col">Return on Investment</th>
                    <th scope="col">Return on equity</th>
                    <th scope="col">Debt-Equity Ratio</th>
                    <th scope="col">Internal Rate of Return</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let financial of financials">
                    <td style="font-size:12px">{{financial?.period_from}} - {{financial?.period_to}}</td>
                    <td>{{financial.ros}}</td>
                    <td>{{financial.roi}}</td>
                    <td>{{financial.roe}}</td>
                    <td>{{financial.der}}</td>
                    <td>{{financial.irr}}</td>
                  </tr>
                </tbody>
              </table>

        </section>

        <section>
            <b>Investment</b><br/>

        </section>

        <section>
            <b>The sustainable Development Goals</b><br/>
            <ol></ol>
            <div *ngIf="edit">

            </div>
        </section>

        <section>
            <b>Social Impact</b><br/>
            <ol></ol>
            <div *ngIf="edit">

            </div>
        </section>

        <section>
            <b>Economic impact</b><br/>
            <ol></ol>
            <div *ngIf="edit">

            </div>
        </section>

        <section>
            <b>Environmental impacts</b><br/>
            <ol></ol>
            <div *ngIf="edit">

            </div>
        </section>

        <section>
            <b>Our Team</b><br/>
            <div class="row">
                <div class="col-md-4 team">
                    <img src="assets/user.png" alt=""><br/>
                    <b>name</b><br/>
                    <b>Position</b>
                </div>
            </div>
        </section>
        <div>
            <button class="btn btn-primary btn-sm">Print pitchbook</button>
        </div>
    </div>
  </ng-template>
  <ng-template #template1 >
        <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button"  class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button></div>
      <div class="modal-dialog">
        <div class="message text-center"><P>{{message}}</P></div>


    </div>
  </ng-template>
  <app-footer></app-footer>

