<div class="body"> 
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      <div class="top_header">
          <div>
             <p>All Business</p>
          </div>
      </div>
      <div class="mainmenu">
        <div class="business">
            <b>Business Name</b><br/>
            <span>Technology and agribusiness</span>
        </div>
      </div>
      </div>
      <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Pitch Book</h1>
            <p>Find upcoming networking and training events in your sector and region,
            including Imuka Series events.</p>
            <a class="btn btn-primary btn-sm">Generate Pitch book</a>
        </div>
        <div class="content">
            <section>
                <b>Business Name</b>
                <span>Technology</span>                 
            </section>
        </div>
      </div>
    </div>
  </div>
  </div>
  