.mainmenu{
    border-radius: 3px;
    .business{
        padding:10px;
        border:1px solid #eee;
        width:100%;
        text-decoration: none !important;
        display: block;
        color:#222;
        margin-bottom: 10px;
    }
}

.feeds{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    background: none;
}

.content{
    background: transparent;
    border:1px solid #eee; 
    border-radius: 3px;
    padding:10px;
}

.container{
    margin-top:10px;
}

.body{
    background:#f2f2f2;
}

.col-md-3{
    background: none !important;
    margin-bottom: 10px;
}
.display-4{
    font-size:24px !important;
}
.top_header{
    background: radial-gradient(circle at top left, #1798d4, rgb(61, 167, 167)) !important;
    display: flex;
    div{
        margin:auto;
        color:#fff;
    }
}

textarea{
    margin-bottom: 20px !important;
}


section{
    padding:10px;
    background: #fff;
    margin-bottom: 10px !important;

    b{
        color:rgba(39, 145, 216, 0.959);
    }
}

.stepz li:hover {
    background-color: #eee;   
}

.stepz {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stepz li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    list-style-type:none;
}

.stepz li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(0,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.team{
    text-align: center;
}

.multiselect {
    label{
        width:100% !important;

}
select{
    width:100% !important;
}
}