<div class="body">
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1 class="display-4">{{organisation?.name}}</h1>
            <p>
              Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Your
              access-point for the opportunities, support and financing to scale
              your business to the next level.
            </p>
          </div>
          
          <hr>
            <ul class="ul">
              <li *ngFor="let item of org_menu; let i=index" (click)="show_page(item, i)" [ngClass]="item.isactive ? 'active':'not_active'"> 
                  <i [ngClass]="item.icon"></i> 
                  <span>{{item.name}}</span> 
              </li>
            </ul>
  
  
            <div class="main_tab_content">
              <div *ngIf="active_index == 0">
                <div class="row profile" >
                  <div class="col-md-7">

                      <div class="card">
                        <div class="card-header">
                            Organisational Info
                        </div>
                        <div class="card-body">
                          <p class="card-title">{{organisation?.name}}</p>
                          <p class="card-text">{{organisation?.name}}</p>
                        </div>
                      </div>

                      <div class="card">
                          <div class="card-header">
                              Organisational contact 
                          </div>
                          <div class="card-body">
                              <p class="card-title">Email: {{organisation?.email}}</p>
                              <p class="card-text">Phone number : {{organisation?.contact}}</p>
                              <p class="card-text">Website : {{organisation?.website}}</p>
                          </div>
                      </div>

                      <div class="card">
                          <div class="card-header">
                              Organisational Offered services
                          </div>
                          <div class="card-body">
                          <ol>
                            <li *ngFor="let service of services">{{service}}</li>
                          </ol>
                          </div>
                      </div>

                      <div class="card">
                            <div class="card-header">
                                Organisational Location
                            </div>
                            <div class="card-body">
                              <p class="card-title">City : {{organisation?.city}}</p>
                              <p class="card-text">Address Line: {{organisation?.address}}</p>
                            </div>
                      </div>

                  </div>
                  <div class="col-md-5">
                    <div class="edit_form">
                        <form>
                          <div class="section">
                              <div class="header">
                                <span>Organisational Info</span>
                              </div>
                              <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" name="organisation.name" [(ngModel)]="organisation.name" placeholder="Name">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>

                              <div class="form-group">
                                  <input type="email" class="form-control" id="exampleInputEmail1"  name="organisation.slogan" [(ngModel)]="organisation.slogan"  placeholder="Tag line /slogan">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>
                          </div>

                          <div class="section">
                              <div class="header">
                                <span>Organisational contact </span>
                              </div>

                              <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"  name="organisation.email" [(ngModel)]="organisation.email"  placeholder="email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>

                              <div class="form-group">
                                  <input type="tell" class="form-control" id="exampleInputEmail1"  name="organisation.contact" [(ngModel)]="organisation.contact"  placeholder="phone number">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>

                              <div class="form-group">
                                  <input type="email" class="form-control"  name="organisation.website" [(ngModel)]="organisation.website" placeholder="website">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>
                          </div>

                          <div class="section">
                              <div class="header">
                                <span>Services offered</span>
                              </div>
                              <div class="form-group">
                                  <label f for="exampleInputPassword1">What services do you offer to enteprenuers?</label>
                                  <select class="form-control" multiple  name="organisation.services" [(ngModel)]="organisation.services" id="exampleInputPassword1" >
                                      <option value="Mentorship/Feedback">Mentorship/Feedback</option>
                                      <option value="Expertise/Know-How/Coaching(Online | hands-on  | both)">Expertise/Know-How/Coaching(Online | hands-on  | both)</option>
                                      <option value="Business Networking">Business Networking</option>
                                      <option value="Financing for my Business">Financing for my Business</option>
                                      <option value="Office/Space/Prestige">Office/Space/Prestige</option>
                                      <option value="Training Programs/Workshops">Training Programs/Workshops</option>
                                      <option value="Product development and refinement">Product development and refinement</option>
                                      <option value="Business management and strategy skills">Business management and strategy skills</option>
                                      <option value="Sales and Marketing skills">Sales and Marketing skills</option>
                                      <option value="Financial Management skills">Financial Management skills</option>
                                      <option value="Customized training services">Customized training services</option>
                                      <option value="Online Presence & Visibility(Online Brand)">Online Presence & Visibility(Online Brand)</option>
                                  </select>
                                  <small id="emailHelp" class="form-text text-muted">Press Ctrl / Command and then select all that apply.</small>
                                </div>
                          </div>

                          <div class="section">
                              <div class="header">
                                <span>Location</span>
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control"  name="organisation.city" [(ngModel)]="organisation.city"  placeholder="City">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control"  name="organisation.addressline" [(ngModel)]="organisation.addressline" placeholder="Addess line">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>
                          </div>

                          <button type="submit" class="btn btn-primary btn-block"(click)="save_organisation()">Edit organisation</button>
                        </form>
                    </div>
                  </div>
                </div>
                
              </div>
              <div *ngIf="active_index == 1">
                <p>Organication Events</p>
                <hr>
  
                <div class="row">
                    <div class="col-md-4 carddata" *ngFor="let event of events">
                        <div class="card">
                        <img class="card-img-top" src="assets/v.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Opportunity title</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">website</li>
                            <li class="list-group-item">Facebook</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        </div>
                    </div>
                </div>
  
              </div>
              <div *ngIf="active_index == 2">
                <p>Opportunities</p>
                <hr>
                <div class="row">
                    <div class="col-md-6 carddata" *ngFor="let opportunity of opportunities">
                        <div class="card">
                        <img class="card-img-top" src="assets/v.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title">Opportunity title</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">website</li>
                            <li class="list-group-item">Facebook</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        </div>
                    </div>
                </div>
              </div>
              <div *ngIf="active_index == 3">
                <p>Group</p>
                <hr>
              </div>
              <div *ngIf="active_index == 4">
                <p>Feedback and inquiry</p>
                <hr>
                <div class="row">
                    <div class="col-md-6">
  
                    </div>
                    <div class="col-md-6">
                      <div class="form">
                          <form>
                              <div class="form-group">
                              <label for="exampleInputEmail1">Select feedback type</label>
                              
                              <select name="email" class="form-control">
                                <option value=""></option>
                                <option value=""></option>
                              </select>
                              </div>
                              <div class="form-group">
                              <label for="exampleInputPassword1">Type message</label>
                              <textarea
                              name="message"
                              class="form-control"
                              ></textarea>
                              </div>
                              <button type="submit" class="btn btn-primary btn-block" >
                              send inquiry
                              </button>
                          </form>
                      </div>
                        
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
