<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div>
                <h5>Chat List</h5>
            </div>
            <div class="mainmenu">
                <ul class="chat">
                    <li class="chat_item">
                        <div>
                            <img src="assets/user.png" alt="">
                        </div>
                        <div>
                            <span>Katende Ivan</span><br/>
                            <span>Investors(Ug)</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content">
    
            </div>
        </div>
        <div class="col-md-3 feeds">
            <div class="feeds">
                <app-feeds></app-feeds>
            </div>
        </div>
      </div>
    </div>
    </div>
    