<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div style="background:#fff; padding:5px;">
                <h5>Chat List</h5>
            </div>
            <div class="mainmenu">
                <ul class="chat">
                    <li class="chat_item" *ngFor="let user of chat_list;let i= index">
                        <div class="img">
                            <img src="assets/user.png" alt="">
                        </div>
                        <div class="name">
                            <a routerLink="/chat/{{i}}" class="link_chat">
                                <span class="span1">{{user?.name}}</span>
                                <span class="span2">{{user?.type}}</span>
                                <div class="online" *ngIf="user.online"></div>
                            </a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
       
        <div class="col-md-3 feeds">
            <div class="feeds">
                <app-feeds></app-feeds>
            </div>
        </div>
      </div>
    </div>
    </div>
    