  <div class="body"> 
  <app-header></app-header>
  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="mainmenu">
                <app-mainmenu></app-mainmenu>
            </div>
        </div>
      <div class="col-md-9">
          <div class="banner">App settings </div>
          <div class="content">
            <div class="card">
              <div class="card-body">
                
                  <div>
                    <h6>Share with us your sector / business line of interest</h6>
                 
                </div>
                <form>
            
             
              <div class="form-group form-check" *ngFor="let control of interests; let i=index">
                <input type="checkbox" class="form-check-input"  id="exampleCheck{{i}}"  (change)="addinterest(control)">
                <label class="form-check-label" for="exampleCheck{{i}}" >{{interests[i]}}</label>
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form></div></div></div> 
          
          <div class="card">
            <div class="card-body">
              <h6 style="color:#0056b3">Change Password</h6>
              <div class="media">
                <img src="assets/resetpassword.png" class="mr-3" alt="..." height="100px">
                <div class="media-body" style="font-size:14px">
                 Feeling compromised with your password? change to a new one right away
                </div>
              </div>
              <form [formGroup]="changeform">
                  <div class="form-group input-group-sm">
                  <label for="exampleFormControlInput1"><i class="fa fa-lock"></i>   Old Password</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="oldpassword" formControlName="oldpassword" [class.invalid]="changeform.controls.oldpassword.invalid">
                  </div>
                  <div class="form-group input-group-sm">
                  <label for="exampleFormControlInput1"><i class="fa fa-lock"></i>   New Password</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="newpassword" formControlName="newpassword" [class.invalid]="changeform.controls.newpassword.invalid">
                  </div>

                  <div class="form-group input-group-sm">
                  <label for="exampleFormControlInput1"><i class="fa fa-lock"></i>    Repeat password</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="repeat newpassword"  formControlName="confirmPassword" [class.invalid]="changeform.controls.confirmPassword.invalid">
                  </div>
                  <div class="error" *ngIf="errordiv">
                      Passsword and Confirm Password didn't match.
                     </div>
                
                  <button  type="button" class="btn btn-primary btn-sm" [disabled]="changeform.invalid" (submit)="changepassword()">Save settings</button>
                 
        </form>  </div>
            </div>
          </div>
          <!-- <div class="card">
              <div class="card-body">
                <h6>Change Password</h6>
                <div class="media">
                  <img src="assets/resetpassword.png" class="mr-3" alt="..." height="100px">
                  <div class="media-body">
                   Feeling compromised with your password? change to a new one right away
                  </div>
                </div>
                <div>
                    <h6 style="padding:20px">Edit your notification settings for:</h6>
                    <ul class="list-group">
                        <li  class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let notification of nots; let i = index"  (click)="turnn(i)">
                      {{notification.name}}
                        <span class="badge badge-primary badge-pill">
                          <span *ngIf="notification.isclicked">Turn off</span>
                          <span *ngIf="!notification.isclicked">Turn on</span> 
                        </span>
                        </li>
                    </ul>
                  </div>
              </div>
            </div> -->
       
    </div>
  </div>
  <!-- <ion-option value="Agriculture/Agribusiness/ Value-addition "
  >Agriculture/Agribusiness/ Value-addition
</ion-option>
<ion-option
  value="Clean Energy/Recycling/Upcycling and Environmental Conservation "
  >Clean Energy/Recycling/Upcycling and Environmental Conservation
</ion-option>
<ion-option value="Technology/ ICT and IT-Enabled Services"
  >Technology/ ICT and IT-Enabled Services</ion-option
>
<ion-option value="Tourism and Hospitality"
  >Tourism and Hospitality</ion-option
>
<ion-option value="Healthcare and Pharmaceuticals"
  >Healthcare and Pharmaceuticals</ion-option
>
<ion-option value="Education">Education</ion-option>
<ion-option value="Manufacturing">Manufacturing</ion-option>
<ion-option value="Trade(Retail and Wholesale)"
  >Trade(Retail and Wholesale)</ion-option
>
<ion-option value="Transport and Logistics"
  >Transport and Logistics</ion-option
>
<ion-option value="Services">Services</ion-option> -->
  </div>
  <app-footer></app-footer>
  