.mainmenu{
    background: #fff;
    border:1px solid #eee;
    border-radius: 3px;
}

.feeds{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    background: none;
}

.content{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
}

.container{
    margin-top:10px;
}

.body{
    background:#f2f2f2;
}

.col-md-3{
    background: none !important;
}
li{
    border-left:0px;
   border-right:0px;  
   cursor:pointer;

}
ul{
    padding-left:5px;
    padding-right:5px;
    li:first-letter{
   text-transform:capitalize !important;
}

}
.pwd{
    padding:50px;
}


.nav-item{
    a {
            span {
                color:red !important;
                font-size: 11px !important;
            }
    }

}