<div class="container">
	<hr>
	<div class="link">
		<ul>
			<li>
				 <a href="https://imukaventures.org/about/">About Imuka Access</a>
			</li>
			<li>
				<a href="https://imukaventures.org/about/">How it works</a>
			</li>
			<li>
				<a href="https://imukaventures.org/Privacy/">Privacy Policy</a>
			</li>

			<li>
				<a href="https://imukaventures.org/terms/">Terms and Coditions</a>
			</li>

			<li>
				<a href="https://imukaventures.org/about/">MOU summary</a>
			</li>

			<li (click)="logout()">
				<a> Logout </a>
			</li>

		</ul>
	</div>
</div>