.container{
	background:transparent;
    margin-top: 30px;

	ul{

		display: flex;
		flex-direction: row;
        margin-left:30px;

		li{
		            list-style-type: none;
		            padding-left:25px;
		            font-size: 14px;
		}				
	}
}

.logout{
	cursor: pointer;
}
@media only screen and (max-width: 650px){
	
		ul{
		display:flex;
		flex-direction:column !important;
		text-align:center;
		padding:0 !important;
		margin-left:0;
		li{
			padding:0 !important;
			margin: 0 auto !important;
		}
	}
}