<header class="top">
  <nav class="navbar navbar-expand-md navbar-dark navbar-fixed fixed-top">
      <div class="container">
          <a class="navbar-brand" routerLink="/">
              <img src="assets/icon1.png" alt="" style="height:35px; margin-left:20px;">
          </a>
          <button class="navbar-toggler" type="button" (click)="openMenu()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" [ngClass]="isClickedShowMenu?'no':'show'">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/people">
                <i class="fa fa-address-book"></i> People
              </a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" routerLink="/organisations">
                  <i class="fa fa-sitemap"></i> Support Organizations
                </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/settings">
                <i class="fa fa-cog"></i> Settings
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/profile"> 
                <i class="fa fa-fa fa-user-circle-o"></i> {{user?.email}}
              </a>
            </li>
          </ul>
          </div>
      </div>
  </nav>
</header>

<ul class="mobile_tabs">
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/"><i class="fa fa-home"></i></a></li>
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/events"><i class="fa fa-calendar"></i></a></li>
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/opportunities"><i class="fa fa-globe"></i></a></li>
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/organisations"><i class="fa fa-sitemap"></i></a></li>
  <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/notifications"><i class="fa fa-bell"></i></a></li>
</ul>

