.fixed-top{
  background: radial-gradient(circle at top left, #1798d4, rgb(61, 167, 167)) !important;

}

.top{
  background: radial-gradient(circle at bottom left, #1798d4, rgb(61, 167, 167)) !important;
  height:56px;
 }

 .navbar-nav{
   float: left !important;
 }

 .profile{
   height:30px;
   width:30px;
   border-radius: 50%;
 }

 .nav-item a{
   font-size:14px !important; 
   color:#fff;
 }

 #logo{
   height:30px;
   width:30px;
   margin-right: 20px;
 }

 .mobile_tabs{
 display: none;
}


 @media only screen and (max-width: 768px) {
   .mobile_tabs{
      width:100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: nowrap;
      padding:0px !important;
      position: sticky;
      top:56px;
      z-index: 1000;
   }

    .mobile_tabs > .list-group-item{
      width:20%;
      text-align: center !important;
      border:1px solid #eee !important;
      border-radius: none !important;
    }

    .mobile_tabs > .list-group-item > a > i {
      color:#1798d4 !important;
    }

    .active {
      border-bottom:3px solid #1798d4 !important;
      border-radius: 0 !important;
      background: #fff !important;
    }

    .collapse{
      border-top:1px solid rgb(197, 245, 248) !important;
    }
  }


  