<header class="top">
  <nav class="navbar navbar-expand-md navbar-dark navbar-fixed show">
    <a class="navbar-brand" routerLink="/dashboard">ImukaAccess </a>
    <button class="navbar-toggler" (click)="go_to_profile()">
      <img src="assets/user.png" style="height:35px; width:35px; border-radius: 50%;" />
    </button>
    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/people">People</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/organisations">Support  Organisations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/notifications"> Notifications</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/profile"> Virungi Bivian</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<ul class="mobile_tabs">
  <li class="list-group-item active"><a routerLink="/my_businesses"><i class="fa fa-home"></i></a></li>
  <li class="list-group-item"><a routerLink="/events"><i class="fa fa-calendar"></i></a></li>
  <li class="list-group-item"><a routerLink="/opportunities"><i class="fa fa-globe"></i></a></li>
  <li class="list-group-item"><a routerLink="/organisations"><i class="fa fa-sitemap"></i></a></li>
  <li class="list-group-item"><a routerLink="/notifications"><i class="fa fa-bell"></i></a></li>
</ul>
