.fixed-top{
  background: rgb(8, 53, 48) !important;
}

.top{
    background: #083530 !important;
    height:56px;
 }

 .navbar-nav{
   float: left !important;
 }

 .profile{
   height:30px;
   width:30px;
   border-radius: 50%;
 }

 .nav-item a{
   font-size:14px !important; 
 }

 #logo{
   height:30px;
   width:30px;
   margin-right: 20px;
 }