<header class="top">
    <nav class="navbar navbar-expand-md navbar-dark container">
      <a class="navbar-brand" routerLink="/dashboard">
        <img src="assets/icon1.png" alt="" id="logo">
        ImukaAccess
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" routerLink="/people">People</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/chat">Messages</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/notifications"> Notifications</a>
          </li>

          <li class="nav-item">
            <a  routerLink="/profile"><img src="assets/user.png" class="profile"></a>
          </li>

        </ul>
      </div>
    </nav>
  </header>