.fixed-top{
  background: #1798d4 !important;
}

.top{
    background: #1798d4 !important;
    height:56px;
 }

 .navbar-nav{
   float: left !important;
 }

 .profile{
   height:30px;
   width:30px;
   border-radius: 50%;
 }

 .nav-item a{
   font-size:14px !important; 
 }

 #logo{
   height:30px;
   width:30px;
   margin-right: 20px;
 }

 .mobile_tabs{
   background: #1798d4 !important;
   display: flex;
   flex-direction: row;
 }