<div class="row">
  <div class="col-lg-5"><accordion>
  <accordion-group [isOpen]="isFirstOpen">
      <div class=" clearfix" accordion-heading >
          <div class="pull-left float-left" style="height:20px; padding-top: 10px">Event_type</div>
<div class="float-right"><i class="fa fa-sort-desc"></i></div>
      </div>
      <div> <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Work shops/ conferences</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Training</label>
          </div>
          <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Pitching</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Business networking</label>
              </div>
              <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
      </div>
  </accordion-group>
  <accordion-group>
      <div class=" clearfix" accordion-heading>
          <div class="pull-left float-left" style="margin-right:20px">Region</div>
<div class="float-right"><i class="fa fa-sort-desc"></i></div>
      </div>
      <div> <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Western</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Nothern</label>
          </div>
          <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Central</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Eastern</label>
              </div>
      </div>
  </accordion-group>
  <accordion-group>
      <div class=" clearfix" accordion-heading>
          <div class="pull-left float-left" style="margin-right:20px">I can have markup!</div>
<div class="float-right"><i class="fa fa-sort-desc"></i></div>
      </div>
      <div> <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
      </div>
  </accordion-group></accordion>
</div> </div>