
    <accordion>
  <accordion-group [isOpen]="isFirstOpen" *ngFor="let filters of filter_info">
      <div class=" clearfix" accordion-heading >
          <div class="pull-left float-left" style="height:20px; padding-top: 10px">{{filters?.name}}</div>
          <div class="float-right"><i class="fa fa-sort-desc"></i></div>
      </div>
      <div> <div class="form-group form-check" *ngFor="let option of filters.options">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="{{option}}" value="{{option}}" onselect="">
          <label class="form-check-label" for="exampleCheck1">{{option}}</label>
        </div>
       
      </div>
  </accordion-group>
 
  </accordion>
