<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="mainmenu">
                <app-mainmenu></app-mainmenu>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <h1 class="display-4">Account Info!</h1>
                <p><b style="color:#1798d4;">ImukaAccess!</b> Payment packages, here you cn access all infomation about changinf your package.</p>
                <hr>            
            </div>
    
            <section>
                <div class="d-flex bd-highlight heading">
                    <div class="p-2 flex-grow-1 bd-highlight">Current account information</div>
                  
                </div>
                <div class="body-content">
                    <div class="row">
                        <div class="col-md-4">Type of Account</div>
                        <div class="col-md-4">Account status</div>
                        <div class="col-md-4">Expiry date </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="d-flex bd-highlight heading header_entr">
                    <div class="p-2 flex-grow-1 bd-highlight">Entrepreneur packages</div>
                
                </div>
                <div class="body-content">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="d-flex bd-highlight heading header_inv">
                    <div class="p-2 flex-grow-1 bd-highlight">Investor Packages</div>
                </div>
                <div class="body-content">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>
    
           
        </div>
      </div>
    </div>
    </div>
    <app-footer></app-footer>

    