<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="mainmenu">
                <app-mainmenu></app-mainmenu>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <h1 class="display-4">Account Info!</h1>
                <p><b style="color:#1798d4;">ImukaAccess!</b> Payment packages, here you can access all infomation about changinf your package.</p>
                <hr>            
            </div>
    
            <section>
                <div class="d-flex bd-highlight heading">
                    <div class="p-2 flex-grow-1 bd-highlight">Current account information</div>
                  
                </div>
                <div class="body-content">
                    <div class="row">
                        <div class="col-md-4">Type of Account</div>
                        <div class="col-md-4">Account status</div>
                        <div class="col-md-4">Expiry date </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="d-flex bd-highlight heading header_entr">
                    <div class="p-2 flex-grow-1 bd-highlight">Entrepreneur packages</div>
                
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="p-2 flex-grow-1 bd-highlight">
                                <p>
                                    Fremium.
                                </p>

  
                        </div>

                    </div>
                    <div class="col-md-4">
                            <div class="p-2 flex-grow-1 bd-highlight">

      
                            </div>
    
                    </div>

                </div>
                <div class="row">
                        <div class="col-md-4">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                    <p>
                                        Premium.
                                    </p>
      
                            </div>
    
                        </div>
                        <div class="col-md-4">
                                <div class="p-2 flex-grow-1 bd-highlight">
                                    Inactive
          
                                </div>
        
                        </div>
    
                </div>


                <div class="body-content">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="d-flex bd-highlight heading header_inv">
                    <div class="p-2 flex-grow-1 bd-highlight">Investor Packages</div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="p-2 flex-grow-1 bd-highlight">
                                <p>
                                    Premium.
                                </p>

  
                        </div>

                    </div>
                    <div class="col-md-4">
                            <div class="p-2 flex-grow-1 bd-highlight">
                                Active
      
                            </div>
    
                    </div>

            </div>
                <div class="body-content">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>

            <div class="container">
                <div class="card-deck mb-3 text-center">
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Freemium</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                                <ul class="list-group">
                                    <li class="list-group-item"> add your business details</li>
                                    <li class="list-group-item"> access funding opportunities</li>
                                    <li class="list-group-item"> access relevant networking events</li>
                                    <li class="list-group-item"> enlist for business financing</li>
                                    <li class="list-group-item"> join the program</li>
                                </ul>
                      <button type="button" class="btn btn-lg btn-block btn-outline-primary" style ="margin-bottom:20px;">Subscribe</button>
                    </div>
                  </div>
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Premium</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                      <ul class="list-group">
                        <li class="list-group-item">add your business details</li>
                        <li class="list-group-item">access funding opportunities</li>
                        <li class="list-group-item">access relevant networking events</li>
                        <li class="list-group-item">enlist for business financing</li>
                        <li class="list-group-item">join the program</li>
                        <li class="list-group-item">Developing a pitch book</li>
                        <li class="list-group-item">Upload business documents</li>
                        <li class="list-group-item">Free access to imuka events and workshops</li>
                        <li class="list-group-item">Personalized business support from experts</li>
                        <li class="list-group-item">Visibility to potential financial investors and monitors</li>
                        <li class="list-group-item">Free access to imuka events and workshops</li>
                        <li class="list-group-item">Progress update of business details</li>
                      </ul>
                      <button type="button" class="btn btn-lg btn-block btn-primary" style ="margin-bottom:10px;">Get Package</button>
                    </div>
                  </div>

                </div>
    
           
        </div>
      </div>
    </div>
    </div>
    <app-footer></app-footer>

    