<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="mainmenu">
                <app-mainmenu></app-mainmenu>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron">
                <h1 class="display-4">Support organisations!</h1>
                <p>Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Your access-point for the opportunities, support and financing to scale your business to the next level.</p>
            </div>
            <div class="row">
                <div class="col-md-6" *ngFor="let organisation of organisations">
                    <div class="card" style="width:100%; margin:10px auto;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Website</a>
                            <a href="#" class="card-link">Facebook</a>
                            <a routerLink="/organisation/{{organisation}}" class="card-link">organisation details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
    <app-footer></app-footer>
    