<app-header></app-header>
<div class="body">
  
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-mainmenu></app-mainmenu>
      </div>
      <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Investiment opportunities</h1>
            <p class="lead">Edit your details here so that we can serve you better.</p>
        </div>
        <div class="content row">
          <div class="col-md-6 carddata" *ngFor="let business of businesses">
            <div class="card">
              <img
                class="card-img-top"
                src="assets/v.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Business name</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
              <div class="card-body">
                <a class="card-link" (click)="openModal(template)" style="">2 Follows</a>
                <a href="#" class="card-link"> 23 Views</a>
                <a href="#" class="card-link"> 2 investiment</a>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Business name</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="bellow">2 followers <div class="" style="float:right"><button class="btn" (click)="follow_business(business.business_id)">follow</button></div></div>
      <hr>
      <hr>
    <ul class="list-group">
      <li class="list-group-item">
      <div class="bottom">
      <img src="assets/user.png" alt="" height="25" />
      </div>
      <div class="center">
      <span style="">hello word</span><br>
      <span style="font-size:10px; color:gray">12:00 Am</span>
      </div>
      <div class="left">
      <div><button class="btn">Connect</button></div>
      </div>
      </li>
      </ul>
      <ul class="list-group">
          <li class="list-group-item">
          <div class="bottom">
          <img src="assets/user.png" alt="" height="25" />
          </div>
          <div class="center">
          <span style="">hello word</span><br>
          <span style="font-size:10px; color:gray">12:00 Am</span>
          </div>
          <div class="left">
          <div><button class="btn">Connect</button></div>
          </div>
          </li>
          </ul>
      
     
  </div>
</ng-template>