<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-mainmenu></app-mainmenu>
      </div>
      <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Investiment opportunities</h1>
            <p class="lead">Edit your details here so that we can serve you better.</p>
        </div>
        <div class="content row">
          <div class="col-md-6 carddata" *ngFor="let business of businesses">
            <div class="card">
              <img
                class="card-img-top"
                src="assets/v.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Business name</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
              <div class="card-body">
                <a href="#" class="card-link">12 Follows</a>
                <a href="#" class="card-link"> 23 Views</a>
                <a href="#" class="card-link"> 2 investiment</a>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
