<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
          <div class="col-md-3 feeds">
                <div class="mainmenu">
                    <app-mainmenu></app-mainmenu>
                </div>
          </div>
          <div class="col-md-9">
              <div class="row grid">
                    <div class="col-md-4">
                        <div class="receivables">
                            <h1>5</h1>
                            <h5>My receivables</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="payables">
                            <h1>5</h1>
                            <h5>My payables</h5>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="requests">
                            <h1>5</h1>
                            <h5>Payment requests</h5>
                        </div>
                    </div>
              </div>
              <div>
                <div style="display:flex; flex-direction:row; justify-content:flex-end; margin-bottom:10px;">
                <a class="btn btn-primary btn-sm" routerLink="/add_invoice/{{business.business_id}}">Create New Invoice</a>
                </div>
                <table class="table table-strpped">
                <tr>
                <th>Customer name</th>
                <th>status</th>
                <th>Actions</th>
                <th>Date</th>
                <th>View</th>
                </tr>

                <tbody>
                <tr *ngFor="let invoice of invoices">
                    <td>Katende </td>
                    <td>Due</td>
                    <td>Delete/Edit</td>
                    <td>12/ Dec/2018</td>
                    <td><a >View Details</a></td>
                </tr>
                </tbody>
                </table>
                  
              </div>
        </div>
      </div>
    </div>
    </div>
    