.mainmenu{
    background: #fff;
    border:1px solid #eee;
    border-radius: 3px;
}

.feeds{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    background: none;
}

.content{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    padding:10px;
}

.container{
    margin-top:10px;
}

.body{
    background:#f2f2f2;
}

.col-md-3{
    background: none !important;
    margin-bottom: 10px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size:16px;
    width: 100%;
    padding:5px;
  }
  
  #customers td, #customers th {
   
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #b6aeae;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    width:10px;
    border-bottom:5px blue solid;
    padding-top: 12px;
    padding-bottom: 12px;
    
  }
  .mani{
      display:flex;
      flex-direction: row;
      width:100%;
  }
    .mani1{
    flex:1;
    float:right;
    }
    .mani2{
        flex:4;
        }
        .mani3{
            flex:1;
            }

.col-md-9{
    div{
        background: #fff;
        padding:10px;
    }
}