.mainmenu{
    background: #fff;
    border:1px solid #eee;
    border-radius: 3px;
}

.feeds{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    background: none;
}

.content{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    padding:10px;
}

.container{
    margin-top:10px;
}

.body{
    background:#f2f2f2;
}

.col-md-3{
    background: none !important;
    margin-bottom: 10px;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size:16px;
    width: 100%;
    padding:5px;
  }
  
  #customers td, #customers th {
   
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #b6aeae;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    width:10px;
    border-bottom:5px blue solid;
    padding-top: 12px;
    padding-bottom: 12px;
    
  }
  .mani{
      display:flex;
      flex-direction: row;
      width:100%;
  }
    .mani1{
    flex:1;
    float:right;
    }
    .mani2{
        flex:4;
        }
        .mani3{
            flex:1;
            }

.col-md-9{
    div{
        background: #fff;
        padding:10px;
    }
}

.grid{
    background: none !important;
    .col-md-4{
        background: none !important;
        padding: 10px;
        div{
            border-radius: 3px;
        }

        .requests{
            background-image: linear-gradient(to right top,  #00badd, #0098e8);
            color:#fff;
        }

        .payables{
            background-image: linear-gradient(to right top,  #d433a5, #905fc4);
            color:#fff;

        }

        .receivables{
            background-image: linear-gradient(to right top,  orange, #a366c2);
            color:#fff;
        }
    }
}

.ou_header{
    display: flex;
    width:100%;
    flex-direction: row;
    div{
        flex:7,
    }

    a{
        text-align: center;
        display: flex;
        span{
            margin:auto;
        }
    }
}
.arrowBox{
    width: 200px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    position: fixed;
    top: 3em;
    left: 230px;
    padding: 10px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #313333;
    text-align: center;
    }
.arrowBox:after{
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid #ffc728;
    border-left: 10px solid transparent;
    border-bottom:10px solid transparent;
    border-right:10px solid transparent;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -10px;
    }