<div class="card-columns">

  <div class="card text-center">
    <div class="card-body">
      <div [chart]="chart" style="min-width: 310px; max-width: 800px; height: 200px; margin: 0 auto"></div>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <h6>Contracts</h6>
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <h6>Businesses</h6>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Entrepreneurs</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>