.mainmenu{
    background: #fff;
    border:1px solid #eee;
    border-radius: 3px;
}

.feeds{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    background: none;
}

.content{
    background: transparent;
    border:1px solid #eee; 
    border-radius: 3px;
}

.container{
    margin-top:10px;
    background: transparent;
}

.body{
    background:#f2f2f2;
}

.col-md-3{
    background: none !important;
}

.user{
    text-align: center;
    padding:30px;

}

.user > img{
   height: 70px;
   width:70px;
   border-radius: 50%;
    
}

.user > span {
    display: block;
    font-size: 12px !important;
 }

 .name{
     font-weight: bold;
     color:#222;
 }

 .position{
     color:#556;
     font-weight: lighter;

 }