<div class="body"> 
<app-header></app-header>
<div class="container">

<div class="row">
    <div class="col-md-3">
        <div class="mainmenu">
            <app-mainmenu></app-mainmenu>
        </div>
    </div>
    <div class="col-md-9">
        <div class="content">
        <div class="row">
            <div class="col-md-3 col-xs-12 user" *ngFor="let user of people">
                <div class="mob-pic">
                        <img src="assets/user.png" alt="">
                </div>
                <div class="mob-name">
                        <span class="name">Bivian Virungi</span>
                        <span class="position">Investor</span>
                </div>

                <div class="mob-btn">
                    <a class="btn btn-default btn-sm" routerLink="/user/9"> Connect </a>
                </div>
                
            </div>
        </div>
        </div>
    </div>

</div>
</div>
</div>
