<div class="body">
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="mainmenu">
            <app-mainmenu></app-mainmenu>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h4>Hello, {{header}}! </h4>
            <p><a routerLink="/profile">update your profile.</a></p>
            <p *ngIf="user?.user_type==='entrepreneur'">Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Your access-point for the opportunities, support and financing to scale your business to the next level.</p>
            <p  *ngIf="user?.user_type==='investor'">
                Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Here you can find a
                series of Imuka-validated leads for potential investiment opportunities.
                You can follow business that interest you over time, allowing you top
                pursue deals at a specific stage in their growth journey. You also have
                the option to interact with and provide advice to enterpreneurs to help
                them grow. Thank you!.
              </p>
            
        </div>
         <div class=" investornumbers " style="height:130px; position:relative" *ngIf="user?.user_type==='investor'">
                <div style="position:absolute; border:0; background:transparent; top:10px">
                        <div class="row"><div class="col"><div class="card card1" style="padding:5px; margin:0;">
                         <div class="media" style="width:14rem; margin:0; padding:0; background:white" >
                            <div class="align-self-center media-icon" style="background:transparent;
                                display:flex; justify-content:center; align-items:center; border-radius:50%; width:100px; height:100px ">
                               
                                   <div style="background:rgb(4, 161, 148);  display:flex; justify-content:center; align-items:center; border-radius:50%; width:60px; height:60px;"><i style="text-align:center; font-size:30px" class=" fa fa-users" alt="..."></i></div>
                                  </div>
                             <div class="media-body" style="background:rgb(182, 182, 182); padding-top:5px">
                               <h5 class="mt-0" style="text-align:center; justify-content: center; font-size:13px">Entrepreneurs</h5>
                               <p style="text-align:center; justify-content: center; font-size:16px; font-weight:700">{{counts.entrepreneurs}}</p>
                               
                             </div>
                           </div></div>
                         </div>
                         <div class="col">
                         <div class="card card1" style="margin:0; padding:5px">
                            
                            
                             <div class="media" style="width:14rem; margin:0; padding:0; background:white" >
                                
                                <div class="align-self-center media-icon" style="background:transparent;
                                display:flex; justify-content:center; align-items:center; border-radius:50%; width:80px; height:80px ">
                                
                                   <div style="background:rgb(4, 161, 148);  display:flex; justify-content:center; align-items:center; border-radius:50%; width:60px; height:60px;"><i style="text-align:center; font-size:30px" class=" fa fa-briefcase" alt="..."></i></div>
                                  </div>
                                <div class="media-body" style="background:rgb(182, 182, 182); padding-top:5px">
                                    <h5 class="mt-0" style="text-align:center; justify-content: center; font-size:13px">Total Businesses</h5>
                                    <p style="text-align:center; justify-content: center; font-size:16px; font-weight:700">{{counts.businesses}}</p>
                                  
                                </div>
                              </div>
                            </div>
                            
                   </div>
                   <div class="col">
                        <div class="card card1" style="padding:5px; margin:0; ">
                            <div class="media" style="width:14rem; margin:0; padding:0; background:white" >
                                <div class="align-self-center media-icon" style="background:transparent;
                                display:flex; justify-content:center; align-items:center; border-radius:50%; width:80px; height:80px ">
                                
                                   <div style="background:rgb(4, 161, 148);  display:flex; justify-content:center; align-items:center; border-radius:50%; width:60px; height:60px;"><i style="text-align:center; font-size:30px" class="fa fa-pencil-square-o" alt="..."></i></div>
                                  </div>
                                <div class="media-body" style="background:rgb(182, 182, 182);  padding-top:5px">
                                    <h5 class="mt-0" style="text-align:center; justify-content: center; font-size:13px">Contract Requests</h5>
                                    <p style="text-align:center; justify-content: center; font-size:16px; font-weight:700">{{counts.contracts}}</p>
                                  
                                </div>
                              </div>
                             
                            </div>
                </div>
                </div>
         </div></div>
        <section *ngIf="user?.user_type==='entrepreneur'">
            <div class="d-flex bd-highlight heading" (click)="navigate_to('my_businesses')">
                <div class="p-2 flex-grow-1 bd-highlight">Business(es) </div>
                <div class="p-2">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="body-content">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section> 

       

        <section  *ngIf="user?.user_type==='entrepreneur'">
            <div class="d-flex bd-highlight heading">
                <div class="p-2 flex-grow-1 bd-highlight" (click)="navigate_to('request')">Requests  <span class="badge badge-light float-right">{{request_count}}</span></div>
                <div class="p-2">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
            <div class="body-content">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section>

       
       <section class="updates" style="border:0; margin-top:30px" *ngIf="user?.user_type==='investor'">
        <div class="" style="padding-left:10px" ><h5><b>Business Updates</b></h5>
        <p>Lets Keep you Updated about the businesses  </p>
        </div>
        <div class="card-columns">
            <div class="card text-center" style="width:14rem; margin:10px"> 
                <div class="card-body" routerLink="/business/23">
                    <div >
                        <img src="assets/social-care.svg" style="height:40px; width:40px"/><br>
                    </div>
                    <div >
                        <h5 class="card-title">Fecundlabs</h5>
                        
                    </div>
                    <p>Added a contract request</p>

                </div>
                    <div class="card-footer text-muted">
                    2 days ago
                    </div>
            </div>
            <div class="card text-center" style="width:14rem; margin:10px"> 
                    <div class="card-body" routerLink="/business/26">
                        <div>
                            <img src="assets/social-care.svg" style="height:40px; width:40px"/><br>
                        </div>
                        <div >
                            <h5 class="card-title">Fecundlabs</h5>
                        </div>
                        <p>Added a contract request</p>
                    </div>
                        <div class="card-footer text-muted">
                        2 days ago
                        </div>
                </div>
                <div class="card text-center" style="width:14rem; margin:10px"> 
                        <div class="card-body" routerLink="/business/27">
                            <div >
                                <img src="assets/social-care.svg" style="height:40px; width:40px"/><br>
                            </div>
                            <div>
                                <h5 class="card-title">Fecundlabs</h5>
                               
                            </div>
                            <p>Joined program</p>
                        </div>
                            <div class="card-footer text-muted">
                            2 days ago
                            </div>
                </div>
                <div class="card text-center" style="width:14rem; margin:10px"> 
                        <div class="card-body" routerLink="/business/85">
                            <div>
                                <img src="assets/social-care.svg" style="height:40px; width:40px"/><br>
                            </div>
                            <div>
                                <h5 class="card-title">Fecundlabs</h5>
                                
                            </div>
                            <div>
                                    <p>updated pitch book </p>
                                    
                                </div>
                        </div>
                            <div class="card-footer text-muted">
                            2 days ago
                            </div>
                </div>
                <div class="card" style="width:14rem; margin:10px"> 
                        <div class="card-body" routerLink="/business/25">
                            <div style="display:flex; justify-content: center; align-items:center">
                                <img src="assets/social-care.svg" style="height:40px; width:40px"/><br>
                            </div>
                            <div style="display:flex; justify-content: center; align-items:center">
                                <h5 class="card-title">Fecundlabs</h5>
                            </div>
        
                        </div>
                            <div class="card-footer text-muted">
                            2 days ago
                            </div>
                </div>
        </div>
       </section>

    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
