<div class="body"> 
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="mainmenu">
            <app-mainmenu></app-mainmenu>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Hello, Virungi!</h1>
            <p>Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Your access-point for the opportunities, support and financing to scale your business to the next level.</p>
            <hr class="my-4">
            
        </div>
    </div>
  </div>
</div>
</div>
