.mainmenu{
    background: #fff;
    border:1px solid #eee;
    border-radius: 3px;
}

.feeds{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    background: none;
}

.content{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
}

.container{
    margin-top:10px;
}

.body{
    background:#f2f2f2;
}

.col-md-3{
    background: none !important;
}

.message{
    padding:10px;
}

section{
    border:1px solid #eee;
    margin-bottom:10px;
    border:1px solid #d1e4f3;
    
    .heading{
        padding:10px;
        background: #d1e4f3;
        width:100%;
        font-weight:bold;
        color:#444;
        cursor: pointer !important;
    }

    .body-content{
        padding:10px;
        background: #fff;
        width:100%;
    }
}

.p-2{
    font-weight: 400 !important;
}
.card-footer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.card1{
    background: transparent !important;
}
.media-icon{
  flex:1 !important;
}
.media-body{
   flex:1 !important;
   height:110px !important;
}
.text-right{
     float: right !important;
     color: gray !important;
    }
.quote{
    .card-body{
      height:150px !important;
      padding:20px !important;
      justify-content: center;
      .card-text{
          font-size: 25px !important;
          color:gray ;
      }
    }}
    
.tagandlikes{
    float: right !important;
    padding:10px !important;
    .tag{
        border-radius: 10px !important;
        border:1px solid gray !important;
        height:35px !important;
        padding:5px;
        
    }
    .foot{
        margin-right:15px !important;
    }
    .like{
        border-radius: 50% !important;
        border:1px solid gray !important;
        height:35px !important;
        width:35px !important;
        text-align:center !important;
        justify-content: center !important;
        padding:5px;
    }
}
@media only screen and (max-width: 750px){
    .media{
        width:6rem !important; 
        margin:0 !important;
        padding:0 !important;
        background: transparent !important;
       
        .mt-0{
            display:none !important;
        }
        div{
            div{
                div{
                    width:30px !important;
                    height:30px !important;
                }
            }
        }
    }
    .investornumbers{
        height:40px !important;
        display:flex !important;
        justify-content: center !important;
        align-items: center !important;
        div{
            top:-25px !important;
        }
    }
    .updates{
        display:flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        .card{
            width:21rem !important;
            
        }
    }
    .card1{
        width:4rem !important;
        margin:0 !important;
        background: transparent !important;
        border:0 !important;
    }
    .media-body{
        background:transparent !important;
        padding-top:30px !important;
        p{
        font-size:12px !important;
        font-weight:5 !important;
        justify-content:left !important;
        text-align: left !important;
        margin-bottom:0 !important;
       
    }}

}