<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <div class="mainmenu">
                <app-mainmenu></app-mainmenu>
            </div>
        </div>
       
        <div class="col-md-6"> 
            <h6>Your notifications

            </h6>
            <hr/>
             
            <div class="content">
              
                <ul class="list-group">
                        <ul class="list-group">
                                <li class="list-group-item">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="">hello word</span><br>
                                                <span style="font-size:10px; color:gray">12:00 Am</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                        </li>
                                <li class="list-group-item list-group-item-primary">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                                <li class="list-group-item list-group-item-secondary">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                        <div class="bottom">
                                                <img src="assets/user.png" alt="" height="25" />
                                             
                                        </div>
                                            
                                        <div class="center">
                                                <span style="padding-right:10px; padding-left:10px; ">hello word</span>
                                        </div>
                                        <div class="left">
                                                <span><i class="fa fa-calendar-check-o"></i></span>
                                        </div>
                                </li>
                              </ul>
                  </ul>
            </div>
        </div>
        <div class="col-md-3 feeds">
            <div class="feeds">
                <app-feeds></app-feeds>
            </div>
        </div>
      </div>
    </div>
    </div>
    