<div class="body">
  <app-header></app-header>
  <div class="container">
    
    <!-- <div class="row">
      <div class="col-md-8">
        <div class="jumbotron">
            <h1 class="display-4" style="color:#14978a">{{biznes?.business_name}}</h1>
         
            <p>Sector(s) : {{sector_info}}</p>
            <p>Balance: NILL</p>
            <p>Address: {{biznes?.location}} {{biznes?.country}}</p>
          
            <div *ngIf="biznes?.on_program==='Y'" >
                <button type="button" class="btn btn-outline-primary spaced" routerLink="/pitchbook/{{business_id}}">View pitch deck</button>
                <button type="button" class="btn btn-outline-primary spaced" routerLink="/einvoice/{{business_id}}">View Invoices</button>
                <button type="button" class="btn btn-outline-primary spaced" (click)="openModal(followers)">Followers and Investiments</button>
                       
            </div>
            
        </div>
      </div>
      <div *ngIf="biznes?.on_program==='Y'" class="col-md-4">
          <ul class="list-group">
              <li class="list-group-item list-group-item-dark">Breakdown of the imuka activities and milestones.</li>
              <li *ngFor="let milestone of milestones" class="list-group-item list-group-item-success  d-flex justify-content-between align-items-center"  [ngClass]="{'list-group-item-success': milestone.complete, 'list-group-item-warning': !milestone.complete}" >
                {{milestone?.name}} 
                <i [ngClass]="{'fa fa-check': milestone.complete}" ></i>
            </ul>
      </div>
    </div>
    <hr>
    <div *ngIf="biznes?.on_program==='Y'">
        <div class="row"><div class="col-lg-5 col-md-12">
            <div [chart]="chart"></div>
          </div>
          <div class="col-lg-2"></div>
          <div class="col-lg-5 col-md-12">
              <div [chart]="mline"></div>
            </div>
            
        </div>
    </div>
   -->
   
    
          <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <img src="{{biznes.business_cover}}" class="card-img-top" alt="{{biznes?.business_name}}" style="height:160px;">
                    <div class="card-body">
                      <div class="media">
                          <img src="{{biznes.business_logo}}" class="mr-3" style="height:60px; width:60px;">
                          <div class="media-body">
                            <h5 class="mt-0">{{biznes?.business_name}}</h5>
                            {{biznes?.location}} {{biznes?.region}}  {{biznes?.country}}
                          </div>
                        </div>
                    </div>
                    <div class="card-footer btn-group" role="group" aria-label="Basic example" style="padding:8px;">
                        <button class="btn btn-danger btn-sm spaced" *ngIf="biznes?.on_program==='Y'" (click)="openModal(template, biznes)">Invest</button>
                        <button type="button" class="btn btn-primary spaced btn-sm" routerLink="/pitchbook/{{business_id}}">Business Pitch Deck</button>
                       
                    </div>
                  </div>
            </div>
    
    
            <div class="col-md-4">
                <div *ngIf="biznes?.on_program=='Y'">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">ImukaAccess activities and milestones.</li>
                        <li *ngFor="let milestone of milestones" class="list-group-item list-group-item-success  d-flex justify-content-between align-items-center"  [ngClass]="{'list-group-item-success': milestone.complete, 'list-group-item-warning': !milestone.complete}" >
                        {{milestone?.name}}
                        <i [ngClass]="{'fa fa-check': milestone.complete}" ></i>
                    </ul>
                </div>
    
                
            </div>
          </div>
          <br/>
    
         
    
         
          <hr/>
          <div class="card border-primary mb-3" style="max-width: 100%;" *ngIf="biznes?.on_program==='Y'">
            <div class="card-header bg-transparent border-primary">Business Progress</div>
            <div class="card-body text-primary">
                <div class="row"><div class="col-md-6">
                    <div [chart]="chart"></div>
                  </div>
                  <div class="col-md-6">
                      <div [chart]="mline"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent border-primary">
                <button type="button" class="btn btn-primary" *ngIf="user?.user_type==='entrepreneur'" (click)="openModal(template)">Update Business Progress</button>
            </div>
          </div>
          <hr/>
          <div style="padding:0; border:1px solid #eee; margin-bottom: 200px;">
            <tabset>
              <tab heading="Business Information" id="tab1">
                <div>
                  <div class="business">
                    <div class="content-box" style="margin-top: 20px">
                      <div class="">
                          <div class="text-center">
                              <img src="{{biznes.business_logo}}" class="mr-3" style="height:60px; width:60px;">
                          </div>
                          <hr/>
                           <span class="text-center" style="font-size:18px; padding-left:10px; font-weight:bolder; color:rgb(41, 137, 175);">General Business Info</span>
                          <hr/>
                          <div style="padding-left:10px;">
                            <p>{{biznes.business_name}}</p>
                            <p>{{biznes.description}}</p>
                            <p>{{biznes.sectors | stringArray}}</p>
                          </div>
    
                          <hr/>
                          <span style="font-size:18px; font-weight:bolder; padding-left:10px; color:rgb(41, 137, 175);">Business Contact Info</span>
                          <hr/>
                          <div style="padding-left:10px;">
                            <p>{{biznes.phone}}</p>
                            <p>{{biznes.website}}</p>
                            <p>{{biznes.email}}</p>
                            <p>{{biznes.location}}</p>
                          </div>
                          <hr/>
                          <span style="font-size:18px; padding-left:10px; font-weight:bolder; color:rgb(41, 137, 175);">Other information.</span>
                          <hr/>
                          <div style="padding-left:10px;">
                            <p>{{biznes.mission}}</p>
                            <p>{{biznes.vision}}</p>
                            <p>{{biznes.date_of_reg}}</p>
                          </div>
                          
                  </div>
                     
    
                      </div>
                    </div>
                </div>
              </tab>
    
              <tab heading="Product and services">
                <div>
                  <div class="products">
                    <div class="content-box ">
                      <div class="" style="margin-top:10px;">
    
                        <div class="media"  *ngFor="let prdt of products">
                          <div class="media-left">
                            <img src="{{prdt.images}}" class="media-object" style="width:60px">
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">{{prdt.name}}</h4>
                            <p>{{prdt.description}}</p>
                          </div>
                        </div>
                      </div>
                    
                    </div></div>
                </div>
              </tab>
    
              <tab heading="Business Documents">
                <div>
                  <div class="documents" >
                    <div class="content-box ">
                      <div class="" style="padding-top:20px">
                        <div class="row">
                          <div class="col-3" *ngFor="let doc of documents">
                            <div class="box document" [ngClass]="isclicked?'active':''" >
                              <img [src]="doc.file_url" style="height:80px; width:80px;"/>
                              <h6>{{doc.name}}</h6>
                              <p>Approved <i class="fa fa-check" aria-hidden="true"></i></p>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </tab>
    
              <tab heading="Business Financial">
                <div>
                  <div class="financial" >
                    <div class="content-box ">
                      <div class="" style="padding-top:20px">
                        <table class="table table-striped table-responsive-sm">
                          <thead>
                            <tr>
                              <th scope="col">Year</th>
                              <th scope="col">ROS</th>
                              <th scope="col">ROI</th>
                              <th scope="col">ROE</th>
                              <th scope="col">DER</th>
                              <th scope="col">IRR</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let financial of financials">
                              <th scope="row">{{financial.period_to}}</th>
                              <td>{{financial.ros}}</td>
                              <td>{{financial.roi}}</td>
                              <td>{{financial.roe}}</td>
                              <td>{{financial.der}}</td>
                              <td>{{financial.irr}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
    
            </tabset>
          </div>
    
      </div>
    
    
    
    
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left" style="color:#fff;">{{active_business.business_name}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      
        
      
        <div class="modal-body"  >
      
          <hr/>
          <p style="color:darkcyan">Make your investiment offer to <b>{{active_business.business_name}}</b>.</p>
          <hr/>
      
          <div class="card request_table">
            <h5 class="card-header"><b>{{active_business.business_name}}</b>'s' Investment Need</h5>
            <div class="card-body">
                <p><span>Marketing</span><span style="float:right">{{active_business.investment_need.marketing}}</span></p>
                <p><span>Stock</span><span style="float:right">{{active_business.investment_need.stock}}</span></p>
                <p><span>Machinery</span><span style="float:right">{{active_business.investment_need.machinery}}</span></p>
                <p><span>Operations</span><span style="float:right">{{active_business.investment_need.operations}}</span></p>
                <p><span>Total</span><span style="float:right">{{active_business.investment_need.total}}</span></p>
            </div>
          </div>
      
          <hr/>
          <p style="color:darkcyan">You can tweak the values of the investment request and make a more convinient <b>{{active_business.business_name}}</b> offer.</p>
          <hr/>
      
          <form [formGroup]="request">
              <div class="form-group">
                  <label for="exampleFormControlSelect1">What type of financing do you prefer?</label>
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="financing_type" [class.invalid]="request.controls.financing_type.invalid">
                      <option value="Equity Financing">Equity Financing</option>
                      <option value="Debt Financing">Debt Financing</option>
                      <option value="Mezzainne Financing">Mezzainne Financing</option>
                      <option value="Islamic Financing">Islamic Financing</option>
                      <option value="Not sure">Not sure</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Amount to offer ($) USD</label>
                  <input type="number" class="form-control" id="exampleInputPassword1"  formControlName="offer" [class.invalid]="request.controls.offer.invalid">
              </div>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Comment</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="comment" [class.invalid]="request.controls.comment.invalid"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" (click)="makearequest()">Make An Offer</button>
          </form>
      
        <div>
      
      
      
        <ng4-loading-spinner  [timeout]="10000" [zIndex]="9999"></ng4-loading-spinner>
        </div>
        </div>
      
      </ng-template>
    