.free10{
    height:10px !important;
    width:100% !important;
    background: red;
}


.sidenav {
  height: 100vh !important;
  position: fixed !important;
  z-index: 100 !important;
  top: 8% !important;
  overflow-x: hidden !important;
}
