<div class="body"> 
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
              <div class="jumbotron">
                  <div class="row">
                      <div class="col-md-12">
                          <img src="assets/user.png">
                          <h1 class="display-4">Katende Ivan!</h1>
                          <p class="lead">ghkatende@gmail.com</p>
                          <p class="lead">+256705752569</p>
                      </div>
                  </div>
              </div>
      </div>
      <div class="col-md-4">
         <div class="chat_page">
            
         </div>
      </div>
    </div>
  </div>
  </div>
  