<div class="profile">
  <div class="top"></div>
  <div class="bottom">
    <img src="assets/user.png" alt="" /> 
    <b>Bivian Virungi</b>
    <span>Entreprenuer</span>
  </div>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><a routerLink="/my_businesses"><i class="fa fa-home"></i> My Business</a></li>
  <li class="list-group-item"><a routerLink="/events"><i class="fa fa-calendar"></i> Events</a></li>
  <li class="list-group-item"><a routerLink="/opportunities"><i class="fa fa-globe"></i> Opportunities</a></li>
  <li class="list-group-item"><a routerLink="/einvoice"><i class="fa fa-paper-plane-o"></i> E-invoice</a></li>
  <li class="list-group-item"><a routerLink="/investmentrequest"><i class="fa fa-envelope"></i> Requests</a></li>
  <li class="list-group-item"><a routerLink="/chat"><i class="fa fa-users"></i> ChatList</a></li>
  <li class="list-group-item"><a routerLink="/settings"><i class="fa fa-cog"></i> Settings</a></li>
  <li class="list-group-item"><a routerLink=""><i class="fa fa-sign-out"></i>  Logout</a></li>
</ul>