<div class="profile">
  <div class="top"></div>
  <div class="bottom">
    <img src="assets/user.png" alt="" /> 
    <b>Katende Ivan</b>
    <span>Entreprenuer</span>
  </div>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item"> <i class="fa fa-home"></i> My Business</li>
  <li class="list-group-item">Events</li>
  <li class="list-group-item">Opportunities</li>

  <li class="list-group-item">Profile</li>
  <li class="list-group-item">Settings</li>
  <li class="list-group-item">Opportunities</li>
</ul>