<section>
    <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/login">
              <img src="assets/icon1.png" alt="" style="height:35px; margin-left:20px;">                
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/signup">Create Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/create_organisation">Add support Organisation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" [ngStyle]="{'background-image':'url(' + imageUrl + ')'}">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div style="text-align:center;">
                        <img src="assets/icon1.png" alt="" style="height:80px; margin-left:20px;">
                        <p class="lead">Connect to <b>business opportunities.</b></p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card text-white bg-primary mb-3" style="max-width: 100% ;">
                    <div class="card-header">Login to your Account.</div>
                    <div class="card-body">
                        <form  [formGroup]="loginForm" (submit)="login()">
                            <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" placeholder="Enter email" formControlName="email" [class.invalid]="loginForm.controls.email.invalid"
                            />
                            </div>
                            <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password"class="form-control" placeholder="Password" formControlName="password" [class.invalid]="loginForm.controls.password.invalid"
                            />
                            </div>
                            <button type="submit" class="btn btn-outline-warning btn-block"  [disabled]="loginForm.invalid">Login</button>
                        </form>
                    </div>

                    <div class="card-footer row">
                        <a class="col-md-6 col-sm-6 col-xs-6" routerLink="/forgotPassword">Forgot password?</a>
                        <a class="col-md-6  col-sm-6 col-xs-6" routerLink="/signup">Create Your Account</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="dark"> 
        <div class="container padding">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/imukaaccess.jpg" style="width:100%;"/>
                </div>
                <div class="col-md-8">
                    <h1><b style="color:rgb(17, 49, 97);">ImukaAccess</b></h1>
                    <h4>strengthening trust and transparency between entrepreneurs and investors</h4>
                    <p>The ImukaAccess app was designed to complement existing incubators, accelerators and business support services in the entrepreneurial ecosystem in Uganda; by helping entrepreneurs to access the right networks, opportunities, personalised support and investment.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container padding">
            <h1></h1>
            <div class="row services">
                <div class="col-md-6 dark">
                    <h3>Personalized <b>Business Support</b></h3>
                    <p></p>
                </div>
                <div class="col-md-6">
                    <h3>Networking <b>Opportunities</b></h3>
                    <p>Through networking, you can discover new opportunities, build your customer base and find new suppliers and staff. You may also find investors and business partners</p>
                </div>
                <div class="col-md-6">
                    <h3>Investment <b>Opportunities</b></h3>
                    <p>Investors benefit from Imuka’s robust vetting system that identifies Entrepreneurs who are resilient and open to adapting based on sound Expert feedback. </p>
                </div>
                <div class="col-md-6 dark">
                    <h3>Access <b>to Financing</b></h3>
                    <p>We work with financial institutions to improve the funding available to SMEs by stimulating the provision of loans and venture capital through financial instruments.</p>
                </div>
            </div>
        </div>
    </section>
    <ng4-loading-spinner  [timeout]="10000" [zIndex]="9999"></ng4-loading-spinner>
</section>