<div class="main">
    <div class="row">
        <div class="col-md-6 info">
            <div>
               <div> <img src="assets/icon.png" alt="" style="height:90px; margin-left:20px;"></div>
               
               
            </div>
            <div style="margin:auto"><img src="assets/login1.svg" style="height:500px; width:500px"/></div>
        </div>
        <div class="col-md-6 form">
            <div>
                <form  [formGroup]="loginForm" (submit)="login()">
                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                formControlName="email" [class.invalid]="loginForm.controls.email.invalid"
                />
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
                formControlName="password" 
                [class.invalid]="loginForm.controls.password.invalid"
                />
                </div>

                <div style="text-align:center; padding:20px"><a routerLink="/forgotPassword" class="btn btn-default">Forgot password?</a></div>
                <button type="submit" class="btn btn-primary btn-block"  [disabled]="loginForm.invalid">
                Login Now
                </button>
               
                </form>
               
                <div style="text-align:center; padding:20px"><a routerLink="/signup" class="btn btn-default">Create Account</a></div>
                <a routerLink="/create_organisation" class="btn btn-default">Join As Support Organisation</a>
                <ng4-loading-spinner  [timeout]="10000" [zIndex]="9999"></ng4-loading-spinner>
            </div> 
           

            
</div>

  