.tutorials {
  flex: 1;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.forms {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding:50px;
}

.myrow {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body{
  height: 100vh !important;
}