.main{
  background:#bcd5e2;
  height:100vh !important;
  width:100%;
  .row{
      height:100vh;
      .info {
        display: flex;
        background: #eee;
        div{
            margin: auto;
        }
      }

      .form{
          display: flex;
          width:100%;
          div{
            margin: auto;
          }
      }
  }
}
