<section >
    <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/login">
              <img src="assets/icon1.png" alt="" style="height:35px; margin-left:20px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/login">Login </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About ImukaAccess</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/howitworks">How it Woks</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid" [ngStyle]="{'background-image':'url(' + imageUrl + ')'}">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div style="text-align:center;">
                        <img src="assets/icon1.png" alt="imukaAccess" style="height:90px; margin-left:20px;">
                        <h1 style="color:#fff;">Connect to <b>Business Opportunities.</b></h1>
                        <br/>
                        <button class="btn btn-outline-primary" routerLink="/signup/investor">Investor</button> &nbsp;&nbsp;
                        <button class="btn btn-outline-warning" routerLink="/signup/entrepreneur">Entreprenuer</button>  &nbsp;&nbsp;
                        <button class="btn btn-outline-info" routerLink="/create_organisation">Support</button>  &nbsp;&nbsp;
                    </div>
                </div>
                <div class="col-md-5" id="login">
                    <div class="card text-white bg-primary mb-3" style="max-width: 100% ;">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form  [formGroup]="loginForm" (submit)="login()">
                            <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" placeholder="Enter email" formControlName="email" [class.invalid]="loginForm.controls.email.invalid"
                            />
                            </div>
                            <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password"class="form-control" placeholder="Password" formControlName="password" [class.invalid]="loginForm.controls.password.invalid"
                            />
                            </div>
                            <button type="submit" class="btn btn-outline-warning btn-block"  [disabled]="loginForm.invalid">Login</button>
                        </form>
                    </div>

                    <div class="card-footer row">
                        <a class="col-md-12 col-sm-12 col-xs-12" routerLink="/forgotPassword">Forgot password?</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="dark">
        <div class="container">
            <div class="row text-center stats">
                <div class="col-md-3">
                <b>{{counts.organisations}}</b> Support organisations
                </div>
                <div class="col-md-3">
                <b >{{counts.businesses}}</b> Businesses
                </div>
                <div class="col-md-3">
                <b>{{counts.investors}}</b> Investors / Finaciers
                </div>
                <div class="col-md-3">
                <b>{{counts.entrepreneurs}}</b> Entrepreneurs
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container padding">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/imukaaccess.jpg" style="width:100%;"/>
                </div>
                <div class="col-md-8">
                    <h1><b style="color:rgb(17, 49, 97);">ImukaAccess</b></h1>
                    <h4>strengthening trust and transparency between entrepreneurs and investors</h4>
                    <hr/>
                    <p>ImukaAccess is designed to complement existing incubators, accelerators and business support services
                      in the entrepreneurial ecosystem in Uganda by connecting entrepreneurs to the right networks, opportunities, personalized support and investment.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="light">
        <div class="container">

         
          <hr>
            <div class="row">
              <div class="col-md-4" >
                    <h3>Featured Opportunities.</h3>
                    <!-- <div class="card" *ngFor="let opportunity of opportunities" style="margin-bottom:10px">
                   
                    <div class="media"  style="width: 100%;">
                            <img [src]="opportunity?.image_url" class="card-img-top"  onerror="this.src='/assets/conferenceworkshop.jpg'"  style= "height:80px; width:80px" alt="{{opportunity.title}}" class="mr-3" alt="...">
                            <div class="media-body">
                              <h5 class="mt-0" style="font-size: 16px">{{opportunity?.title|flTrancator}}</h5>
                              <p style="font-size:12px">{{opportunity?.short_description|flTrancator}}  <a href="#login">Readmore</a></p>
                              
                            </div>
                           
                    </div>
               </div> -->
               <div class="card" *ngFor="let opportunity of opportunities" style="width: 18rem; margin-bottom:20px;">
                <span style=" padding:5px; font-size:13px; text-transform: uppercase; text-align: center; justify-content: center;" >{{opportunity?.title}}</span>
                <img  style="height:120px" [src]="opportunity?.image_url"  onerror="this.src='/assets/conferenceworkshop.jpg'" alt="..." >
                <!-- <div class="card-body">
                 
                  <p class="card-text">{{opportunity?.short_description|flTrancator}}</p> 
                  
                </div> -->
              </div>
              </div>
              <div class="col-md-4" >
                    <h3>Featured Events.</h3>
                    <!-- <div class="card" *ngFor="let opportunity of events" style="margin-bottom:10px">
                    <div class="media"  style="width: 100%;">
                            <img [src]="opportunity?.image_url" class="card-img-top"  onerror="this.src='/assets/conferenceworkshop.jpg'"  style= "height:80px; width:80px" alt="{{opportunity.title}}" class="mr-3" alt="...">
                            <div class="media-body">
                              <h5 class="mt-0"style="font-size: 16px">{{opportunity?.title|flTrancator}}</h5>
                              <p style="font-size:12px">{{opportunity?.description|flTrancator}} <a href="#login">Readmore</a> </p>
                             
                            </div>
                          </div>
                  </div> -->
                  <div class="card" *ngFor="let opportunity of events" style="width: 18rem; margin-bottom:20px;">
                    <h6 style=" padding:5px; text-transform: uppercase; text-align: center; justify-content: center;">{{opportunity?.title}}</h6>
                    <img [src]="opportunity?.image_url" class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                     
                      <p class="card-text">{{opportunity?.description|flTrancator}} <a href="#login">Readmore</a></p>
                      
                    </div> -->
                  </div>
              </div>
              <div class="col-md-4" >
                    <h3>Featured Sessions.</h3>
                   <div class="card" *ngFor="let opportunity of sessions" style="margin-bottom:10px"><div class="media"  style="width: 100%;">
                            <!-- <img [src]="session?.profile_pic" class="card-img-top"  onerror="this.src='/assets/conferenceworkshop.jpg'"  style= "height:80px; width:80px" alt="{{opportunity.title}}" class="mr-3" alt="...">
                            <div class="media-body">                              <h5 class="mt-0">{{session?.title}}</h5>
                              <p>{{session?.description|flTrancator}} </p>
                              <hr/>
                            </div> -->
                            <img [src]="opportunity?.profile_pic" class="card-img-top"  onerror="this.src='/assets/conferenceworkshop.jpg'"  style= "height:80px; width:80px" alt="{{opportunity.title}}" class="mr-3" alt="...">
                            <div class="media-body">
                              <h5 class="mt-0">{{opportunity?.title}}</h5>
                              <p style="font-size:12px">{{opportunity?.description|flTrancator}}  <a href="#login">Readmore</a></p>
                             
                            </div>
                          </div>
                        </div> 
                    
              </div>
            </div>
        </div>
      </section>

    <section class="dark">
        <div class="container">
            <div class="row text-center icons">
                <div class="col-md-3">
                    <i class="fa fa-facebook"></i><br/>
                    <a href="https://www.facebook.com/ImukaAccess/" target="_blank">@ImukaAccess </a>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-twitter"></i><br/>
                    <a href="https://twitter.com/ImukaAccess" target="_blank">@ImukaAccess </a>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-instagram"></i><br/>
                    <a href="https://www.facebook.com/ImukaAccess/" target="_blank">@ImukaAccess </a>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-linkedin"></i><br/>
                    <a href="https://www.linkedin.com/company/imukaaccess/" target="_blank">@ImukaAccess </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container padding">
            <div class="row services text-center">
                <div class="col-md-4">
                    <h3>Entrepreneurs</h3>
                    <p>Access Business Growth Opportunities, Technical and Financial support.</p>
                    <button class="btn btn-outline-warning btn-block" routerLink="/signup/entrepreneur">Entreprenuer</button>
                </div>
                <div class="col-md-4">
                    <h3>Investors</h3>
                    <p>Access validated investment leads. Convenient & reliable deal origination platform</p>
                    <button class="btn btn-outline-primary btn-block" routerLink="/signup/investor">Investor</button>
                </div>
                <div class="col-md-4">
                    <h3>Support organisations</h3>
                    <p>Access Entrepreneur Clients to benefit from your support Programs.</p>
                    <button class="btn btn-outline-info btn-block" routerLink="/create_organisation">Support</button>
                </div>
            </div>
        </div>
    </section>

    <section style="padding:100px;  background: #444; ">
      <div class="container">
        <div style="text-align:center; color:#fff;">
          <img src="assets/icon1.png" alt="imukaAccess" style="height:90px; margin-left:20px;">
          <h2>Connect to <b>Business Opportunities.</b></h2>
          <p>ImukaAccess is a web and mobile platform that links East African Entrepreneurs
            to Investors and Business Support Specialists. We are building a sustainable model that combines technology and local talent to support early-stage businesses to move from survival to grow and thrive.</p>
      </div>
      </div>
    </section>


    <section class="light">
        <div class="container">
            <div class="row text-center partners">
                <div class="col-md-2">
                    <div ><img src="assets/partners/ftbic.jpg" class="animated bounce slow"></div>
                </div>
                <div class="col-md-2">
                    <div><img src="assets/partners/grow.jpg" class="animated bounce slow"></div>
                </div>
                <div class="col-md-2">
                    <div><img src="assets/partners/imuka_logo.png"  class="animated bounce slow"></div>
                </div>
                <div class="col-md-2">
                    <div><img src="assets/partners/kcca_esb.jpg" class="animated bounce slow"></div>
                </div>
                <div class="col-md-2">
                    <div><img src="assets/partners/renewable.png" class="animated bounce slow"></div>
                </div>
                <div class="col-md-2">
                    <div><img src="assets/partners/ewb.jpg" class="animated bounce slow"></div>
                </div>

            </div>
        </div>
    </section>
</section>
