<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">OutBox Hub</h1>
          <p>
            Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Your
            access-point for the opportunities, support and financing to scale
            your business to the next level.
          </p>
          <hr class="">
          <button class="btn btn-primary">Join outbox group</button> 
        </div>

        <div>

        </div>
      </div>
    </div>
  </div>
</div>
