<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">OutBox Hub</h1>
          <p>
            Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Your
            access-point for the opportunities, support and financing to scale
            your business to the next level.
          </p>
        </div>
        
        <hr>
          <ul>
            <li class="active"> <i class="fa fa-user"></i> <span>About</span> </li>
            <li> <i class="fa fa-calendar"></i> <span>Events</span>  </li>
            <li> <i class="fa fa-globe"></i> <span>Opportunities </span>  </li>
            <li> <i class="fa fa-users"></i>  <span>Outbox Group </span> </li>
            <li> <i class="fa fa-envelope"></i>  <span>Make Inquiry</span> </li>
          </ul>
      </div>
    </div>
  </div>
</div>
