<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="jumbotron">
          <h1 class="display-4">OutBox Hub</h1>
          <p>
            Welcome to <b style="color:#1798d4;">ImukaAccess!</b> Your
            access-point for the opportunities, support and financing to scale
            your business to the next level.
          </p>
          <hr class="">
          <button class="btn btn-primary">Join outbox group</button> 
        </div>
      </div>
      <div class="col-md-4 feeds">

          <div class="card">
              <div class="card-header">
                Send Feedback or Inquiry
                <option value="3">Three</option>
              </div>
              <div class="card-body">
                <form action="">
                  <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Options</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                          <option selected>Choose...</option>
                          <option value="Feedback">Feedback</option>
                          <option value="Inquiry">Inquiry</option>
                        </select>
                  </div>
                  <textarea name="message" class="form-control" placeholder="Type the message ..."></textarea><br/>
                  <button type="" class="btn btn-primary btn-block">Send Message</button>
                </form>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
