<div class="body"> 
<app-header></app-header>
<div class="container">
    <div class="row">
    <div class="col-md-3">
    <div class="mainmenu">
        <app-mainmenu></app-mainmenu>
    </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron" [ngStyle]="{background: 'url(/assets/conferenceworkshop.jpg)'}">
            <div class="divcover"> <h4>Opportunities ({{opportunities_clone.length}})</h4>
              
             <p>Find upcoming networking and training events in your sector and region,</p>
            
             <div  class="row" ><div class="col-md-4"><a class="btn eventbutton btn-primary btn-sm" (click)="openTheModal(template)" >Post</a></div>
             <div class="col-md-4"><a class="btn eventbutton btn-success btn-sm" (click)="get_opportunities()">All Opportunities</a></div>
            <div class="col-md-4"> <a class="btn eventbutton btn-warning btn-sm" (click)="myopportunities()" >My Opportunities</a></div></div>
         </div>
         </div>
         <div class="card-columns">
            <div class="card" *ngFor="let opportunity of opportunities_clone">
                
                    <div >
                        <img class="card-img-top" [src]="opportunity.image_url" alt="Card image cap" style="width:100%;height:250px"
                        onerror="this.src='/assets/conferenceworkshop.jpg'"
                        >
                    </div>
                    <div class="card-body">
                        <span class="card-title">{{opportunity.title}}</span><br/>
                        <span class="eventtime"><span style="color:#0056b3">End On: </span>&nbsp;{{opportunity.due_date}}<span style="color:#0056b3; padding-left:10px">Days left: </span>&nbsp;{{opportunity.daysleft}}</span>
                        <hr style="margin:2px">
                        <span style="font-size:14px">Type : {{opportunity.opp_type}}</span>
                       <hr  style="margin:0">
                        <p class="card-text" >{{opportunity.short_description|flTrancator}}<a [href]="opportunity.link" target="_blank" style="color:#0056b3">Read More  <i class="fa fa-forward"></i></a> </p>
                    </div>
                   
                
            </div>
        </div>
    
    </div>
</div>


<ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Post an Opportunity</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
             
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" [(ngModel)]="title" placeholder=" title">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                    <select class="form-control"  name="opp_type" [(ngModel)]="opp_type" >
                        <option value="Market/Supply Opportunities">Market/Supply Opportunities</option>
                        <option value="Partnership Opportunitie">Partnership Opportunitie</option>
                        <option value="Franchising/Distributorships Opportunities">Franchising/Distributorships Opportunities</option>
                        <option value="General">General</option>
                    </select>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Due date</label>
                    <div class="col-sm-10">
                    <input type="date"  name="due_date" [(ngModel)]="due_date" class="form-control" >
                    </div>
                </div>
    
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Link to details</label>
                    <div class="col-sm-10">
                    <input type="link" class="form-control"  name="link" [(ngModel)]="link"   placeholder="Link to details">
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Short description</label>
                    <div class="col-sm-10">
                    <textarea class="form-control"  name="short_description" [(ngModel)]="short_description" ></textarea>
                    </div>
                </div>


                <div>
                    <button class="btn btn-primary btn-sm" (click)="add_opportunities()">Submit Opportunity </button>
                </div>
            </form>
        </div>
</ng-template>
<app-footer></app-footer>
