<div class="body"> 
<app-header></app-header>
<div class="container">
    <div class="row">
    <div class="col-md-3">
    <div class="mainmenu">
        <app-mainmenu></app-mainmenu>
    </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Opportunities</h1>
            <p>Explore funding, skilling and resource opportunities in your business sector and region.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-sm" (click)="openTheModal(template)">Post an opportunity</a>
            <hr>
            <div class="form-group row">
                    <div class="form-group row">
                            <div class="col-md-3">
                                <select class="form-control" (change)="onChange($event.target.value)">
                                    <option value="">select event type</option>
                                    <option value="Business networking event">Business networking event</option>
                                    <option value="Workshop/Conference">Workshop/Conference</option>
                                    <option value="Training">Training</option>
                                    <option value="Pitching">Pitching</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                    <select class="form-control" (change)="onChange($event.target.value)">
                                        <option value="">hosted by</option>
                                        <option value="Business networking event">Imuka</option>
                                        <option value="Workshop/Conference">Support organisations</option>
                                       
                                    </select>
                                </div><div class="col-md-3">
                                        <select class="form-control" (change)="onChange($event.target.value)">
                                            <option value="">Region</option>
                                            <option value="Business networking event">Western</option>
                                            <option value="Workshop/Conference">Northern</option>
                                            <option value="Training">Eastern</option>
                                            <option value="Pitching">Southern</option>
                                        </select>
                                    </div><div class="col-md-3">
                                            <select class="form-control" (change)="onChange($event.target.value)">
                                                <option value="">Month</option>
                                                <option value="January">Jan</option>
                                                <option value="February">Feb</option>
                                                <option value="March">Mar</option>
                                                <option value="Pitching">Apr</option>
                                                <option value="April">May</option>
                                                <option value="June">Jun</option>
                                                <option value="July">Jul</option>
                                                <option value="August">Aug</option>
                                                <option value="September">Sept</option>
                                                <option value="October">Oct</option>
                                                <option value="November">Nov</option>
                                                <option value="December">Dec</option>


                                            </select>
                                        </div><div class="col-md-3">
                                                <select class="form-control" (change)="onChange($event.target.value)">
                                                    <option value="">Recommended</option>
                                                    <option value="Business networking event">Business networking event</option>
                                                    <option value="Workshop/Conference">Workshop/Conference</option>
                                                    <option value="Training">Training</option>
                                                    <option value="Pitching">Pitching</option>
                                                </select>
                                            </div>
            </div>
            
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6 carddata" *ngFor="let opportunity of opportunities">
                    <div class="card">
                    <div class="height:100px">
                    <img class="card-img-top" [src]="opportunity.image_url" alt="Card image cap" style="height:150px"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{opportunity.title}}</h5>
                        <p class="card-text">{{opportunity.short_description|flTrancator}}<a [href]="opportunity.link" target="_blank">Continue reading</a> </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{opportunity.due_date}}</li>
                        
                       
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>


<ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Post an Opportunity</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
             
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" [(ngModel)]="title" placeholder=" title">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Type</label>
                    <div class="col-sm-10">
                    <select class="form-control"  name="opp_type" [(ngModel)]="opp_type" >
                        <option value="Market/Supply Opportunities">Market/Supply Opportunities</option>
                        <option value="Partnership Opportunitie">Partnership Opportunitie</option>
                        <option value="Franchising/Distributorships Opportunities">Franchising/Distributorships Opportunities</option>
                        <option value="General">General</option>
                    </select>
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Due date</label>
                    <div class="col-sm-10">
                    <input type="date"  name="due_date" [(ngModel)]="due_date" class="form-control" >
                    </div>
                </div>
    
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Link to details</label>
                    <div class="col-sm-10">
                    <input type="link" class="form-control"  name="link" [(ngModel)]="link"   placeholder="Link to details">
                    </div>
                </div>
    
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Short description</label>
                    <div class="col-sm-10">
                    <textarea class="form-control"  name="short_description" [(ngModel)]="short_description" ></textarea>
                    </div>
                </div>


                <div>
                    <button class="btn btn-primary btn-sm" (click)="add_opportunities()">Submit Opportunity </button>
                </div>
            </form>
        </div>
        </ng-template>

    <app-footer></app-footer>
