<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
            <div class="content">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="assets/user.png">
                            <h1 class="display-4">Virungi Bivian!</h1>
                            <p class="lead">viviangal20@gmail.com</p>
                            <p class="lead">+256755146531</p>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                      <div class="col-md">
                        <div class ="container" style="margin: auto 50%">
                            <i class="fa fa-briefcase" aria-hidden="true" ></i>
                            <br>
                            <label name="numbusiness"> <span class = "firstLabel">0 </span></label> 
                            <label> <span class = "secondlabel">Businesses</span>  </label>
                        </div> 
                      </div>
                      <div class="col-md">
                        <div class ="container" style="margin: auto 50%">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <br>
                            <p>72% Complete</p>
                        </div>


                      </div>

                    </div>
                </div>
                  

                <accordion [closeOthers]="oneAtATime">

                    <accordion-group heading="Please complete your profile">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-lock"></i>   Enter full names </label>
                                <input type="email" class="form-control" id="exampleFormControlInp ut1" placeholder="@example Anam David">
                            </div>
                
                       
                             <div class="form-group">
                                <button  type="button" class="btn btn-primary btn-sm">Save settings</button>
                                <button type="button" class="btn btn-secondary pull-right btn-sm">Retore settings</button>
                            </div>
                      </form>
                    </accordion-group>
                    <accordion-group heading="Contact information">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>   Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>   Phone number</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="0705468976@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-lock"></i>   Physical address</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mulalgo@example.com">
                            </div>  

                            <div class="form-group">
                                <button  type="button" class="btn btn-primary btn-sm">Save settings</button>
                                <button type="button" class="btn btn-secondary pull-right btn-sm">Retore settings</button>
                            </div>
                        </form>
                    </accordion-group>
                    <accordion-group heading="Help">
                        <h4>Call Imuka team </h4>
                        <span>0774562622</span>
                    </accordion-group>

                    <accordion-group heading="Personnal information">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>  Date of Birth</label>
                                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="26th@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i> Marital Status</label>
                                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="0705468976@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-lock"></i>   Gender</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mulalgo@example.com">
                            </div>  

                            <div class="form-group">
                                <button  type="button" class="btn btn-primary btn-sm">Save settings</button>
                                <button type="button" class="btn btn-secondary pull-right btn-sm">Retore settings</button>
                            </div>
                        </form>
                    </accordion-group>

                    <accordion-group heading="Education Level">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>   Education Level</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>

                        </form>
                    </accordion-group>

                    <accordion-group heading="Experience">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>   Relevant Experience</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>   Relevant Skills</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>   Expertise</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlInput1"><i class="fa fa-envelope"></i>   Contact of referee</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>

                        </form>
                    </accordion-group>
                    


                </accordion>





            </div>
        </div>
        <div class="col-md-3 feeds">
            <div class="feeds">
                <app-feeds></app-feeds>
            </div>
        </div>
      </div>
    </div>
    </div>
    