.forgot{
  text-align: center;
  padding:3px;
}

.padding{
  padding-top: 20px;
  padding-bottom: 20px;
  h2{
    margin-top:50px;
    margin-bottom:50px;
  }
}

section {
  .dark{
    background: #eee;
  }
}

.jumbotron{
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    margin-top:20px !important;
  }
  margin-bottom: 0px !important;
}

.navbar {
  background:#007bff !important;
  color:#eee;
}

.display-4{
  color:#007bff  !important;
}

.nav-link{
  color:#eee !important;
}

.col-md-7{
  div {
    margin-top:10vh;
  }
}

.card-footer {
  a {
    color:#eee;
  }
}

.card-footer{
  text-align:center !important;
}


.lead  {
   color:#fff !important;
}

.dark{
  background: #eee !important;
  padding: 30px;
}

.services {
  .col-md-6{
    text-align: center !important;
    padding:20px !important;
    height: 250px !important;
  }
}

section{
  padding-top:50px;
  padding-bottom:50px;
}

.icons > .col-md-3 > i {
  font-size:30px;
  color:skyblue;
}

.stats > .col-md-3 > b{
  font-weight: bolder;
  font-size:25px;
}
.partners {
  div{
    div {
      height:100px !important;
      width:100px !important;
      img{
        object-fit: contain !important;
        width: 100% !important;
      }
    }
  }
}
