<p>
  Let's be real. The East African entrepreneurial ecosystem is constantly changing and evolving. It can be very hard to get a true picture of the people and players involved.
  Entrepreneurs are hard to track down because they are so committed to their work, international investors come in and out of the community all the time, and support organizations are dotted throughout the region providing business development within their own networks but not always able to coordinate within the wider community.

  ImukaAccess offers a window to see that full picture.
  ImukaAccess is a connection point that lets everyone in the ecosystem easily talk to each other.

  We operate with the goal to see every entrepreneur succeed in their venture for the benefit of the community and the prosperity of East Africa as a whole.
  We collaborate with any and all people and players who share that vision.

  It's been tried before, but not quite in this model.

  ImukaAccess is a circular model bringing value to each person and player at an affordable price.
</p>
