<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        <div class="mainmenu">
            <app-mainmenu></app-mainmenu>
        </div>
        </div>
        <div class="col-md-9">
        <div class="jumbotron" [ngStyle]="{background: 'url(/assets/conferenceworkshop.jpg)'}">
           <div class="divcover"> <h4>Events ({{events_clone.length}})</h4>
          
            <p>Find upcoming networking and training events in your sector and region,
            including Imuka Series events.</p>
           
            <div  style="display:flex; flex-direction: row"><div style="flex:1"><a class="btn eventbutton btn-primary btn-sm" (click)="openModal(template)" style="float:left">Post Event</a></div>
            <div style="flex:1"><a class="btn eventbutton btn-success btn-sm" (click)="get_all_events()">All Events</a></div>
           <div style="flex:1"> <a class="btn eventbutton btn-warning btn-sm" (click)="myevent()" >My Event</a></div></div>
        </div>
        </div>
      
            <div class="content">
                    
                <div class="row" >
                    
                    <div class="col-md-6 carddata" *ngFor="let event of events_clone">
                        <div class="card">
                        <img class="card-img-top" [src]="event.image_url" alt="Card image cap" style="height:250px">
                        <div class="card-body" style="height:200px">
                            <h4 class="card-title">{{event.title}}</h4><br/>
                            <span class="eventtime"><span style="color:#0056b3">Date: </span>&nbsp;{{event.time_of_event}} <span style="color:#0056b3; padding-left:10px">Days left: </span>&nbsp;{{event.daysleft}}</span>
                            <hr style="margin:2px">
                            <span style="font-size:14px">Type : {{event.event_type}}</span>
                           <hr  style="margin:0">
                            <p class="card-text">{{event.description|flTrancator}}<a [href]="event.link" target="_blank">Read more <i class="fa fa-forward"></i></a> </p>
                        </div>
                        <ul class="list-group list-group-flush">
                           
                            <li class="list-group-item"><i class="fa fa-map-marker" style="color:#0056b3; font-size: 15px"></i>  {{event.venue}}</li>
                        </ul>
                        </div>
                    </div>
                </div>
               
        </div>
      </div>
    </div>
    </div>

    <ng-template #template>
    <div class="modal-header">
        <h6 class="modal-title pull-left">Post an event</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modalcontent">
        <form>
      
            <div class="form-group row">
                <label for="inputPassword"  class="col-sm-2 col-form-label">Event title</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="title" name="title" >
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Event type</label>
                <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="event_type " name="event_type">
                    <option value="Business networking event">Business networking event</option>
                    <option value="Workshop/Conference">Workshop/Conference</option>
                    <option value="Training">Training</option>
                    <option value="Pitching">Pitching</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Date of event</label>
                <div class="col-sm-10">
                <input type="date"  [(ngModel)]="time_of_event" name="time_of_event" class="form-control" >
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Event Venue</label>
                <div class="col-sm-10">
                <input type="text" class="form-control"  name="venue" [(ngModel)]="venue"  >
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Link to details</label>
                <div class="col-sm-10">
                <input type="link" class="form-control"  [(ngModel)]="link" name="link" >
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Short description</label>
                <div class="col-sm-10">
                <textarea class="form-control" name="description" [(ngModel)]="description"></textarea>
                </div>
            </div>

            <div>
                <button class="btn btn-primary btn-sm" (click)="add_event()">Submit Event</button>
            </div>
        </form>
       
    </div>
    </ng-template>
    <app-footer></app-footer>
    