.mainmenu{

    border-radius: 3px;
}

.feeds{
    background: #fff;
    border:1px solid #eee;
    border-radius: 3px;
    background: none;
}

.content{
    background: transparent;
    border:1px solid #eee;
    border-radius: 3px;
    padding:10px;
}

.container{
    margin-top:10px;
}

.body{
    background:#f2f2f2;
}
.card-title{
    color:#0056b3 !important;
}
.eventtime{
    font-size: 14px !important;

}

.divcover{
    background: linear-gradient(to top, rgba(8, 8, 8, 0.658),transparent) !important;
    width:100% !important;
    padding: 15px;
}
.jumbotron{
    background-size: cover !important;
    color:white !important;
    padding:0 !important;
    margin-bottom: 0 !important;
    border-radius: 0px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;

}
.card-text{
    margin-top:5px !important;
}
.col-md-3{
    background: none !important;
    margin-bottom: 10px;
}

.notime{
    color:red;
}

.ontime{
    color:green;
}

.filter_main{
    option{
        font-size: 10px;
    }
}
.modalcontent{
    .floating-form {
        width:320px;
      }

      /****  floating-Lable style start ****/
      .floating-label {
        position:relative;
        margin-bottom:20px;
        background:cadetblue;
      }
      .floating-input , .floating-select {
        font-size:14px;
        padding:4px 4px;
        display:block;
        width:100%;
        height:30px;
        background-color: transparent;
        border:none;
        border-bottom:1px solid #757575;
      }

      .floating-input:focus , .floating-select:focus {
           outline:none;
           border-bottom:2px solid #5264AE;
      }

      label {
        color:#999;
        font-size:14px;
        font-weight:normal;

        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
      }

      .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
        top:-18px;
        font-size:14px;
        color:#5264AE;
      }

      .floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
        top:-18px;
        font-size:14px;
        color:#5264AE;
      }

      /* active state */
      .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
        width:50%;
      }

      *, *:before, *:after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }



}
.modal-header{
 height:60px !important;
}
.modal-title{
    color:white !important;
}
.card-text{
    font-size: 12px !important;
}
@media only screen and (max-width: 650px){
    .eventbutton{
        background:transparent;
    }
    .btnsm{
        display:block;
    }
}
