<div class="body"> 
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
        <div class="mainmenu">
            <app-mainmenu></app-mainmenu>
        </div>
        </div>
        <div class="col-md-9">
        <div class="jumbotron">
            <h1 class="display-4">Events</h1>
            <p>Find upcoming networking and training events in your sector and region,
            including Imuka Series events.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-sm" (click)="openModal(template)">Post an Event</a>
            <hr>
            <div class="form-group row">
                <div class="col-md-3">
                    <select class="form-control" (change)="onChange($event.target.value)">
                        <option value="">select event type</option>
                        <option value="Business networking event">Business networking event</option>
                        <option value="Workshop/Conference">Workshop/Conference</option>
                        <option value="Training">Training</option>
                        <option value="Pitching">Pitching</option>
                    </select>
                </div>
                <div class="col-md-3">
                        <select class="form-control" (change)="onChange($event.target.value)">
                            <option value="">Hosted by</option>
                            <option value="Imuka">Imuka</option>
                            <option value="Support organisations">Support organisations</option>
                           
                        </select>
                    </div><div class="col-md-3">
                            <select class="form-control" (change)="onChange($event.target.value)">
                                <option value="">Region</option>
                                <option value="Western">Western</option>
                                <option value="Northern">Northern</option>
                                <option value="Eastern">Eastern</option>
                                <option value="Southern">Southern</option>
                                <option value="Others">Other countries</option>
                            </select>
                        </div><div class="col-md-3">
                                <select class="form-control" (change)="onChange($event.target.value)">
                                    <option value="">Month</option>
                                    <option value="January">Jan</option>
                                    <option value="February">Feb</option>
                                    <option value="March">Mar</option>
                                    <option value="Pitching">Apr</option>
                                    <option value="April">May</option>
                                    <option value="June">Jun</option>
                                    <option value="July">Jul</option>
                                    <option value="August">Aug</option>
                                    <option value="September">Sept</option>
                                    <option value="October">Oct</option>
                                    <option value="November">Nov</option>
                                    <option value="December">Dec</option>
                                </select>
                            </div><div class="col-md-3">
                                    <select class="form-control" (change)="onChange($event.target.value)">
                                        <option value="">Recommended</option>
                                        <option value="Business networking event">Business networking event</option>
                                        <option value="Workshop/Conference">Workshop/Conference</option>
                                        <option value="Training">Training</option>
                                        <option value="Pitching">Pitching</option>
                                    </select>
                                </div>
            </div>
        </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6 carddata" *ngFor="let event of events_clone">
                        <div class="card">
                        <img class="card-img-top" [src]="event.image_url" alt="Card image cap" style="height:240px">
                        <div class="card-body" style="height:170px">
                            <h6 class="card-title">{{event.title}}({{event.event_type}})</h6>
                            <!----><p class="card-text">{{event.description|flTrancator}}<a [href]="event.link" target="_blank">Continue reading</a> </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <!--<li class="list-group-item"><span>{{event.time_of_event}}</span><span class="float-right" [ngClass]="{{ event.daysleft | slice : 0 : 1  }}>5?,'ontime':'notime'">{{event.daysleft}}</span></li>-->
                            <li class="list-group-item">{{event.venue}}</li>
                            
                           
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>

    <ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Post an event</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
      
            <div class="form-group row">
                <label for="inputPassword"  class="col-sm-2 col-form-label">Event title</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="title" name="title" placeholder="Event title">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Event type</label>
                <div class="col-sm-10">
                <select class="form-control" [(ngModel)]="event_type " name="event_type">
                    <option value="Business networking event">Business networking event</option>
                    <option value="Workshop/Conference">Workshop/Conference</option>
                    <option value="Training">Training</option>
                    <option value="Pitching">Pitching</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Date of event</label>
                <div class="col-sm-10">
                <input type="date"  [(ngModel)]="time_of_event" name="time_of_event" class="form-control" >
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Event Venue</label>
                <div class="col-sm-10">
                <input type="text" class="form-control"  name="venue" [(ngModel)]="venue"  placeholder="Event Venue">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Link to details</label>
                <div class="col-sm-10">
                <input type="link" class="form-control"  [(ngModel)]="link" name="link"  placeholder="Link to details">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Short description</label>
                <div class="col-sm-10">
                <textarea class="form-control" name="description" [(ngModel)]="description"></textarea>
                </div>
            </div>

            <div>
                <button class="btn btn-primary btn-sm" (click)="add_event()">Submit Event</button>
            </div>
        </form>
    </div>
    </ng-template>
    <app-footer></app-footer>
    