.mainmenu{
    background: #fff;
    border:1px solid #eee;
    border-radius: 3px;
}

.feeds{
    background: #fff;
    border:1px solid #eee; 
    border-radius: 3px;
    background: none;
}

.content{
    background: transparent;
    border:1px solid #eee; 
    border-radius: 3px;
    padding:10px;
}

.container{
    margin-top:10px;
}

.body{
    background:#f2f2f2;
}
.card-title{
    color:#0056b3 !important;
}
.eventtime{
    font-size: 14px !important;
    
}
.jumbotron{
    background-size: cover !important;
    filter: grayscale(100%);
    color:white !important;
}
.card-text{
    margin-top:10px !important;
}
.col-md-3{
    background: none !important;
    margin-bottom: 10px;
}

.notime{
    color:red;
}

.ontime{
    color:green;
}

.filter_main{
    option{
        font-size: 10px;
    }
}
