<div class="body"> 
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="mainmenu">
              <app-mainmenu></app-mainmenu>
          </div>
      </div>
      <div class="col-md-6">
          <div class="content">
        
            <div class="data" *ngFor="let req of requests">
              <div class="head">
                <div class="type">
                  <h1>R</h1>
                </div>
                <div class="message">
                  <h6>Request made</h6>
                  <p>Message sent in the request that was made.</p>
                </div>
              </div>
              <div class="reply">
                <div class="reply_msg">
                  <h6>Request made</h6>
                  <p>Message sent in the request that was made.</p>
                </div>
              </div>
            </div>

          </div>
      </div>
      <div class="col-md-3 add">
        <div class="ask_for_help">
            <div class="header">
                <p>Make a request or Ask for help.</p>
              </div>
              <div class="body">
                <form>
                    <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Type</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option name="Help">select option</option>
                    <option name="Help">Help</option>
                    <option name="Inquiry">Inquiry</option>
                    <option name="Request">Request</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="exampleFormControlInput1">Title.</label>
                    <input type="email" class="form-control" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                    <label for="exampleFormControlTextarea1">Details</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <button class="btn btn-primary btn-block "> submit Request </button>
                </form>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
    