<div class="body"> 
    <app-header></app-header>
    <div class="container">
        <div class="row">
          <div class="col-md-9">
              <div class="banner">Your requests</div>
              <div class="content">


                  <accordion [closeOthers]="oneAtATime">

                    <accordion-group heading="Status" *ngFor="let request of requests">
                      <div class="card" >
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>
                      </div>
                    </accordion-group>

                  </accordion>
              </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <form [formGroup]="makerequest">

                <div class="form-group">
                  <label for="exampleFormControlSelect1">Select request type</label>
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="requesttype"   [class.invalid]="makerequest.controls.requesttype.invalid">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Title for request</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1"  formControlName="requesttitle"   [class.invalid]="makerequest.controls.requesttitle.invalid" >
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Detail your request</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="requestdetail"   [class.invalid]="makerequest.controls.requestdetail.invalid"  rows="3"></textarea>
                </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
