<div class="body"> 

    <app-header></app-header>
     <div class="container">
    <div class="row">
      <div class="col-md-3">
          <div class="mainmenu">
              <app-mainmenu></app-mainmenu>
          </div>
      </div>
      <div class="col-md-9" style="padding:0">
        <div style="width:100%; padding:0; margin-bottom:10px">
            <div class="media" style="background:azure; padding-right:10px; margin-left:0">
                <img src="assets/help.png" class="mr-3" alt="..." style="height:150px">
                <div class="media-body" style="margin-top: 30px">
                  <h6 class="mt-0">Hello, there!</h6>
                    Have a query? Write to us and we respond within 24 hrs
                </div>
              </div>
        </div>
        <div class="row">
      <div class="col-md-8">
          
          <div class="card">
              <div class="card-header">
                All Request
              </div>
              <div class="card-body">
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let request of requests" (click)="openModal(template, request)">
                        <div class="bottom">
                        <img src="assets/user.png" alt="" height="25" />
                        </div>
                        <div class="center">
                        <span style="">{{request.title}}</span><br>
                        <span style="font-size:10px; color:gray">12:00 Am</span><br/>
                        <span style="font-size:10px; color:gray"><i class="fa fa-eye"></i>View replies</span>
                        </div>
                        <div class="left">
                        <span><i class="fa fa-calendar-check-o"></i></span>
                        </div>
                      </li>
                  </ul>
              </div>
            </div>     
      </div>
      <div class="col-md-4" style="background:#fff; padding:0px;">

              <div class="card">
                  <div class="card-header">
                      Make A Request
                  </div>
                  <div class="card-body">
                      <b>In case things are not working out. Please reach out to us.</b>
                      <form [formGroup]="makerequest" (click)="sendrequest()">
                          <div class="form-group">
                            <label for="exampleFormControlSelect1">Select request type</label>
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="request_type"   [class.invalid]="makerequest.controls.request_type.invalid">
                               <option name="Help">select option</option>
                              <option name="Help">Help</option>
                              <option name="Inquiry">Inquiry</option>
                              <option name="Request">Request</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlInput1">Title for request</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"  formControlName="title"   [class.invalid]="makerequest.controls.title.invalid" >
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Detail your request</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="details"   [class.invalid]="makerequest.controls.details.invalid"  rows="3"></textarea>
                          </div>
                            <button type="button" class="btn btn-primary btn-block">
                            Send Request
                            </button>
                          </form>
                  </div>
                </div>
            </div></div></div>
          </div>
    </div>
</div>


<ng-template #template >
<div class="modal-header" >
<span>{{activerequest.title}}</span>
<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
  <div class="media">
      <img src="assets/user.png" class="mr-3" alt="..." height="25" style="border-radius:50%">
      <div class="media-body">
        <span class="mt-0"><b>{{active_user?.name}}</b></span><br/>
        <span style="color:rgb(167, 167, 168)">Published by Katende Kigh Hakim · January 6 · </span>
      </div>
    </div>
    <div class="description">
      <span>{{activerequest.details}}</span>
        

    </div>
    <hr/>
    <div class="replies">
        <span><b>Replies</b></span>
        <hr/>
        <div class="media">
            <img src="assets/icon.png" class="mr-3" alt="..." height="25" style="border-radius:50%; border:1px solid rgb(153, 149, 149)">
            <div class="media-body" style="background:rgb(224, 205, 205); padding-left:5px;">
                <span>{{activerequest.reply_message}}</span>
            </div>
          </div>
        
    </div>
</div>
</ng-template>
