.mainmenu {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
}
.content {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 3px;
}

.container {
  margin-top: 10px;
}
.form {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
 .box{
    width:95%;
    margin:auto;
    padding-top:15px;
    background:transparent;
    height:130px;
    border:1px solid #eeeeee;
    padding:15px;
    transition:1s;
    cursor:pointer;
    text-align: center;

    h2{
    font-size:18px;
    text-transform: uppercase;
   
    text-align:center;
    }
  
}
.box:hover{
-webkit-box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);
-moz-box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);
box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);

}
.active{
-webkit-box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);
-moz-box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);
box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);
.h2{
   color:#1798d4;
}
i{
   color:#1798d4;
}

}
@media only screen and (max-width:760px){
  .box{
  height: 50px;

  border: 0;
  i{
    color:#1798d4 !important;
  }
    h2{
    display:none;
  }
  p{
    display: none;
  }

}}
.document{
  margin:5px;
}
.team{
  
}
