<div class="body">
<app-header></app-header>
<br/>
  <div class="container">

      <div class="row">
        <div class="col-md-8">
            <div class="card">
                <img src="{{biznes?.business_cover}}" class="card-img-top" alt="{{biznes?.business_name}}" style="height:160px;">
                <div class="card-body">
                  <div class="media">
                      <img src="{{biznes?.business_logo}}" class="mr-3" style="height:60px; width:60px;">
                      <div class="media-body">
                        <h5 class="mt-0">{{biznes?.business_name}}</h5>
                        {{biznes?.location}} {{biznes?.region}}  {{biznes?.country}}
                      </div>
                    </div>
                </div>
                <div class="card-footer btn-group" role="group" aria-label="Basic example" style="padding:8px;">
                    <button class="btn btn-danger btn-sm spaced" *ngIf="user?.user_type==='entrepreneur'"  (click)="showforms()">Add Logo or Cover Image</button>
                    <button type="button" class="btn btn-primary spaced btn-sm" routerLink="/pitchbook/{{business_id}}">Business Pitch Deck</button>
                    <button *ngIf="biznes?.on_program==='Y' && user?.user_type==='entrepreneur'" type="button" class="btn btn-info spaced btn-sm" routerLink="/einvoice/{{business_id}}">Business Invoices</button>
                    <button *ngIf="biznes?.on_program=='N'" class="btn btn-danger  btn-sm"  routerLink="/my_businesses">Apply For Program</button>
                </div>
              </div>
        </div>


        
      </div>
      <br/>

      <div class="container row" *ngIf="fileload" style="margin: 10px auto; border:1px solid #eee; background:#eee; padding:20px;">
          <div class="col-md-6">
              <p>Add business logo (Best results with images at 200x200 pixels.)</p>
              <input type="file" class="file" (change)="getTheImage($event.target.files, 'biz_logos')" />
              <p *ngIf="logouploading">uploading please wait ...</p>
              <button  class="btn btn-primary btn-block" [disabled]="showBtn" (click)="upload()">Upload </button>
          </div>

          <div class="col-md-6">
              <p>Add business cover image (Best results with images at 1000x150 pixels.)</p>
              <input type="file" class="file"  (change)="getTheImage($event.target.files, 'business_cover')" />
              <p *ngIf="coveruploading">Uploading  please wait ...</p>
              <button  class="btn btn-primary btn-block" [disabled]="showBtn" (click)="upload()">Upload </button>
          </div>
      </div>
      <div class="process">
        <div class="process-row milestones">
            <div class="process-step" *ngFor="let milestone of reports; let i = index" >
                <!-- <button type="button" class="btn btn-default btn-circle" disabled="disabled" [style.background]="getColor()"><i class="fa fa-user fa-3x"></i></button> -->
                <div class="milestonename" [style.background]= colors[i]><p>{{milestone?.milestone}}</p></div>
                
            </div>
            <!-- <div class="process-step">
                <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-comments-o fa-3x"></i></button>
                <p>We confirm you</p>
            </div>
            <div class="process-step">
                <button type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa fa-thumbs-up fa-3x"></i></button>
                <p>Tiger comes</p>
            </div> 
             <div class="process-step">
                <button type="button" class="btn btn-success btn-circle" disabled="disabled"><i class="fa fa-eur fa-3x"></i></button>
                <p>You Pay</p>
            </div>  -->
        </div>
    </div>
    <div class="col-md-6 offset-md-3 milestonesml">
			<h4>Milestones</h4>
      <ul class="timeline ">
				<li *ngFor="let milestone of reports" [style.color]=colors[i]>
          
          <p>{{milestone?.milestone}}</p>
          <p>{{milestone?.description}}</p>
          
				</li>
				
			</ul>
		</div>
     
      <div class="card border-primary mb-3" style="max-width: 100%;" *ngIf="biznes?.on_program==='Y'">
        <div class="card-header bg-transparent border-primary">Business Progress</div>
        <div class="card-body text-primary">
            <div class="row"><div class="col-md-6">
                <div [chart]="chart"></div>
              </div>
              <div class="col-md-6">
                  <div [chart]="mline"></div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent border-primary">
            <button type="button" class="btn btn-primary" *ngIf="user?.user_type==='entrepreneur'" (click)="openModal(template)">Update Business Progress</button>
        </div>
      </div>
    
      <div style="padding:8px; border:1px solid #eee; border-top: 0;  margin-bottom: 200px;">
        <tabset>
          <tab heading="Business Information" id="tab1">
            <div>
              <div class="business">
                <div class="content-box row" style="margin-top: 20px">
                  <div class="col-md-6">
                      <div class="text-center">
                          <img src="{{biznes?.business_logo}}" class="mr-3" style="height:60px; width:60px;">
                      </div>
                      <hr/>
                      <span style="font-size:18px; font-weight:bolder; color:rgb(41, 137, 175);">General Business Info</span>
                      <hr/>
                      <div>
                        <span style="color:gray">Business Name</span>
                        <p ><b style="text-transform:capitalize">{{biznes?.business_name}}</b></p>
                        <span style="color:gray">Business Description</span>
                        <p><b>{{biznes?.description}}</b></p>
                        <span style="color:gray">Sectors</span>
                        <p><b>{{biznes.sectors | stringArray}}</b> </p>
                      </div>

                      <hr/>
                      <span style="font-size:18px; font-weight:bolder; color:rgb(41, 137, 175);">Business Contact Info</span>
                      <hr/>
                      <div>
                        <span style="color:gray">Phone number</span>
                        <p><b>{{biznes?.phone}}</b></p>
                        <span style="color:gray">Website</span>
                        <p><b>{{biznes?.website}}</b></p>
                        <span style="color:gray">Email</span>
                        <p><b>{{biznes?.email}}</b></p>
                        <span style="color:gray">Sectors</span>
                        <p><b>{{biznes?.location}}</b></p>
                      </div>
                      <hr/>
                      <span style="font-size:18px; font-weight:bolder; color:rgb(41, 137, 175);">Other information.</span>
                      <hr/>
                      <div>
                        <span style="color:gray">Mission</span>                        
                        <p><b>{{biznes?.mission}}</b></p>
                        <span style="color:gray">Vision</span>
                        <p><b>{{biznes?.vision}}</b></p>
                        <span style="color:gray">Date found</span>
                        <p><b>{{biznes?.date_of_reg}}</b></p>
                      </div>
                  </div>
                  <div class="col-md-6 col-xs-12" *ngIf="user?.user_type==='entrepreneur'">
                    <form name=general>
                        <hr/>
                            <span style="font-size:18px; font-weight:bolder; color:rgb(41, 137, 175);">General Business Info</span>
                        <hr/>
                        <div style="background:#eee; padding:16px;">
                          <div class="form-group">
                            <label for="inputPassword" class="form-label" >Business name</label>
                            <input type="text" class="form-control" name="business_name"  data-toggle="tooltip" title="click Ctrl and select" (ngModelChange)="biznes.business_name = $event"/>
                          </div>

                          <div class="form-group">
                            <label for="inputPassword" class="form-label" >Description</label>
                            <textarea class="form-control" name="description" (ngModelChange)="biznes.description = $event" row="2"></textarea>
                          </div>

                          <div class="form-group">
                            <label for="exampleFormControlSelect1">Line of business/ sector</label>
                            <select  class="form-control" multiple  (ngModelChange)="biznes.sectors = $event" name="sectors">
                              <option value="Agriculture/Agribusiness/ Value-addition ">Agriculture/Agribusiness/ Value-addition
                              </option>
                              <option value="Clean Energy/Recycling/Upcycling and Environmental Conservation ">Clean Energy/Recycling/Upcycling and Environmental Conservation
                              </option>
                              <option value="Technology/ ICT and IT-Enabled Services">Technology/ ICT and IT-Enabled Services</option>
                              <option value="Tourism and Hospitality">Tourism and Hospitality</option>
                              <option value="Healthcare and Pharmaceuticals">Healthcare and Pharmaceuticals</option>
                              <option value="Education">Education</option>
                              <option value="Manufacturing">Manufacturing</option>
                              <option value="Trade(Retail and Wholesale)" >Trade(Retail and Wholesale)</option>
                              <option value="Transport and Logistics">Transport and Logistics</option>
                              <option value="Services">Services</option>
                            </select>
                          </div>

                          <div class="row">
                              <div class="col-md-7"></div>
                              <div class="col-md-5">
                                <button type="button" class="btn btn-block btn-primary" (click)="updatebusiness()">{{btnText}}</button>
                              </div>
                            </div>
                        </div>

                        <hr/>
                            <span style="font-size:18px; font-weight:bolder; color:rgb(41, 137, 175);">Business Contact Info</span>
                        <hr/>
                        <div style="background:#eee; padding:16px;">
                          <div class="form-group">
                              <label for="inputPassword" class="form-label">Phone number</label>
                              <input type="text"  name="phone" class="form-control"  (ngModelChange)="biznes.phone = $event" placeholder="">
                          </div>

                          <div class="form-group">
                              <label for="inputPassword" class="form-label">Website</label>
                              <input type="" class="form-control" name="website"  (ngModelChange)="biznes.website = $event" placeholder="">
                          </div>

                          <div class="form-group">
                              <label for="inputPassword" class="col-form-label">Email</label>
                              <input type="" class="form-control" name="email"  (ngModelChange)="biznes.email = $event" placeholder="">
                          </div>
                          <span style="font-size:14px">Location</span>
                          <hr>

                          <div class="form-group">
                                <label for="inputPassword" class="form-label">Address line</label>
                                <input type="text" class="form-control" name="location" (ngModelChange)="biznes.location = $event">
                          </div>
                          <div class="row">
                              <div class="col-md-7"></div>
                              <div class="col-md-5">
                                <button type="button" class="btn btn-block btn-primary" (click)="updatebusiness()">{{btnText}}</button>
                              </div>
                            </div>
                        </div>

                        <hr/>
                            <span style="font-size:18px; font-weight:bolder; color:rgb(41, 137, 175);">Other information.</span>
                        <hr/>
                        <div style="background:#eee; padding:16px;">
                            <div class="form-group">
                                <label for="inputPassword" class="form-label">Mission</label>
                                <textarea class="form-control" name="mission" (ngModelChange)="biznes.mission = $event" row="2"></textarea>
                            </div>

                            <div class="form-group">
                              <label for="inputPassword" class="form-label">Vision</label>
                                <textarea class="form-control"  name="vision" (ngModelChange)="biznes.vision = $event" row="2"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" class="form-label">Founded</label>
                                <input type="text" class="form-control" name="date_of_reg" (ngModelChange)="biznes.date_of_reg = $event">
                            </div>

                            <div class="row">
                                <div class="col-md-7"></div>
                                <div class="col-md-5">
                                  <button type="button" class="btn btn-block btn-primary" (click)="updatebusiness()">{{btnText}}</button>
                                </div>
                              </div>
                        </div>

                      </form>
                    </div>

                  </div>
                </div>
            </div>
          </tab>

          <tab heading="Product and services">
            <div>
              <div class="products">
                <div class="content-box row">
                  <div class="col-md-8 col-xs-12" style="margin-top:10px;">
                     
                    <div class="media"  *ngFor="let prdt of bizproducts">
                      <div class="media-left" style="padding:10px">
                        <img src="{{prdt.images}}" class="media-object" style="width:100px; height:50px">
                      </div>
                      <div class="media-body" style="padding:10px">
                        <h6 class="media-heading" style="padding:10px; text-transform: capitalize">{{prdt.name}}</h6>
                        <p style="font-size:13px" >{{prdt.description}}</p>
                      </div>
                    </div>
                  </div>
                  <div  class="col-md-4 col-xs-12" style="border-left:1px; margin-top:50px;" *ngIf="user?.user_type==='entrepreneur'">
                    <form  [formGroup]="bizproduct">
                      <div class="form-group">
                        <label for="pdtname">Product Name/Service Offered</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter product / service name" formControlName="name" [class.invalid]="bizproduct.controls.name.invalid">
                      </div>
                      <div class="form-group">
                        <label for="pdtname">Product/Service Price</label>
                        <input type="number" class="form-control" id="price" placeholder="Enter price" formControlName="price" [class.invalid]="bizproduct.controls.price.invalid">
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Product Description</label>
                        <textarea class="form-control" id="validationTextarea"  required formControlName="description"   [class.invalid]="bizproduct.controls.description.invalid"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlFile1">Add Image</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="getimage($event.target.files)" >
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="addpdt()" [disabled]="isaddingproduct">Add Products</button>
                    </form>
                  </div>
                </div></div>
            </div>
          </tab>

          <tab heading="Business Documents">
            <div>
              <div class="documents" >
                <div class="content-box row">
                  <div class="col-md-8 col-xs-12" style="padding-top:20px">
                    <div class="row">
                      <div class="col-md-3 col-xs-12" *ngFor="let doc of documents">
                        <div class="box document" [ngClass]="isclicked?'active':''" >
                          <img [src]="doc.file_url" style="height:80px; width:80px;" onerror="this.src='assets/wordicon.png'"/>
                          <h6>{{doc.name}}</h6>
                          <p>Approved <i class="fa fa-check" aria-hidden="true"></i></p>
                        </div>
                        <div class="docs" [ngClass]="isclicked?'active':''" >
                            <!-- <img [src]="doc.file_url" style="height:80px; width:80px;" onerror="this.src='assets/wordicon.png'"/>
                            <h6>{{doc.name}}</h6>
                            <p>Approved <i class="fa fa-check" aria-hidden="true"></i></p> -->
                            <div class="media">
                                <img [src]="doc.file_url" style="height:80px; width:80px;" onerror="this.src='assets/wordicon.png'"/>
                                <div class="media-body">
                                    <h6>{{doc.name}}</h6>
                                    <p>Approved <i class="fa fa-check" aria-hidden="true"></i></p>
                                    
                                </div>
                               
                              </div>
                              <hr/>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div  class="col-md-4 col-xs-12" style="border-left:1px solid #eee" *ngIf="user?.user_type==='entrepreneur'">
                    <form  [formGroup]="bizdoc">



                      <div class="form-group">
                        <label for="doctype">Document Format</label>
                        <select class="form-control" name="doc_type"  formControlName="doc_type" [class.invalid]="bizdoc.controls.doc_type.invalid">
                          <option value="Image">Image</option>
                          <option value="pdf">PDF</option>
                          <option value="word">word</option>
                          <option value="excel">Excel</option>

                        </select>
                      </div>

                      <div class="form-group">
                        <label for="name">Document name</label>
                        <select class="form-control" name="name"  formControlName="name" [class.invalid]="bizdoc.controls.name.invalid">
                          <option value="Business plan">Business plan</option>
                          <option value="Tin registration">Tin registration</option>
                          <option value="Trading license">Trading license</option>
                          <option value="Certificate of registration">Certificate of registration</option>
                          <option value="Memorandum and article of associations">Memorandum and article of associations</option>
                          <option value="ids or passports">ids or passports</option>
                          <option value="Management Accounts">Management Accounts</option>
                          <option value="Certified or Audited Accounts">Certified or Audited Accounts</option>
                          <option value="Cash flow Statement or Projects">Cash flow Statement or Projects</option>
                          <option value="Aged Debtors Listing">Aged Debtors Listing</option>
                          <option value="Aged Creditors Listing">Aged Creditors Listing</option>
                          <option value="Confirmation of Tax Affairs">Confirmation of Tax Affairs</option>
                          <option value="Contract Document">Contract Document</option>
                          <option value="Project document">Project document</option>
                        </select>
                      </div>

                     
                     <div>
                       <div class="form-group">
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Yes" name="ihave"  formControlName="ihave" >
                              <label class="form-check-label" for="inlineCheckbox2">I have</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" (change)="uploaddoc()">
                              <label class="form-check-label" for="inlineCheckbox3">upload document</label>
                            </div>
                       </div> 
                       <div class="form-group" *ngIf="uploadd">
                        <label for="exampleFormControlFile1">Upload Document</label>
                        <input type="file" class="form-control-file" id="docupload" (change)="getimage($event.target.files)" >
                      </div>
                    </div>
                      <button type="submit" class="btn btn-primary" (click)="adddoc()">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </tab>

          <tab heading="Business Financial">
            <div>
              <div class="financial" >
                <div class="content-box row">
                  <div class="col-md-8 col-xs-12" style="padding-top:20px">
                    <table class="table table-striped table-responsive-sm">
                      <thead>
                        <tr>
                          <th scope="col">Year</th>
                          <th scope="col">ROS</th>
                          <th scope="col">ROI</th>
                          <th scope="col">ROE</th>
                          <th scope="col">DER</th>
                          <th scope="col">IRR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let financial of financials">
                          <th scope="row">{{financial.period_to}}</th>
                          <td>{{financial.ros}}</td>
                          <td>{{financial.roi}}</td>
                          <td>{{financial.roe}}</td>
                          <td>{{financial.der}}</td>
                          <td>{{financial.irr}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div  class="col-md-4 col-xs-12" style="border-left:1px solid #eee; padding:0; padding-top:20px" *ngIf="user?.user_type==='entrepreneur'">
                    <div class="form_fina">
                      <h4>Add financials</h4>
                      <form [formGroup]="bizfinancial">
                        <div class="input-group">
                          <input type="date" formControlName="from_date" [class.invalid]="bizfinancial.controls.from_date.invalid" class="form-control" placeholder="from_date" data-toggle="tooltip" title="Start Period">
                          <input type="date" class="form-control"  formControlName="end_date" [class.invalid]="bizfinancial.controls.end_date.invalid"  placeholder="End period" data-toggle="tooltip" title="End Period" >
                        </div>
                        <div class="input-group">
                          <input type="number"  formControlName="revenue" [class.invalid]="bizfinancial.controls.revenue.invalid" placeholder="Revenue" class="form-control" >
                          <input type="number" formControlName="cogs" [class.invalid]="bizfinancial.controls.cogs.invalid" placeholder="cost of goods sold" class="form-control" >
                        </div>
                        <div class="input-group">
                          <input type="number" formControlName="grossprofit" [class.invalid]="bizfinancial.controls.grossprofit.invalid"  placeholder="Grossprofit" class="form-control" >
                          <input type="number" formControlName="total_expenditure" [class.invalid]="bizfinancial.controls.total_expenditure.invalid" placeholder="Total expenditure" class="form-control">
                        </div>
                        <div class="input-group">
                          <input type="text" formControlName="tax" [class.invalid]="bizfinancial.controls.tax.invalid"  placeholder="Tax" class="form-control" >
                          <input type="number" formControlName="net_profit" [class.invalid]="bizfinancial.controls.net_profit.invalid"  placeholder="Net Profit" class="form-control" >
                        </div>
                        <div class="input-group">
                          <input type="number" formControlName="ebitda" [class.invalid]="bizfinancial.controls.ebitda.invalid" placeholder="EBITDA" class="form-control" >
                          <input type="number" formControlName="ebit" [class.invalid]="bizfinancial.controls.ebit.invalid"  placeholder="EBIT" class="form-control" >
                        </div>
                        <div class="input-group">
                          <input type="number" formControlName="depriciation" [class.invalid]="bizfinancial.controls.depriciation.invalid" class="form-control"  placeholder="Depriciation" >
                          <input type="number" formControlName="land" [class.invalid]="bizfinancial.controls.land.invalid" placeholder="Land & building" class="form-control" >
                        </div>
                        <div class="input-group">
                          <input type="number" formControlName="machinery" [class.invalid]="bizfinancial.controls.machinery.invalid" placeholder="machinery & equip" class="form-control" >
                          <input type="number" formControlName="furniture" [class.invalid]="bizfinancial.controls.furniture.invalid"  placeholder="furniture & fittings" class="form-control">
                        </div>
                        <div class="input-group">
                          <input type="number" formControlName="stock" [class.invalid]="bizfinancial.controls.stock.invalid"  placeholder="stock" class="form-control" >
                          <input type="number" formControlName="debtors" [class.invalid]="bizfinancial.controls.debtors.invalid"  placeholder="Debtors" class="form-control">
                        </div>
                        <div class="input-group">
                          <input type="number" formControlName="shareholder_equity" [class.invalid]="bizfinancial.controls.shareholder_equity.invalid"  placeholder="shareholder's equity" class="form-control" >
                          <input type="text" formControlName="cash_bank" [class.invalid]="bizfinancial.controls.cash_bank.invalid"   placeholder="cash/Bank" class="form-control">
                        </div>
                        <div class="form-group" style="margin-top:10px">
                          <label for="exampleFormControlFile1">Upload record</label>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" (click)="addfinancial()">Add Financials</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>

        </tabset>
      </div>

  </div>
</div>

<ng-template #template>
      <div class="modal-header">
      <h4 class="modal-title pull-left">Lets know how you are progressing</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div>
      <form class="updates"  [formGroup]="updates_form" (submit)="add_dailyupdate()">

        <div class="form-group">
        <label for="exampleInputEmail1">Select Month </label>
        <select class="form-control" formControlName="myDate" [class.invalid]="dailyupdates.controls.myDate.invalid">
          <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
        </select>
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Monthly sales </label>
        <input type="number" class="form-control" id="exampleInputEmail1"   formControlName="sales" [class.invalid]="dailyupdates.controls.sales.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of people Employed </label>
        <input type="number" class="form-control" id="exampleInputEmail1"   formControlName="employees" [class.invalid]="dailyupdates.controls.employees.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of female people Employed </label>
        <input type="number" class="form-control" id="exampleInputEmail1" formControlName="female_employees" [class.invalid]="dailyupdates.controls.female_employees.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of served or paying customer</label>
        <input type="number" class="form-control" id="exampleInputEmail1"  formControlName="customers" [class.invalid]="dailyupdates.controls.customers.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of meetings held with potential customers </label>
        <input type="number" class="form-control" id="exampleInputEmail1"   formControlName="meetings" [class.invalid]="dailyupdates.controls.meetings.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">what is your market expenses $ </label>
        <input type="number" class="form-control" id="exampleInputEmail1"  placeholder="market expenses" formControlName="mkt_expenses" [class.invalid]="dailyupdates.controls.mkt_expenses.invalid">
        </div>

        <div  class="form-group">
          <label for="exampleInputEmail1">Number of Conversions to customers from meetings</label>
          <input type="number" class="form-control" formControlName="conversions" [class.invalid]="dailyupdates.controls.conversions.invalid">
        </div>

        <div class="form-group">
        <label for="exampleFormControlSelect1">Commitment of experts</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="commitment" [class.invalid]="dailyupdates.controls.commitment.invalid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Networking opportunities</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="networking_opps" [class.invalid]="dailyupdates.controls.networking_opps.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Benefit of expert to your business</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="expert_grade" [class.invalid]="dailyupdates.controls.expert_grade.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Personal and proffessional development</label>
          <select class="form-control" id="exampleFormControlSelect1"
          formControlName="development_grade" [class.invalid]="dailyupdates.controls.development_grade.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>


        <div  class="form-group">
          <label>Benefit of the Expert(s) to your business.</label>
          <select class="form-control"
          formControlName="business_support" [class.invalid]="dailyupdates.controls.business_support.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>

        <div>
          <label>Personal and professional development</label>
          <select class="form-control" formControlName="support" [class.invalid]="dailyupdates.controls.support.invalid">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <input type="submit" class="btn btn-primary btn-block" value="Send updates"/>
      </form>
      </div>
      </div>
</ng-template>

<ng-template #followers style="padding:0px">
      <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>

      <div class="modal-body" style="padding:5px">
      <div>
      <tabset>
      <tab heading="Followers" id="tab1">
      <span>All Followers</span>
      <hr>
      <div class="list-group folls">
      <div style="background-color: #eee; height:27px; font-size: 14px; font-weight: 10px; border-top: 1px solid #B0B0B0" >January</div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      </div>
      </tab>
      <tab heading="Investments">
      <span>Investment</span>
      <div class="list-group folls">
      <div style="background-color: #eee; height:27px; font-size: 14px; font-weight: 10px; border-top: 1px solid #B0B0B0" >January</div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span  style="font-weight:5px; "><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      </div>
      </tab>
      </tabset>
      </div>
      </div>
</ng-template>
