.mainmenu {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
}
.content {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 3px;
}

.container {
  margin-top: 10px;
}
.form {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
 .box{
    width:95%;
    margin:auto;
    padding-top:15px;
    background:transparent;
    height:130px;
    border:1px solid #eeeeee;
    padding:15px;
    transition:1s;
    cursor:pointer;

    h2{
    font-size:18px;
    text-transform: uppercase;
    color:blue;
    text-align:center;
    }
  
}
.box:hover{
-webkit-box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);
-moz-box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);
box-shadow: 10px 10px 12px 0px rgba(238,238,238,1);

}