<div class="body">
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
          <h1 class="display-4" style="color:#14978a">{{biznes?.business_name}}</h1>
       
          <p>Sector(s) : {{sector_info}}</p>
          <p>Balance: NILL</p>
          <p>Address: {{biznes?.location}} {{biznes?.country}}</p>
        
          <div *ngIf="biznes?.on_program==='Y'" >
              <button type="button" class="btn btn-outline-primary spaced" routerLink="/pitchbook/{{business_id}}">View pitch deck</button>
              <button type="button" class="btn btn-outline-primary spaced" routerLink="/einvoice/{{business_id}}">View Inovices</button>
              <button type="button" class="btn btn-outline-primary spaced" (click)="openModal(followers)">Followers and Investiments</button>
              <button type="button" class="btn btn-outline-primary spaced" (click)="openModal(template)">update Progress</button>       
          </div>
          
      </div>
    </div>
    <div *ngIf="biznes?.on_program==='Y'" class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">Breakdown of the imuka activities and milestones.</li>
            <li *ngFor="let milestone of milestones" class="list-group-item list-group-item-success  d-flex justify-content-between align-items-center"  [ngClass]="{'list-group-item-success': milestone.complete, 'list-group-item-warning': !milestone.complete}" >
              {{milestone?.name}} 
              <i [ngClass]="{'fa fa-check': milestone.complete}" ></i>
          </ul>
    </div>
  </div>

<hr>
<div *ngIf="biznes?.on_program==='Y'">
    <div class="row"><div class="col-lg-4 col-md-12">
        <div [chart]="chart"></div>
      </div>
      <div class="col-lg-4 col-md-12">
          <div [chart]="mline"></div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div [chart]="linechart"></div>
          </div>
    </div>
</div>

<div class="tabst">
  <div class="tabmenu" >
    <a class="tabslink" (click)="selectTab(0)"><i class="fa fa-briefcase"></i>  <span>Business</span></a>
    <a class="tabslink" (click)="selectTab(1)"><i class="fa fa-cubes"></i> <span>Product</span></a>
    <a class="tabslink"  (click)="selectTab(2)"><i class="fa fa-file-pdf-o"></i> <span>Document</span></a>
    <a class="tabslink" (click)="selectTab(3)"><i class="fa fa-money"></i> <span>Financial</span></a>
  </div>
  
  <tabset #staticTabs>
    <tab>
      <div class="business">
        <div class="content-box row" style="margin-top: 20px">
          <div class="col-md-8 col-xs-12">
            <form>
              <span style="font-size:14px">General</span>
              <hr>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label" >Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" name="description" [(ngModel)]="business_data.description" rows="3"></textarea>
                </div>
              </div>
              
              <div class="form-group row">
                  <div class="col-sm-3">  
                <label for="exampleFormControlSelect1">Line of business/ sector</label></div>
                <div class="col-sm-9">
                <select  class="form-control" multiple  [(ngModel)]="business_data.sectors" name="sectors">
                  <option value="Agriculture/Agribusiness/ Value-addition ">Agriculture/Agribusiness/ Value-addition
                  </option>
                  <option value="Clean Energy/Recycling/Upcycling and Environmental Conservation ">Clean Energy/Recycling/Upcycling and Environmental Conservation
                  </option>
                  <option value="Technology/ ICT and IT-Enabled Services">Technology/ ICT and IT-Enabled Services</option>
                  <option value="Tourism and Hospitality">Tourism and Hospitality</option>
                  <option value="Healthcare and Pharmaceuticals">Healthcare and Pharmaceuticals</option>
                  <option value="Education">Education</option>
                  <option value="Manufacturing">Manufacturing</option>
                  <option value="Trade(Retail and Wholesale)" >Trade(Retail and Wholesale)</option>
                  <option value="Transport and Logistics">Transport and Logistics</option>
                  <option value="Services">Services</option>
              </select></div>
              </div>
              <span style="font-size:14px">Contact</span>
              <hr>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Phone number</label>
                <div class="col-sm-9">
                  
                  <input type="text"  name="phonenumber" class="form-control"  [(ngModel)]="business_data.phonenumber" placeholder="">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Website</label>
                <div class="col-sm-9">
                  
                  <input type="" class="form-control" name="website"  [(ngModel)]="business_data.website" placeholder="">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="" class="form-control" name="email"  [(ngModel)]="business_data.email" placeholder="">
                </div>
              </div>
              <span style="font-size:14px">Location</span>
              <hr>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Address line</label>
                <div class="col-sm-9">

                  <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" name="location" [(ngModel)]="business_data.location">
                  </div>
                </div>
              </div>
              <span style="font-size:14px">More</span>
              <hr>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Mission</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" name="mission" [(ngModel)]="business_data.mission" rows="3"></textarea>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Vision</label>
                  <div class="col-sm-9">
                    <textarea class="form-control"  name="vision" [(ngModel)]="business_data.vision" rows="3"></textarea>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Founded</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="date_of_reg" [(ngModel)]="business_data.date_of_reg">
                  </div>
                </div>
                <hr>
                
                <button type="button" class="btn btn-block btn-primary" (click)="updatebusiness()">Submit</button>
              </form>
            </div> 

          </div>
        </div>
      </tab>





      <tab>
        <div class="products">
          <div class="content-box row">
            <div class="col-md-8 col-xs-12">
              <div class="row" *ngFor="let prdt of business_data.products">
                <div class="col-md-4">
                  <img src={{prdt.image}} height="150px" />
                </div>
                <div class="col-md-8" style="">
                  <h6>{{prdt.name}}</h6>
                  <p>{{prdt.description}}</p>
                </div>  
              </div>
            </div>
            <div  class="col-md-4 col-xs-12" style="border-left:1px solid #eee">
              <form  [formGroup]="bizproduct">
                <div class="form-group">
                  <label for="pdtname">Product Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter product name" formControlName="name" [class.invalid]="bizproduct.controls.name.invalid">
                </div>
                <div class="form-group">
                  <label for="pdtname">Product Price</label>
                  <input type="number" class="form-control" id="price" placeholder="Enter price" formControlName="price" [class.invalid]="bizproduct.controls.price.invalid">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Product description</label>
                  <textarea class="form-control" id="validationTextarea"  required formControlName="description"   [class.invalid]="bizproduct.controls.description.invalid"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Add image</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-primary" (click)="addpdt()">Add Products</button>
              </form>
            </div>
          </div></div>
        </tab>




        <tab>
          <div class="documents" >
            <div class="content-box row">
              <div class="col-md-8 col-xs-12">
                <div class="row">
                  <div class="col-3" *ngFor="let doc of business_data.documents">
                    <div class="box document" [ngClass]="isclicked?'active':''" >
                      <img src="{{doc.image}}" height="80px"/>
                      <h6>{{doc.name}}</h6>
                    </div> 
                  </div>
                </div>
              </div>
              <div  class="col-md-4 col-xs-12" style="border-left:1px solid #eee">
                <form  [formGroup]="bizdoc">
                  <div class="form-group">
                    <label for="doctype">Document Format</label>
                    <select class="form-control" name="doc_type"  formControlName="doc_type" [class.invalid]="bizdoc.controls.doc_type.invalid">
                      <option value="Image">Image</option>
                      <option value="pdf">PDF</option>
                      <option value="word">word</option>
                      <option value="excel">Excel</option>

                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">Document name</label>
                    <select class="form-control" name="name"  formControlName="name" [class.invalid]="bizdoc.controls.name.invalid">
                      <option value="Business plan">Business plan</option>
                      <option value="Tin registration">Tin registration</option>
                      <option value="Trading license">Trading license</option>
                      <option value="Certificate of registration">Certificate of registration</option>
                      <option value="Memorandum and article of associations">Memorandum and article of associations</option>
                      <option value="ids or passports">ids or passports</option>
                      <option value="Management Accounts">Management Accounts</option>
                      <option value="Certified or Audited Accounts">Certified or Audited Accounts</option>
                      <option value="Cash flow Statement or Projects">Cash flow Statement or Projects</option>
                      <option value="Aged Debtors Listing">Aged Debtors Listing</option>
                      <option value="Aged Creditors Listing">Aged Creditors Listing</option>
                      <option value="Confirmation of Tax Affairs">Confirmation of Tax Affairs</option>
                      <option value="Contract Document">Contract Document</option>
                      <option value="Project document">Project document</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Upload Document</label>
                    <input type="file" class="form-control-file" id="docupload" >
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="adddoc()">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </tab>




        <tab>
          <div class="financial" >
            <div class="content-box row">
              <div class="col-md-8 col-xs-12">
                <table class="table table-striped table-responsive-sm">
                  <thead>
                    <tr>
                      <th scope="col">Year</th>
                      <th scope="col">ROS</th>
                      <th scope="col">ROI</th>
                      <th scope="col">ROE</th>
                      <th scope="col">DER</th>
                      <th scope="col">IRR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let financial of business_data.financials">
                      <th scope="row">{{financial.period_to}}</th>
                      <td>{{financial.ros}}</td>
                      <td>{{financial.roi}}</td>
                      <td>{{financial.roe}}</td>
                      <td>{{financial.der}}</td>
                      <td>{{financial.irr}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div  class="col-md-4 col-xs-12" style="border-left:1px solid #eee; padding:0">
                <div class="form_fina">
                  <h4>Add financials</h4>
                  <form [formGroup]="bizfinancial">
                    <div class="input-group">
                      <input type="date" formControlName="from_date" [class.invalid]="bizfinancial.controls.from_date.invalid" class="form-control" placeholder="from_date" data-toggle="tooltip" title="Start Period">
                      <input type="date" class="form-control"  formControlName="end_date" [class.invalid]="bizfinancial.controls.end_date.invalid"  placeholder="End period" data-toggle="tooltip" title="End Period" >
                    </div>
                    <div class="input-group">
                      <input type="number"  formControlName="revenue" [class.invalid]="bizfinancial.controls.revenue.invalid" placeholder="Revenue" class="form-control" >
                      <input type="number" formControlName="cogs" [class.invalid]="bizfinancial.controls.cogs.invalid" placeholder="cost of goods sold" class="form-control" >
                    </div>
                    <div class="input-group">
                      <input type="number" formControlName="grossprofit" [class.invalid]="bizfinancial.controls.grossprofit.invalid"  placeholder="Grossprofit" class="form-control" >
                      <input type="number" formControlName="total_expenditure" [class.invalid]="bizfinancial.controls.total_expenditure.invalid" placeholder="Total expenditure" class="form-control">
                    </div>
                    <div class="input-group">
                      <input type="text" formControlName="tax" [class.invalid]="bizfinancial.controls.tax.invalid"  placeholder="Tax" class="form-control" >
                      <input type="number" formControlName="net_profit" [class.invalid]="bizfinancial.controls.net_profit.invalid"  placeholder="Net Profit" class="form-control" >
                    </div>
                    <div class="input-group">
                      <input type="number" formControlName="ebitda" [class.invalid]="bizfinancial.controls.ebitda.invalid" placeholder="EBITDA" class="form-control" >
                      <input type="number" formControlName="ebit" [class.invalid]="bizfinancial.controls.ebit.invalid"  placeholder="EBIT" class="form-control" >
                    </div>
                    <div class="input-group">
                      <input type="number" formControlName="depriciation" [class.invalid]="bizfinancial.controls.depriciation.invalid" class="form-control"  placeholder="Depriciation" >
                      <input type="number" formControlName="land" [class.invalid]="bizfinancial.controls.land.invalid" placeholder="Land & building" class="form-control" >
                    </div>
                    <div class="input-group">
                      <input type="number" formControlName="machinery" [class.invalid]="bizfinancial.controls.machinery.invalid" placeholder="machinery & equip" class="form-control" >
                      <input type="number" formControlName="furniture" [class.invalid]="bizfinancial.controls.furniture.invalid"  placeholder="furniture & fittings" class="form-control">
                    </div>
                    <div class="input-group">
                      <input type="number" formControlName="stock" [class.invalid]="bizfinancial.controls.stock.invalid"  placeholder="stock" class="form-control" >
                      <input type="number" formControlName="debtors" [class.invalid]="bizfinancial.controls.debtors.invalid"  placeholder="Debtors" class="form-control">
                    </div>
                    <div class="input-group">
                      <input type="number" formControlName="shareholder_equity" [class.invalid]="bizfinancial.controls.shareholder_equity.invalid"  placeholder="shareholder's equity" class="form-control" >
                      <input type="text" formControlName="cash_bank" [class.invalid]="bizfinancial.controls.cash_bank.invalid"   placeholder="cash/Bank" class="form-control">
                    </div>
                    <div class="form-group" style="margin-top:10px">
                      <label for="exampleFormControlFile1">Upload record</label>
                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" (click)="addfinancial()">Add Financials</button>
                  </form>
                </div>
              </div>
            </div> 
          </div>
        </tab>
  </tabset>
</div>

</div>
</div>
<app-footer></app-footer>

<ng-template #template>
      <div class="modal-header">
      <h4 class="modal-title pull-left">Lets know how you are progressing</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
      <div>
      <form class="updates"  [formGroup]="updates_form" (submit)="add_dailyupdate()">

        <div class="form-group">
        <label for="exampleInputEmail1">Select Month </label>
        <select class="form-control" formControlName="myDate" [class.invalid]="dailyupdates.controls.myDate.invalid">
          <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
        </select>
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Monthly sales </label>
        <input type="number" class="form-control" id="exampleInputEmail1"   formControlName="sales" [class.invalid]="dailyupdates.controls.sales.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of people Employed </label>
        <input type="number" class="form-control" id="exampleInputEmail1"   formControlName="employees" [class.invalid]="dailyupdates.controls.employees.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of female people Employed </label>
        <input type="number" class="form-control" id="exampleInputEmail1" formControlName="female_employees" [class.invalid]="dailyupdates.controls.female_employees.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of served or paying customer</label>
        <input type="number" class="form-control" id="exampleInputEmail1"  formControlName="customers" [class.invalid]="dailyupdates.controls.customers.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Number of meetings held with potential customers </label>
        <input type="number" class="form-control" id="exampleInputEmail1"   formControlName="meetings" [class.invalid]="dailyupdates.controls.meetings.invalid">
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">what is your market expenses $ </label>
        <input type="number" class="form-control" id="exampleInputEmail1"  placeholder="market expenses" formControlName="mkt_expenses" [class.invalid]="dailyupdates.controls.mkt_expenses.invalid">
        </div>

        <div  class="form-group"> 
          <label for="exampleInputEmail1">Number of Conversions to customers from meetings</label>
          <input type="number" class="form-control" formControlName="conversions" [class.invalid]="dailyupdates.controls.conversions.invalid">
        </div>

        <div class="form-group">
        <label for="exampleFormControlSelect1">Commitment of experts</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="commitment" [class.invalid]="dailyupdates.controls.commitment.invalid">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Networking opportunities</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="networking_opps" [class.invalid]="dailyupdates.controls.networking_opps.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Benefit of expert to your business</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="expert_grade" [class.invalid]="dailyupdates.controls.expert_grade.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Personal and proffessional development</label>
          <select class="form-control" id="exampleFormControlSelect1" 
          formControlName="development_grade" [class.invalid]="dailyupdates.controls.development_grade.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>


        <div  class="form-group">
          <label>Benefit of the Expert(s) to your business.</label>
          <select class="form-control"
          formControlName="business_support" [class.invalid]="dailyupdates.controls.business_support.invalid">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          </select>
        </div>

        <div>
          <label>Personal and professional development</label>
          <select class="form-control" formControlName="support" [class.invalid]="dailyupdates.controls.support.invalid">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <input type="submit" class="btn btn-primary btn-block" value="Send updates"/>
      </form>
      </div>
      </div>
</ng-template>


<ng-template #followers style="padding:0px">
      <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>

      <div class="modal-body" style="padding:5px">
      <div>
      <tabset>
      <tab heading="Followers" id="tab1">
      <span>All Followers</span>
      <hr>
      <div class="list-group folls">
      <div style="background-color: #eee; height:27px; font-size: 14px; font-weight: 10px; border-top: 1px solid #B0B0B0" >January</div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      </div>
      </tab>
      <tab heading="Investments">
      <span>Investment</span>
      <div class="list-group folls">
      <div style="background-color: #eee; height:27px; font-size: 14px; font-weight: 10px; border-top: 1px solid #B0B0B0" >January</div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span  style="font-weight:5px; "><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      <div class="follitem">
      <div>
      <img src="assets/user.png"/>
      </div>
      <div style="padding-left: 20px">
      <span>Musoke Delta Mesly company</span>
      <br>
      <span><i class="fa fa-calendar"></i> 12/jan/2018</span>
      </div>
      </div>
      </div>
      </tab>
      </tabset>
      </div>
      </div>
</ng-template>