<section>
        <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" routerLink="/login">ImukaAccess</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/signup">Create Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/create_organisation">Add support Organisation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div>
                            <h1><i class="fa fa-users"></i></h1>
                            <h1>Hi, Thank for adding {{org?.name}}</h1>
                            <p>Lets know a little about you, Please fill out the form to get started.  </p>
                            <div class="alert alert-info"> Note : Please note that you will be using this phone to logging into the organisation profile</div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card text-white bg-primary mb-3" style="max-width: 100% ;">
                        <div class="card-header">Login to your Account.</div>
                        <div class="card-body">
                            <form>
                            <div class="form-group">
                            <label for="exampleInputEmail1">Full name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="name" id="exampleInputEmail1"  placeholder="Enter full name">
                            </div>

                            <div class="form-group">
                            <label for="exampleInputPassword1">phone number</label>
                            <input type="tell" class="form-control" name="phone" [(ngModel)]="phone" id="exampleInputPassword1">
                            </div>

                            <div class="row">

                            <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Email Address</label>
                            <input type="email" name="email" [(ngModel)]="email" class="form-control">
                            </div>

                            <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" [(ngModel)]="password" class="form-control">
                            </div>

                            </div>

                            <button type="submit" class="btn btn-primary" (click)="create_admin()">Finish</button>
                            </form> 
                        </div>
                        <div class="card-footer"><a routerLink="/forgotPassword">Forgot password?</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng4-loading-spinner  [timeout]="10000" [zIndex]="9999"></ng4-loading-spinner>
    </section>