    <section>
        <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" routerLink="/login">
                    <img src="assets/icon1.png" alt="" style="height:35px; margin-left:20px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/about">About ImukaAccess</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/howitworks">How it Woks</a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid"  [ngStyle]="{'background-image':'url(' + imageUrl + ')'}">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="data"  *ngIf="urlValue=='entrepreneur'">
                            <h1 class="display-4">Create an Entrepreneur Account </h1>
                            <h3>Access Business Growth Opportunities, Technical and Financial support.</h3>
                            <p>Be intentional about Growing your Business... Join Imuka Access today.</p>
                        </div>
                        <div class="data"  *ngIf="urlValue=='investor'">
                            <h1 class="display-4">Create an Investor Account</h1>
                            <h3>Access Validated Investment Leads</h3>
                            <p>Be intentional about growing your investment portfolio. With ImukaAccess you're assured the businesses are ready to absorb your financial investment, equipped to grow, and will be locally supported through the entire process.
                              Know that the return on investment will benefit both you and the East African community. Join ImukaAccess today. </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card text-white bg-primary mb-3" style="max-width: 100% ;">
                            <div class="card-header text-center"><b>Create an {{urlValue}} account.</b></div>
                            <div class="card-body">
                                <form [formGroup]="myForm" (submit)="signup()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Full Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Full name" formControlName="name" [class.invalid]="myForm.controls.name.invalid">
                                        <small id="emailHelp" class="form-text">Please enter your full name.</small>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Phone number</label>
                                                <input type="text" class="form-control" id="Phone" placeholder="Phone number" formControlName="phone" [class.invalid]="myForm.controls.phone.invalid">
                                                <small id="emailHelp" class="form-text">We won't share your phone number.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" [class.invalid]="myForm.controls.email.invalid">
                                                    <small id="emailHelp" class="form-text">We won't share  your email-address.</small>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password" [class.invalid]="myForm.controls.password.invalid">
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-outline-warning btn-block" [disabled]="myForm.invalid">Sign Up</button>
                                </form>

                                <div class="alert alert-danger error_msg" *ngIf="error"> <b>Error :</b> {{error_message}}</div>
                            </div>
                            <div class="card-footer">
                                <a style="color:#eee;" routerLink="/login">Already have an account? Login here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="urlValue=='investor'">
        <div class="container text-center">
            <h1>Why ImukaAccess?</h1>
        </div>

        <div class="container dark-section">
            <div class="row">
                <div class="col-md-6 dark">
                    <h4>Deal Origination</h4>
                    <p>Source deals from previously hard-to-reach areas. ImukaAccess gives you an immediate connection to the most creative and innovative entrepreneurs in East Africa. We source businesses on the forefront of social and economic growth and link them to you.</p>
                </div>
                <div class="col-md-6 light">
                    <h4>Business Growth Visibility</h4>
                    <p>The ImukaAccess platform lets you watch businesses' progress in real time, both before and after you make the decision to invest. We validate, track and share businesses' momentum and key milestones so that you can make the most informed decisions.</p>
                </div>
                <div class="col-md-6 light">
                    <h4>On-ground Validation support</h4>
                    <p>At ImukaAccess we invest in thoroughly trained and experienced expert mentors who directly interact with entrepreneurs and assess businesses for validity of services and structure and growth-readiness. The due diligence process is essential to our support model, saving you time and costs, and reducing investment risks for both investor and entrepreneur.</p>
                </div>
                <div class="col-md-6 dark">
                    <h4>Investment Portfolio</h4>
                    <p>Africa is Rising: it's time to grow and diversify your investment portfolio. Be at the centre of economic growth in regions with the natural resources, human capital and sheer determination for social innovation. We offer access to a broad range of businesses with creative solutions in every sector.</p>
                </div>
                <div class="col-md-6 dark">
                    <h4>Clear Exit Opportunity</h4>
                    <p>Seed, startup, growth or expansion? We know that each investor has unique preferences for the stage at which they invest in businesses. We also know you want a clear and comfortable exit-strategy. A stable investment exit plan is assured based on your preferred entry and exit threshold.</p>
                </div>
                <div class="col-md-6 light"></div>
            </div>
        </div>
    </section>

    <section *ngIf="urlValue=='entrepreneur'">
        <div class="container dark-section">
            <br/><h1>Benefits</h1><br/>
            <div class="row">

                <div class="col-md-6 dark">
                    <h4>Finance & Cashflow Planning</h4>
                    <p>Financial management is key. We help your business not only find cash but more importantly, we help you find where the leaks are so your business can strengthen and start to grow. You need to plan how you spend your cash to make sure you have enough for today and tomorrow.</p>
                </div>
                <div class="col-md-6 light">
                    <h4>Marketing Strategies</h4>
                    <p>Having a strong, tested, marketing strategy in place, with reliable ‘Return of Investment’ is crucial for the growth and future scaling of any business. We help you develop the right marketing strategies.</p>
                </div>
                <div class="col-md-6 light">
                    <h4>Investment Ready</h4>
                    <p>Is your company ready for investment? We can help you build strong and robust Business Plans, Financial Forecasts & Models while taking you through the step by step process of getting your business Investment Ready.</p>
                </div>

                <div class="col-md-6 dark">
                    <h4>Share and Learn</h4>
                    <p>Connect to share your experiences and learn from fellow entrepreneurs. ImukaAccess links you to local networking events, and we host a few of our own! Build your business networks to widen your influence and give your brand more visibility.</p>
                </div>

                <div class="col-md-6 dark">
                    <h4>Business Growth Opportunities</h4>
                    <p>Connect to a variety of opportunities that will see your business grow. These may include gaining access to a wider marketplace, partnering with other businesses in your value chain, or networking with the financial influencers in your sector. </p>
                </div>

                <div class="col-md-6 light">
                    <h4>Investment Searching</h4>
                    <p>Investment Searching is a long & sometimes frustrating task that can take you away from running your business. We help you search, not just for any investors, but the right investors for you and your business.</p>
                </div>

                <div class="col-md-6 light">
                    <h4>Finance & Cashflow Planning</h4>
                    <p>Financial management in business is key.  We help your business not just find cash, but more importantly, find where the leaks are so your business can start growing and get stronger again. We need to plan how you spend your cash to make sure you have enough for today and tomorrow</p>
                </div>


                <div class="col-md-6 dark">
                    <h4>Marketing Strategies</h4>
                    <p>Having a strong, tested marketing strategy with a reliable "return on investment" is crucial for the growth and future scaling of any business. We help you develop the right plan, whether that's improving package design, growing your brand's digital footprint or organizing community events with your business front and centre.</p>
                </div>


                <div class="col-md-6 dark">
                    <h4>Investment Ready</h4>
                    <p>Is your company ready for investment? We help build robust and ready Business Plans, Financial Forecasts & Sustainable Models when taking you through the step-by-step process to get your business Investment Ready.</p>
                </div>

            </div>
        </div>
        <div class="container light-section">
                <br/><h1>Our Happy Entrepreneurs</h1><br/>
               <div class="row">
                   <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="assets/chapchap.png" class="card-img-top" alt="Chap Chap">
                        <div class="card-body">
                          <h5 class="card-title">Chap Chap</h5>
                          <p class="card-text">A digital marketplace that offers products which promote the adoption of mobile payments while enabling users to Pay, Earn and Save.</p>
                        </div>
                      </div>
                   </div>

                   <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="assets/shalom.jpg" class="card-img-top" alt="Shalom Organic Farm">
                        <div class="card-body">
                          <h5 class="card-title">Shalom Organic Farm</h5>
                          <p class="card-text">Shalom harvests rich organic fruits, vegetables and yellow yolk eggs renowned throughout the region. The farm trains disadvantaged women in organic farming practices and provides the new farmers with land.</p>
                        </div>
                      </div>
                   </div>

                   <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="assets/honeypride.jpg" class="card-img-top" alt="Honey Pride Uganda">
                        <div class="card-body">
                          <h5 class="card-title">Honey Pride Uganda</h5>
                          <p class="card-text">Based in Arua, Northern Uganda, Honey Pride creates and distributes honey products, sourcing their honey from local youth who are trained and provided with the tools for effective apiary management.</p>
                        </div>
                      </div>
                    </div>
               </div>
           </div>
    </section>


