.forgot{
  text-align: center;
  padding:3px;
}

.padding{
  padding-top: 20px;
  padding-bottom: 20px;
  h2{
    margin-top:50px;
    margin-bottom:50px;
  }
}

section {
  .dark{
    background: #eee;
  }
}

.jumbotron{
  background: #eee !important;
  .container {
    margin-top:20px !important;
  }
}

.navbar {
  background: #4672bf !important;
  color:#eee;
}

.display-4{
  color:#4672bf !important;
}

.nav-link{
  color:#eee !important;
}

.col-md-7{
  div {
    margin-top:10vh;
  }
}

.card-footer {
  a {
    color:#eee;
  }
}

#emailHelp { color: yellow !important; font-weight: bold !important; }

.card-footer{
  text-align:center !important;
}