    <section>
        <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" routerLink="/login">
                    <img src="assets/icon1.png" alt="" style="height:35px; margin-left:20px;">                
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">About ImukaAccess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/create_organisation">How it Woks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid"  [ngStyle]="{'background-image':'url(' + imageUrl + ')'}">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="data"  *ngIf="urlValue=='entrepreneur'">
                            <h1 class="display-4">Join as  Entrepreneur</h1>
                            <h3>Access Business Growth Opportunities, Technical and Financial support.</h3>
                            <p>Be intentional about Growing your Business... Join Imuka Access today.</p>
                        </div>
                        <div class="data"  *ngIf="urlValue=='investor'">
                            <h1 class="display-4">Join as Investor</h1>
                            <h3>Access Validated Investment Leads</h3>
                            <p>Be intentional about Growing your Investment Portfolio... Join Imuka Access today. </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card text-white bg-primary mb-3" style="max-width: 100% ;">
                            <div class="card-header text-center"><b>Create an {{urlValue}} account.</b></div>
                            <div class="card-body">
                                <form [formGroup]="myForm" (submit)="signup()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Full Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Full name" formControlName="name" [class.invalid]="myForm.controls.name.invalid">
                                        <small id="emailHelp" class="form-text">Please enter your full name.</small>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Phone number</label>
                                                <input type="text" class="form-control" id="Phone" placeholder="Phone number" formControlName="phone" [class.invalid]="myForm.controls.phone.invalid">
                                                <small id="emailHelp" class="form-text">We won't share your phone number.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" [class.invalid]="myForm.controls.email.invalid">
                                                    <small id="emailHelp" class="form-text">We won't share  your email-Address.</small>
                                                </div>  
                                        </div>
                                    </div>
                
                                    <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password" [class.invalid]="myForm.controls.password.invalid">
                                    </div>
                                    <br>  
                                    <button type="submit" class="btn btn-outline-warning btn-block" [disabled]="myForm.invalid">Sign Up</button>
                                </form>

                                <div class="alert alert-danger error_msg" *ngIf="error"> <b>Error :</b> {{error_message}}</div>
                            </div>
                            <div class="card-footer">
                                <a style="color:#eee;" routerLink="/login">Already have an account? Login here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="urlValue=='investor'">
        <div class="container text-center">
            <h1>Benefits</h1>
        </div>

        <div class="container dark-section">
            <div class="row">
                <div class="col-md-4">
                    <h4>Deal Origination</h4>
                    <p>Convenient & Reliable Deal Origination platform</p>
                </div>
                <div class="col-md-4">
                    <h4>Visibility of Investments</h4>
                    <p>Progress visibility of potential investment leads</p>
                </div>
                <div class="col-md-4">
                    <h4>On-ground Validation support</h4>
                    <p>Access on-ground validation support for initial due diligence activities. Save time and costs involved in the process.</p>
                </div>
                <div class="col-md-4">
                    <h4>Investment Portfolio</h4>
                    <p>Grow & Diversify Your Investment portfolio</p>
                </div>
                <div class="col-md-4">
                    <h4>Investment Exit Opportunity</h4>
                    <p>Investment Exit Assured due different investors interested on different thresholds</p>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="urlValue=='entrepreneur'">
        <div class="container dark-section">
            <br/><h1>Benefits</h1><br/>
            <div class="row">
                <div class="col-md-4">
                    <h4>Share and Learn</h4>
                    <p>Connect and share your experiences and learn from fellow entrepreneurs</p>
                </div>

                <div class="col-md-4">
                    <h4>Business Growth Opportunities</h4>
                    <p>Connect to various business growth Opportunities this include: market opportunities, Partnership Opportunities, Business Networks.</p>
                </div>

                <div class="col-md-4">
                    <h4>Investment Searching</h4>
                    <p>Investment Searching is a long & sometimes frustrating task that can take you away from running your business. We help you search, not just for any investors, but the right investors for you and your business.</p>
                </div>

                <div class="col-md-4">
                    <h4>Finance & Cashflow Planning</h4>
                    <p>Financial management in business is key.  We help your business not just find cash, but more importantly, find where the leaks are so your business can start growing and get stronger again. We need to plan how you spend your cash to make sure you have enough for today and tomorrow</p>
                </div>


                <div class="col-md-4">
                    <h4>Marketing Strategies</h4>
                    <p>Having a strong, tested, marketing strategy in place, with reliable ‘Return of Investment’ is crucial for the growth and future scaling of any business. We help you develop the right marketing strategies.</p>
                </div>


                <div class="col-md-4">
                    <h4>Investment Ready</h4>
                    <p>Is your company ready for investment? We can help you build strong and robust Business Plans, Financial Forecasts & Models while taking you through the step by step process of getting your business Investment Ready.</p>
                </div>

            </div>
        </div>
        <div class="container light-section">
                <br/><h1>Our Entrepreneurs</h1><br/>
               <div class="row">
                   <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chap Chap</h5>
                          <p class="card-text">A digital marketplace that offers products which promote the adoption of mobile payments while enabling it’s user to Pay, Earn and Save.</p>
                        </div>
                      </div>
                   </div>
   
                   <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sharom Organic</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                   </div>
                   
                   <div class="col-md-4">
                    <div class="card" style="width: 100%;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Andasonia</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                    </div>
               </div>
           </div>
    </section>
    
    
      