    <section>
        <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" routerLink="/login">
                    <img src="assets/icon1.png" alt="" style="height:35px; margin-left:20px;">                
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">About ImukaAccess</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/create_organisation">How it Woks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid"  [ngStyle]="{'background-image':'url(' + imageUrl + ')'}">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div>
                            <h1 class="display-4"  *ngIf="urlValue=='entrepreneur'">Join As  Entrepreneur</h1>
                            <h1 class="display-4"  *ngIf="urlValue=='investor'">Join As Investor</h1>
                            <p class="lead"></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card text-white bg-primary mb-3" style="max-width: 100% ;">
                            <div class="card-header text-center"><b>Create an {{urlValue}} account.</b></div>
                            <div class="card-body">
                                <form [formGroup]="myForm" (submit)="signup()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Full Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Full name" formControlName="name" [class.invalid]="myForm.controls.name.invalid">
                                        <small id="emailHelp" class="form-text">Please enter your full name.</small>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Phone number</label>
                                                <input type="text" class="form-control" id="Phone" placeholder="Phone number" formControlName="phone" [class.invalid]="myForm.controls.phone.invalid">
                                                <small id="emailHelp" class="form-text">We won't share your phone number.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address</label>
                                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email" [class.invalid]="myForm.controls.email.invalid">
                                                    <small id="emailHelp" class="form-text">We won't share  your email-Address.</small>
                                                </div>  
                                        </div>
                                    </div>
                
                                    <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" placeholder="Password" formControlName="password" [class.invalid]="myForm.controls.password.invalid">
                                    </div>
                                    <br>  
                                    <button type="submit" class="btn btn-outline-warning btn-block" [disabled]="myForm.invalid">Sign Up</button>
                                </form>

                                <div class="alert alert-danger error_msg" *ngIf="error"> <b>Error :</b> {{error_message}}</div>
                            </div>
                            <div class="card-footer">
                                <a style="color:#eee;" routerLink="/login">Already have an account? Login here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="urlValue=='investor'">
        <div class="container text-center">
            <h1>What we offer to our Investors</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>

    <section *ngIf="urlValue=='entrepreneur'">
        <div class="container text-center">
             <h1>What we offer to our Entrepreneur</h1>

        </div>
    </section>
    
    
      