/* You can add global styles to this file, and also import other style files */
.banner{
    background: #fff !important;
    padding:8px !important;
    width:100%;
    font-weight: bold;
    border-top: 3px solid rgb(105, 168, 255) !important;
    color:#083530 !important;
}

.carddata{
    padding:10px;
}

  