/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/material/material-dark-theme.css';
@import '~@ngx-share/button/themes/modern/modern-light-theme.css';
@import '~@ngx-share/button/themes/circles/circles-dark-theme.css';
@import '~@ngx-share/button/themes/variables.css';
body{
    font-family: 'Lato', sans-serif;
    font-size:16px !important;
}

.banner{
    background: #fff !important;
    padding:8px !important;
    width:100%;
    font-weight: bold;
}

.carddata{
    padding:10px;
}

@media only screen and (max-width: 768px) {
   .mainmenu{
       display: none;
   }
   .jumbotron > h1{
      font-size: 28px;
      margin-bottom:10px;
      color:#007bff ;
   }

   .btn{
       width:100%;
   }
}

.jumbotron h1{
    color: #007bff ;
}

.modal-header{
  background: #007bff  !important;
}


.navbar-brand{
    color:#fff !important;
}

.navbar {
    background:#007bff !important;
}

.lead{
    color:#fff !important;
}