/* You can add global styles to this file, and also import other style files */
.banner{
    background: #fff !important;
    padding:8px !important;
    width:100%;
    font-weight: bold;
}

.carddata{
    padding:10px;
}

@media only screen and (max-width: 768px) {
   .mainmenu{
       display: none;
   }
   .jumbotron > h1{
      font-size: 28px;
      margin-bottom:10px;
      color:#4672BF;
   }

   .btn{
       width:100%;
   }
}

.jumbotron h1{
    color: #4672BF;
}

.modal-header{
  background: radial-gradient(circle at bottom left, #1798d4, rgb(61, 167, 167)) !important;
}

.btn-primary {
    background-image: #1798d4;
    color:#fff !important;
    border:1px solid #1798d4 !important;
}

  