.tutorials {
    background: rgb(8, 53, 48) !important;
    flex: 1;
    color: #fff;
    padding: 100px;
    text-align: center;
  }
  
  .forms {
    flex: 1;
    padding: 20px;
    text-align: center;

  }
  .myrow {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  