<div class="myrow">
    <div class="tutorials">
      <h2>Forgot Your Password ?</h2>
      <p>
        Access relevant business opportunities and events to build your socilal
        capital.
      </p>
    </div>
    <div class="forms">
  
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Reset My Password</button>

      </form> 
    </div>
  </div>
  