<section>
        <nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" routerLink="/login">ImukaAccess</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto ">
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/signup">Create Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/create_organisation">Add support Organisation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card text-white bg-success mb-3" style="max-width: 100% ;">
                            <div class="card-header">Thank you for joining ImukaAccess!.</div>
                            <div class="card-body">
                                    <p>To verify your account, Check your Email address <span style="color:#eee; margin:4px; font-size:15px; font-weight:500;">{{currentuser.email}}</span> for the Verification code we sent you and enter it below.</p>
                                    <form [formGroup]="verform">
                                        <div class="form-group">
                                        <label for="code">Verification code</label>
                                        <input type="text" class="form-control" id="code" placeholder="Enter Code"  formControlName="code" [class.invalid]="verform.controls.code.invalid">
                                        </div>
                                        <div class="alert alert-danger error_msg" *ngIf="error">{{error_message}}</div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <button type="submit" class="btn btn-primary btn-block" (click)="verify()">Verify Account</button>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-warning btn-block" (click)="resend_code()">Resend Code</button>
                                            </div>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <ng4-loading-spinner  [timeout]="10000" [zIndex]="9999"></ng4-loading-spinner>
    </section>
    
    
      