.tutorials {
    background: #1798d4!important;
    flex: 1;
    color: #fff;
    padding: 100px;
    text-align: center;
  }
  
  .forms {
    flex: 1;
    padding: 20px;
    text-align: center;

  }
  .myrow {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  