
.main{
  background:#17597a;
  height:100vh !important;
  width:100vw;
  display: flex;
  .center{
      margin:auto;
      color:#fff;
      padding: 50px;
      text-align: center;
      background: rgba(221, 153, 153, 0.479);
      border-radius: 3px;
  }

}