<div class="body"> 
    <app-header></app-header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <div class="paper">
                        <div class="invoice_header">
                            <p>Invoice by ImukaAccess</p>
                        </div>
                        <hr>
                            <div class="form-group">
                                <label for="inputPassword" class="col-form-label">Select due date.</label>
                                <input type="date" class="form-control" name="expiry_date" [(ngModel)]="expiry_date"/>
                            </div>
                            <hr/>

                            <h3>{{business?.business_name}}</h3>
                            <p>+256788127712</p>
                            <p>P.obox 291092</p>

                            <hr>

                            <p>Select receipient business,  if business not available please them to join imukaaccess.</p>
                            <select [(ngModel)]="receipient" name="receipient " class="form-control">
                                <option> Select receipient business</option>
                                <option  *ngFor="let business of allbusiness" value="{{business?.business_id}}" > {{business?.business_name}}</option>
                                
                            </select>

                            <hr/>
                            <div class="form-group">
                                <label for="inputPassword" class="col-form-label">Type a short message</label>
                                <textarea class="form-control" name="message" [(ngModel)]="message" id="exampleFormControlTextarea1" rows="2"></textarea>
                            </div>
                            
                            <hr>
                                     <form [formGroup]="invoiceForm">
                        
                            <p>Add items and details conceringin this inovice. the total will be calculated automatically.</p>
                            <table class="table table-stripped table-bordered">
                                <thead>
                                    <tr>
                                        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                                    </tr>
                                </thead>
                                <ng-container formArrayName="itemRows">
                                    <tbody>
                                        <tr *ngFor="let ctrl of invoiceForm.get('itemRows')['controls']; let i = index" [formGroupName]="i">
                                            <td>{{i+1}}</td>
                                            <td><input type="text" class="form-control form-control-sm" formControlName="item"></td>
                                            <td><input type="text" class="form-control form-control-sm" formControlName="unit"></td>
                                            <td><input type="text" class="form-control form-control-sm" formControlName="unitprice"></td>
                                            <td><input type="text" class="form-control form-control-sm" formControlName="price"></td>
                                            <td><button class="btn btn-danger btn-sm" *ngIf="invoiceForm.get('itemRows')['controls'].length >= 1" (click)="removeInputField(i)"><span class="fa fa-trash"></span></button></td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <tr>
                                    <td>
                                        <button (click)="addNewRow()" class="btn btn-default">Add partculars</button> 
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div class="submit_btn">
                            <button class="btn btn-primary" (click)="submit_invoice()">Create Invoice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

