body {font-family:arial;}
table{
  width:100% 
}
.first{
    display: flex;
    flex-direction: row;
    font-size:12px;

}
.one{
flex:1
}
.two{
flex:5
}
.three{
flex:3
}
.second{
  display: flex;
  flex-direction: row;
  font-size:12px;
 
}
.three1{
  flex:2;
  float:right
  }
  .two{
    flex:8
    }

form-control{
   border-radius: 0px !important;
}

.paper{
  background: #eee;
  padding:20px;
  border:1px solid #aaa;
  width:80%;
  margin:20px auto;
  form{
    .row{
      .col-md-6{
       
      }
    }
  }
}

input{
  border-bottom:1px solid #aaa;
}

textarea{
  border-bottom:1px solid #aaa;
}